
			<style>
				#table_body tr td {
					line-height: 85px;
				}
				
				.price_wrapper1 {
					margin-left: 0px;
				}
				
				.price_wrapper2 {
					margin-right: 40px;
				}
				
				.menu_circle {
					width: 100px; 
					height: 100px;
				}
				
				.menu_circle_width {
					width: 175px;
				}
				
				.price_row {
					position: absolute; 
					top: 0px; 
					left: 5px; 
					font-size: 125%; 
					font-weight: bold;
					line-height: 60px;
				}
				
				@media screen and (max-width: 980px) {
					
					.menu_circle {
						width: 60px; 
						height: 60px;
					}
					
					.menu_circle_width {
						width: 75px;
					}
					
					.all_row {
						display: none;	
					}
					
					.title_row {
						position: absolute; 
						top: 5px; 
						white-space: nowrap; 
						font-weight: bold; 
						font-size: 80%;	
					}
					
					.price_wrapper1 {
						margin-left: -100px;
					}
					
					.price_wrapper2 {
						margin-right: 15px;
					}
				}
			</style>

			
		<!-- Main -->
			<section id="main" class="wrapper" style="margin-top: 75px;">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.8); padding: 35px; position: relative;">

						<div style="text-align: center;">
<?php if ($vendor_id != ''): ?>
<?php if ($vendor_id == 0): ?>
							<h2>PRODUCTS FROM WWWEED</h2>
<?php else: ?>
							<h2>PRODUCTS FROM <?=$vendor['name']?></h2>
<?php endif; ?>
<?php else: ?>
							<div style="padding: 0 10em;">
								<h3>Product Types</h3>
<?php foreach ($product_types as $id => $product_type): ?>
<?php if ($id == $set_product_type_id): ?>
								<span style="line-height: 50px;"></span><span class="shadow" style="color: white; margin: 10px; padding: 8px 12px; background-color: #0FA18C; border: 2px solid #444444;"><?=$product_type['name']?></span></span>
<?php else: ?>
								<span style="line-height: 50px;"></span><a href="<?=$loader['company']['front_nav_path']?>/menu?product_type=<?=$id?>" class="card" style="margin: 10px; padding: 8px 12px; border: 2px solid #444444;"><?=$product_type['name']?></a></span>
<?php endif; ?>
<?php endforeach; ?>
								<div style="margin: 20px; font-size: 125%; font-weight: bold; color: #0FA18C; border-bottom: 3px solid #0FA18C;">SHOWING: <?=$product_types[$set_product_type_id]['name']?></div>
							</div>
<?php endif; ?>			
						</div>
					
						

						<table id="myTable" class="tablesorter">
							<thead>
								<tr>
									<th>Image</th>
									<th style="width: 180px;">Type</th>
									<th style="width: 200px;">Vendor</th>
									<th style="width: 30%;">Name</th>
									<th>Price(s)</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Image</th>
									<th>Type</th>
									<th>Vendor</th>
									<th>Name</th>
									<th>Price(s)</th>
								</tr>
							</tfoot>
							<tbody id="table_body" style="font-size: 90%;">
<?php foreach ($products as $id => $data): ?>
<?php if ($set_product_type_id == 0 || $set_product_type_id == $data['product_type_id']): ?>
<?php if ($data['product_inventory'] > 0): ?>
<!-- This case is if the product is a direct child of its type -->
								<tr class="card" style="cursor: pointer;" onclick="javascript: submit(<?=$id?>);">
									<td class="menu_circle_width">
<?php if (trim($data['attachment_file_name']) == ''): ?>
										<div data-src="<?=$loader['company']['upload_path']?>missing_pic.jpg" class="menu_circle box_pic lazy" style="border-radius: 50px; background-image: url('<?=$loader['company']['upload_path']?>missing_pic.jpg');">&nbsp;</div>
<?php else : ?>
<?php if (file_exists('./uploads/products/small/' . trim($data['attachment_file_name']))): ?>
										<div data-src="<?=$loader['company']['upload_path']?>products/small/<?=trim($data['attachment_file_name'])?>" class="menu_circle box_pic lazy" style="border-radius: 50px; background-image: url('<?=$loader['company']['upload_path']?>products/small/<?=trim($data['attachment_file_name'])?>');">&nbsp;</div>
<?php else: ?>
										<div data-src="<?=$loader['company']['upload_path']?>missing_pic.jpg" class="menu_circle box_pic lazy" style="border-radius: 50px; background-image: url('<?=$loader['company']['upload_path']?>missing_pic.jpg');">&nbsp;</div>
<?php endif; ?>
<?php endif; ?>
									</td>
									<td style="line-height: 20px; position: relative;"><div><?=$product_types[$data['product_type_id']]['name']?></div></td>
									<td style="line-height: 20px; position: relative;"><div><?=$vendors[$data['vendor_id']]['name']?></div></td>
									<td style="line-height: 20px; position: relative;"><div class="title_row"><?=$data['name']?></div></td>
									<td style="position: relative;">
										<div style="position: absolute; top: 0px; left: 10px; margin-top: -10px; white-space: nowrap;">
<?php if ($data['has_child'] == 0): ?>
											<span style="position: relative; margin-right: 40px;">
												<span style="font-size: 80%; color: #969696;"><?=$data['name']?></span>
												<div style="position: absolute; top: 0px; left: 5px; font-size: 125%; font-weight: bold;">$<?=$data['price']?><span style="font-size: 60%; margin-top: -30px;"></span></div>
											</span>
<?php else: ?>
<?php $count = 120; ?>
											<div class="price_wrapper1" style="white-space: nowrap;">
<?php foreach ($product_sizes[$id] as $id3 => $data3): ?>
												<span class="price_wrapper2" style="position: relative;">
													<span style="font-size: 80%; color: #969696;"><?=$data3['name']?></span>
													<div class="price_row" style="margin-top: 10px;">$<?=$data3['price']?><span style="font-size: 60%; margin-top: -20px;"></span></div>
												</span>
<?php $count -= 40; ?>
<?php endforeach; ?>
											</div>
<?php endif; ?>
										</div>
									</td>
								</tr>

<?php endif; ?>
<?php endif; ?>
<?php endforeach; ?>
							</tbody>
						</table>

						
						
						

					<!-- Content -->
					<div class="content" style="text-align: center;">
					</div>

				</div>
			</section>
			
			<style>
				.marker:hover {
					background-color: #85AF4B;
				}
				
				.input-sm {
					padding: 0 10px;
				}
				
				#table_body tr td {
					padding: 5px;
					line-height: auto;
				}
				
				.mdl-button--colored {
					background-color: #85AF4B;
				}
				
				#example_length {
					position: absolute;
				}
				
				#myTable tfoot {
					margin-top: 20px;
				}
				
			</style>

			<script type="text/javascript">
			$(function() {
				$('.lazy').Lazy();
				
				$('#myTable').DataTable( {
					columnDefs: [
					{
						targets: [ 0, 1, 2 ],
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 100
				});
			});

				function submit(product_id) {
					window.location.href = '/store?product_id=' + product_id;
				}

			</script>
