			<script type="text/javascript" src="../../../tinymce/js/tinymce/tinymce.min.js"></script>
			<script type="text/javascript">
				tinymce.init({
					selector: "#post-text",
					mode: "textareas",
					height: 400,
					plugins: "image, filemanager, link, media",
					theme: "modern", 
					subfolder:"", 
					image_advtab: true, 
					toolbar: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect forecolor backcolor | link unlink anchor | image media | print preview code" 
				});
			</script>
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-header">
					Posts <small></small>
					</h1>
				</div>
			</div> 

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Submit the following fields to update text on your site
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label>Home Page Text</label>
										<textarea id="post-text"></textarea>
									
<!-- 										<textarea class="form-control" ></textarea> -->
									</div>
									<button id="submit" class="btn btn-primary btn-lg">
										Submit
									</button>
									<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h4 class="modal-title" id="myModalLabel">Post Write Complete</h4>
												</div>
												<div class="modal-body">
													Success
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">OK!</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					// set an on click on the button
					$("#submit").click(function () {
						tinyMCE.triggerSave();
						// get the time if clicked via an ajax get queury
						// see the code in the controller time.php
						$.get("/geek-admin/writePost?post=" + encodeURI(tinyMCE.activeEditor.getContent()) + "&post_type=1", function (result) {
							// update the textarea with the time
							$('#myModal').modal('show');
						});
					});
				});

				function closeModal()
				{
					tinyMCE.activeEditor.setContent('test');
// 					document.getElementById('post-text').value = '';
				}
			</script>