



		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Deliveries</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item">Deliveries Main</li>
							<li class="breadcrumb-item active">Delivery Overview</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
						<div class="dropdown pull-right m-r-10 hidden-sm-down">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<?=date('F Y')?>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">February 2017</a>
								<a class="dropdown-item" href="#">March 2017</a>
								<a class="dropdown-item" href="#">April 2017</a>
							</div>
						</div>
						-->
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Sales Overview</h2>
							</div>
							<div class="card-block" style="padding-right: 35px;">
								
								<table id="driver_table" class="table table-striped table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Orders Accepted</th>
											<th>Cash Accepted</th>
											<th>Cash On Hand</th>
											<th>Cash Out</th>
										</tr>
									</thead>
									<tbody>
<?php foreach ($drivers as $user_id => $data): ?>
										<tr>
											<td><?=$user_id?></td>
											<td><?=$data['first_name']?> <?=$data['last_name']?></td>
<?php if (isset($transactions[$user_id])): ?>
											<td><?=count($transactions[$user_id])?></td>
<?php else: ?>
											<td>0</td>
<?php endif; ?>
<?php if (isset($transactions[$user_id])): ?>
<?php $accepted = 0; ?>
<?php $on_hand = 0; ?>
<?php $orders = array(); ?>
<?php foreach ($transactions[$user_id] as $id2 => $data2): ?>
<?php if ($data2['order_delivered'] > 0): ?>
<?php $on_hand += $data2['cost'];?>
<?php $orders[$user_id][] = $data2['id']; ?>
<?php endif; ?>		
<?php $accepted += $data2['cost'];?>						
<?php endforeach; ?>
											<td>$<?=$accepted?></td>
											<td>$<?=$on_hand?></td>
<?php else: ?>
											<td>-</td>
											<td>-</td>
<?php endif; ?>
<?php if (isset($on_hand) && $on_hand > 0): ?>
											<td><button onclick="javascript: cashOut(<?=$user_id?>);" style="width: 100%;"><i class="fa fa-dollar"></i></button></td>
<?php else: ?>
											<td><i class="fa fa-close"></i></td>
<?php endif; ?>			
										</tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script> 
			$(document).ready(function() {	
				$('#driver_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});
			});
			
			function cashOut(user_id) {
				var orders = <?php echo json_encode($orders) ?>

				$.ajax({
					url: "<?=$company_info['nav_path']?>cashOutAction",
					type: 'post',
					dataType: 'html',
					data: {
						orders: orders[user_id]
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Mission Accomplished!",   
								text: 'You have successfully cashed out your current holdings.',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								closeOnConfirm: false 
								}, 
								function(){   
									window.location.replace('<?=$company_info['nav_path']?>delivery-overview');
								});
						} else {
							alert(data);
						}
					} 
				});
			}
		</script>
		
		