		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Inventory</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>view-vendor">View Vendors</a></li>
<?php if($vendor_id > 0): ?>
							<li class="breadcrumb-item active" style="font-weight: bold;">Edit Vendor</li>
<?php else: ?>
							<li class="breadcrumb-item active" style="font-weight: bold;">Create Vendor</li>
<?php endif; ?>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
<?php if($vendor_id > 0): ?>
								<h2 class="card-title text-white" style="float: left;">Edit Vendor Data</h2>
<?php else: ?>
								<h2 class="card-title text-white" style="float: left;">New Vendor Data</h2>
<?php endif; ?>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
								<div class="row">
							<div class="col-lg-6 col-sm-12">
								<label>Name</label>
								<div class="input-group">
<?php if($vendor_id > 0): ?>
								<input id="name" class="form-control" value="<?=$vendor['name']?>">
<?php else: ?>
								<input id="name" class="form-control">
<?php endif; ?>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<label>Rep Name</label>
								<div class="input-group">
<?php if($vendor_id > 0): ?>
								<input id="rep_name" class="form-control" value="<?=$vendor['rep_name']?>">
<?php else: ?>
								<input id="rep_name" class="form-control">
<?php endif; ?>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<label>Phone Number</label>
								<div class="input-group">
<?php if($vendor_id > 0): ?>
								<input id="phone" class="form-control" value="<?=$vendor['phone']?>">
<?php else: ?>
								<input id="phone" class="form-control">
<?php endif; ?>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<label>Address</label>
								<div class="input-group">
<?php if($vendor_id > 0): ?>
								<input id="address" class="form-control" value="<?=$vendor['address']?>">
<?php else: ?>
								<input id="address" class="form-control">
<?php endif; ?>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<label>Website</label>
								<div class="input-group">
<?php if($vendor_id > 0): ?>
								<input id="website" class="form-control" value="<?=$vendor['website']?>">
<?php else: ?>
								<input id="website" class="form-control">
<?php endif; ?>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<div>
									<label>Featured Image: </label>
									<div style="position: relative;">
										<div class="input-group">
<?php if($vendor_id == 0): ?>
											<input id="attachment" type="text" class="form-control">					
<?php else: ?>
											<input id="attachment" type="text" class="form-control" value="<?=$vendor['attachment_file_name']?>">
<?php endif; ?>
											<div style="position: absolute; right: 75px; margin-top: 8px; z-index: 11111;">
												<i class="fa fa-arrow-right"></i>
											</div>
											<span class="input-group-btn">
												<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
													&nbsp;&nbsp;&nbsp;<i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;
												</button>
											</span>
										</div>
									</div>
								</div>
<?php if($vendor_id > 0): ?>
									<a class="image-popup-vertical-fit btn btn-info" href="<?=$company_info['upload_path']?><?=$vendor['attachment_file_name']?>" title="" style="width: 100%;"><i class="fa fa-arrow-up"></i> Click to see vendor's profile image <i class="fa fa-arrow-up"></i></a>
									
<?php endif; ?>
							</div>
							<div class="col-lg-12" style="margin-top: 25px;">
								<div>Description</div>
								<div class="form-group">
<?php if($vendor_id > 0): ?>
									<textarea id="description"><?=$vendor['description']?></textarea>
<?php else: ?>
									<textarea id="description"></textarea>
<?php endif; ?>
								</div>
								<button id="submit" class="btn btn-primary btn-lg" style="width: 100%;">
									Submit
								</button>
								
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

			
			<script type="text/javascript">
				tinymce.init({
					selector: "#description",
					mode: "textareas",
					height: 400,
					theme: "modern",
					plugins: [
						"autolink link image lists charmap print preview hr anchor pagebreak",
						"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
						"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
					],
					toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
					toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
					image_advtab: true ,
					external_filemanager_path:"/filemanager/",
					filemanager_title:"Responsive Filemanager" ,
					external_plugins: { "filemanager" : "/filemanager/plugin.min.js"},
					branding: false
				});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();
			</script>

			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						
						do {

							if (document.getElementById('name').value == '') {
								swal('You must enter a name for a vendor.');
								break;
							}
						
							if (document.getElementById('attachment').value == '') {
								swal('Please select an attachment file.');
								break;
							}
							
							
							tinyMCE.triggerSave();
							
							$.ajax({
								url: "<?=$company_info['nav_path']?>writeVendor",
								type: 'post',
								dataType: 'html',
								data: {
									rep_name: document.getElementById('rep_name').value, 
									phone: document.getElementById('phone').value, 
									address: document.getElementById('address').value, 
									website: document.getElementById('website').value, 
									name: document.getElementById('name').value, 
									description: tinyMCE.activeEditor.getContent(), 
									attachment: document.getElementById('attachment').value, 
									vendor_id: <?=$vendor_id?>},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: "This vendor info has been updated",
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>vendor');
											});
									} else {
										alert('An error has occurred.');
										console.log(data);
									}
								} 
							});
						} while(false);
					});

					$("#delete").click(function () {
						swal({   
							title: "Confrim Delete",   
							text: 'Are you sure you want to delete this product?',
							type: "warning",    
							showCancelButton: true,
							cancelButtonText: "No, go back",
							confirmButtonColor: "#15A59B",   
							confirmButtonText: "Yes!",   
							}).then(function(){   
								confirmDelete();
							});
					});
				});

				function confirmDelete() {
					$.ajax({
						url: "<?=$company_info['nav_path']?>deletevendor",
						type: 'post',
						dataType: 'html',
						data: {vendor_id: <?=$vendor_id?>},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Product Deleted",   
									text: 'This vendor has been deleted',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location.replace('<?=$company_info['nav_path']?>vendor');
									});
							} else {
								alert('An error has occurred.');
								console.log(data);
							}
						} 
					});
				} 

			</script>