


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Sales</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active">Edit Sale</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
					</div>
				</div>

						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Edit Transaction <i class="fa fa-pencil"></i></h2>								
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: confirmDelete();">Delete Order <span class="fa fa-exclamation-triangle"></span></button>
							</div>
							<div class="card-block">
								<div class="row" style="margin: 0 0 10px 5px; width: 100%; font-size: 160%;">
									
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										<label>Patient Name: </label><br>
										<span style="margin-left: 15px;"><?=$user['first_name']?> <?=$user['last_name']?></span>
										<hr>
									</div>
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										<label>Patient Phone Number: </label><br>
										<span style="margin-left: 15px;"><a href="tel:<?=$user['phone']?>"><?=$user['phone']?></a></span>
										<hr>
									</div>
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										<label>Patient Address: </label><br>
										<span style="margin-left: 15px;"><?=$user['address']?>, <?=$user['city']?>, <?=$user['zip']?></span>
										<hr>
									</div>
									<div class="4u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										<label>Order Time: </label><br>
<?php $string1 = explode(' ', $sale['created_date']); ?>
<?php $string2 = explode(':', $string1[1]); ?>
<?php date_default_timezone_set('America/Los_Angeles'); ?>
<?php $time = date("g:i", strtotime($string2[0] . ':' . $string2[1])); ?>
										<div class="row">
											<div class="6u">
												<div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
													<input type="text" id="time" class="form-control" value="<?=$time?>"> 
													<span class="input-group-addon"> <span class="fa fa-clock-o"></span></span>
												</div>
											</div>
											<div class="6u">
												<div class="input-group">
													<input type="text" id="date" class="form-control mydatepicker" placeholder="mm/dd/yyyy" value="<?=str_replace('-', '/', substr($string1[0], 5)) . '/' . substr($string1[0], 0, 4)?>">
													<span class="input-group-addon"><i class="icon-calender"></i></span> 
												</div>
											</div>
										</div>
										
										<hr>
									</div>
									<div class="3u 6u(xl) 12u(s)" style="margin-bottom: 35px;">
										
<?php if ($transaction['alt_cost'] > 0): ?>
										<label>Amount Due: <span style="font-size: 50%; color: red;">Altered Cost</span></label><br>
										<input class="form-control" type="search" id="alt_cost" value="<?=$transaction['alt_cost']?>" style="text-align: center;">
<?php else: ?>
										<label>Amount Due: </label><br>
										<input class="form-control" type="search" id="alt_cost" value="<?=$transaction['cost']?>" style="text-align: center;">
										
<?php endif; ?>			
										<hr>
									</div>
									<div class="5u 6u(xl) 12u(s)" style="margin-bottom: 50px;">
										<label>Order Contents: </label><br>
<?php $count = 1;?>
<?php foreach($products as $id => $data): ?>
										<div style="margin-left: 15px; margin-top: 3px;">
											<button class="btn btn-info" style="background-color: #ed5e3b;" onclick="javascript: confirmDelete();"><span class="fa fa-close"></span></button>
											<?=$count?>) <b><?=$data['name']?></b> - <?=$data['size']['name']?>
										</div>
<?php $count++; ?>
<?php endforeach; ?>
										<hr>
									</div>
									<div class="12u">
										<div>
											<button class="btn btn-info" style="padding: 15px; width: 100%;" onclick="javascript: submitChanges();">Submit Changes</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>

			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {

					$('.clockpicker').clockpicker({
				        donetext: 'Done',
				    }).find('input').change(function() {
				        console.log(this.value);
				    });
					
					jQuery('.mydatepicker, #datepicker').datepicker();
				
<?php if ($transaction_id > 0): ?>
					$("#accept_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>accept-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({   
										title: "Order Acccepted!",   
										text: 'You have now reserved this delivery. Please contact us if any issues arise.',
										type: "success",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										closeOnConfirm: false 
										}, 
										function(){   
											window.location.replace('<?=$company_info['nav_path']?>deliveries');
										});
								} else {
									alert(data);
								}
							} 
						});
					});

					$("#complete_order").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>complete-order",
							type: 'post',
							dataType: 'html',
							data: {
								transaction_id: <?=$transaction['id']?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({   
										title: "Order Delivered!",   
										text: 'This order will now be marked as complete.',
										type: "success",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										closeOnConfirm: false 
										}, 
										function(){   
											window.location.replace('<?=$company_info['nav_path']?>deliveries');
										});
								} else {
									alert(data);
								}
							} 
						});
					});
<?php endif; ?>
				});
				
				function confirmDelete() {
					swal({   
						title: "Delete Order?",   
						text: 'Are you sure you want to delete this sale?',
						type: "warning",    
						confirmButtonColor: "#15A59B",   
						confirmButtonText: "Delete!",
						cancelButtonText: "Cancel", 
						closeOnConfirm: false 
						}, 
						function(){   
							$.ajax({
								url: "<?=$company_info['nav_path']?>deleteSale",
								type: 'post',
								dataType: 'html',
								data: {
									sale_id: <?=$sale['id']?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Sale Deleted!",   
											text: 'You will now be taken back to the sales page.',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											closeOnConfirm: false 
											}, 
											function(){   
												window.location.replace('<?=$company_info['nav_path']?>sales');
											});
									} else {
										alert(data);
									}
								} 
							});
						});
					
				} 

				function submitChanges() {
	
					$.ajax({
						url: "<?=$company_info['nav_path']?>editSaleAction",
						type: 'post',
						dataType: 'html',
						data: {
							time: document.getElementById('time').value,
							date: document.getElementById('date').value,
							alt_cost: document.getElementById('alt_cost').value,
							transaction_id: <?=$transaction['id']?>
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Mission Accomplished!",   
									text: 'This transaction has been updated.',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									closeOnConfirm: false 
									}, 
									function(){   
										window.location.replace('<?=$company_info['nav_path']?>view-sale?sale_id=<?=$sale['id']?>');
									});
							} else {
								alert(data);
							}
						} 
					});
					
				} 

			</script>

			