		
<?php if ($user['deleted'] == 0): ?>
			<script type="text/javascript">
				tinymce.init({
					selector: "#post_text",
					mode: "textareas",
					height: 400,
					theme: "modern",
					plugins: [
						"autolink link image lists charmap print preview hr anchor pagebreak",
						"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
						"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
					],
					toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
					toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
					image_advtab: true ,
					external_filemanager_path:"/filemanager/",
					filemanager_title:"Responsive Filemanager" ,
					external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
				});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();
			</script>
			

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">
<?php if($user_id > 0): ?>
<?php if($user['user_type_id'] == 4): ?>
							Phone Operator - 
							<small>Edit Phone Operator Record</small>
<?php else: ?>
							<?=$user['first_name']?> <?=$user['last_name']?> - 
							<small>Edit User Data</small> 
							
							
							<style>
								#undercover {
									background-color: #21A2F2;
								}
			
								#undercover:hover {
									background-color: #175c84;
								}
							</style>
							

<?php endif; ?>
<?php else: ?>
<?php if($user_type_id == 4): ?>
							Phone Operator - 
							<small>Create New Phone Operator Record</small>
<?php elseif($user_type_id == 3): ?>
							Delivery Driver - 
							<small>Create New Delivery Driver Record</small>
<?php elseif($user_type_id == 5): ?>
							Employees - 
							<small>Create New Employee Record</small>
<?php elseif($user_type_id == 6): ?>
							Sales Rep - 
							<small>Create New Sales Rep Record</small>
<?php else: ?>
							Client - 
							<small>Create New Client</small>
<?php endif; ?>
<?php endif; ?>
						</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>memberships">Users Main</a></li>
<?php if($user_id > 0): ?>
							<li class="breadcrumb-item active" style="font-weight: bold;">Edit User</li>
<?php else: ?>
							<li class="breadcrumb-item active" style="font-weight: bold;">Create New User</li>
<?php endif; ?>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
<?php if($user_id > 0 && count($sales) > 0): ?>
						<a href="#sales_row" class="btn pull-right btn-success" style="background-color: #01C0C8; margin-left: 25px; margin-top: 5px;">To User Sales <span class="fa fa-chevron-down"></a>
<?php endif; ?>
<?php if ($user_id > 0 && $user['user_type_id'] == 2): ?>
						<button id="undercover" class="btn pull-right btn-success" onclick="javascript: goUndercover()" style="margin-top: 5px; background-color: #F62D51; font-size: 120%; margin-left: 25px;"><i class="mdi mdi-account-alert"></i><span class="hidden-sm-down"> View site as client</span></button>
<?php endif; ?>
<?php if($user_id > 0): ?>
<?php if ($user['active'] == 0 && $user['user_type_id'] == 2): ?>
						<button id="activate" class="btn pull-right btn-success text-themecolor" style="margin-top: 5px; background-color: #FFE32F; font-size: 120%; border: 1px solid #FFA32F;"><i class="mdi mdi-alert-octagram"></i> ACTIVATE USER! <i class="mdi mdi-alert-octagram"></i></button>


<?php endif; ?>
<?php endif; ?>

					</div>
				</div>
				
				<div class="row">
                    <!-- Column -->
<?php if ($user_id > 0): ?>



                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
<?php if ($user['profile_image'] != '' && file_exists($company_info['exists_path'] . $user['profile_image'])): ?>
								<center class="m-t-30"> 
								<div class="box_pic" style="width: 150px; height: 0; height: 150px; background-image: url('<?=$company_info['upload_path']?><?=$user['profile_image']?>');">&nbsp;</div>
<?php  else: ?>
								<center class="m-t-30"> <i class="fa fa-user-circle" style="width: 150px; height: 150px; font-size: 800%;"></i>
<?php endif; ?>
                                    <h4 class="card-title m-t-10"><?=$user['first_name']?> <?=$user['last_name']?></h4>

<?php if ((isset($_SESSION['admin_user']) && $loader['admin_user_type_id'] == $_SESSION['admin_user']['user_type_id']) || $_SESSION['admin_user_id'] == $user_id): ?>
									<h6 class="card-subtitle"><a href="<?=$company_info['nav_path']?>change-password?user_id=<?=$user['id']?>" class="btn btn-info">Change Password</a></h6>
<?php endif; ?>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="fa fa-calendar"></i> <font class="font-medium"><?=substr($user['created_date'], 0, 11)?></font></a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="fa fa-dollar"></i> <font class="font-medium"><?=$total_sales?> (<?=count($transactions)?>)</font></a></div>
                                    </div>
                                </center>
                            </div>
                            <div>
                                <hr> </div>
                            <div class="card-body" style="padding: 15px;"> <small class="text-muted">Email address </small>
                                <h6><?=$user['email']?></h6> 
                                <small class="text-muted p-t-30 db">Phone</small>
                                <h6><?=$user['phone']?></h6> 
                                <small class="text-muted p-t-30 db">Address</small>
<?php if ($user['address'] == ''): ?>
								<h6>No Address Set</h6>
<?php else: ?>
								<h6><?=$user['address']?></h6>
                                <div class="map-box">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCJ4ZsEs4RmxYBnB7P4k2YQkxxL01RSfA8&q=<?=str_replace(' ', '+', $user['address'])?>,<?=str_replace(' ', '+', $user['city'])?>+<?=str_replace(' ', '+', $user['state'])?>" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
<?php endif; ?>
                                <!-- 
                                Social Media Profiles <i class="fa fa-chevron-down"></i>
                                <br/>
                                <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button> -->
                            </div>
                        </div>
                    </div>
<?php endif; ?>


<?php if ($user_id > 0): ?>
					<div class="col-lg-8 col-xlg-9 col-md-7">
<?php else: ?>
					<div class="col-lg-12">
<?php endif; ?>
                        <div class="card">
                        <?php if($user_id > 0): ?>							
							<div id="delete" class="btn btn-info" style="background-color: red; color: white; position: absolute; top: 10px; right: 10px;"><span class="fa fa-exclamation-triangle"></span> Delete User</div>
<?php endif; ?>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                            	<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">User Information</a> </li>
                            	
<?php if ($user_id > 0): ?>
								<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#home" role="tab">Timeline</a> </li>
<?php endif; ?>
                                <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>-->
                                
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane" id="home" role="tabpanel">
                                    <div class="card-body" style="padding: .7em;">
                                        <div class="profiletimeline">
                                        	<div class="sl-item">
                                                <div class="sl-left"> <i class="fa fa-user-circle" style="width: 40px; height: 40px; font-size: 250%;"></i> </div>
                                                <div class="sl-right">
                                                    <div>
                                                        <p>No actions performed yet.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- 
                                            <div class="sl-item">
                                                <div class="sl-left"> <i class="fa fa-user-circle" style="width: 40px; height: 40px; font-size: 250%;"></i> </div>
                                                <div class="sl-right">
                                                    <div><span class="sl-date">5 minutes ago</span>
                                                        <p>assign a new task <a href="#"> Design weblayout</a></p>
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="../assets/images/big/img1.jpg" class="img-responsive radius" /></div>
                                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="../assets/images/big/img2.jpg" class="img-responsive radius" /></div>
                                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="../assets/images/big/img3.jpg" class="img-responsive radius" /></div>
                                                            <div class="col-lg-3 col-md-6 m-b-20"><img src="../assets/images/big/img4.jpg" class="img-responsive radius" /></div>
                                                        </div>
                                                        <div class="like-comm"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                             -->
                                        </div>
                                    </div>
                                </div>
                                <!--second tab-->
                                <div class="tab-pane" id="profile" role="tabpanel">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                                                <br>
                                                <p class="text-muted">Johnathan Deo</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                                                <br>
                                                <p class="text-muted">(123) 456 7890</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                                                <br>
                                                <p class="text-muted">johnathan@admin.com</p>
                                            </div>
                                            <div class="col-md-3 col-xs-6"> <strong>Location</strong>
                                                <br>
                                                <p class="text-muted">London</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p>
                                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <h4 class="font-medium m-t-30">Skill Set</h4>
                                        <hr>
                                        <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                        <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                                        </div>
                                    </div>
                                </div>

								<div class="tab-pane active" id="settings" role="tabpanel">
									<div class="card-body" style="padding: .7em; padding-top: 25px;">
										<div class="form-horizontal form-material row">
<?php if ($company_info['wholesale'] == 1 && $user['user_type_id'] == 2): ?>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Client Name</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="first_name" type="text" class="form-control form-control-line" value="<?=$user['first_name']?>">
<?php else: ?>
														<input id="first_name" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
<?php else: ?>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">First Name</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="first_name" type="text" class="form-control form-control-line" value="<?=$user['first_name']?>">
<?php else: ?>
														<input id="first_name" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
	
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Last Name</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="last_name" type="text" class="form-control form-control-line" value="<?=$user['last_name']?>">
<?php else: ?>
														<input id="last_name" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
<?php endif; ?>
											
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Login Name</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="login" type="text" class="form-control form-control-line" value="<?=$user['login']?>">
<?php else: ?>
														<input id="login" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
											
<?php if($user_id == 0): ?>	
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Password</label>
													<div class="col-md-12">
														<input id="password" type="password" class="form-control form-control-line">
													</div>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Repeat Password</label>
													<div class="col-md-12">
														<input id="password2" type="password" class="form-control form-control-line">
													</div>
												</div>
											</div>
<?php endif; ?>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">
														Profile Image: 
<?php if($user_id > 0): ?>
														<a class="image-popup-vertical-fit btn btn-info" href="<?=$company_info['upload_path']?><?=$user['profile_image']?>" title="" style="font-size: 65%;">Preview Image</a>
<?php endif; ?>
													</label>
													<div class="col-md-12">
<?php if($user_id == 0): ?>
														
														<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=profile_image&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="width: 100%; background-color: transparent; color: white;">
															<input id="profile_image" type="text" class="form-control form-control-line" style="cursor: pointer;">
														</button>
<?php else: ?>
<?php if ($user['profile_image'] == ''): ?>
														<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=profile_image&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="width: 100%; background-color: transparent; color: white;">
															<input id="profile_image" type="text" class="form-control form-control-line" style="cursor: pointer;">
														</button>
<?php else: ?>
														<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=profile_image&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="width: 100%; background-color: transparent; color: white;">
															<input id="profile_image" type="text" class="form-control form-control-line" style="cursor: pointer;" value="<?=$user['profile_image']?>">
														</button>
<?php endif; ?>
<?php endif; ?>
													</div>
													
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Street Address</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="address" type="text" class="form-control form-control-line" value="<?=$user['address']?>">
<?php else: ?>
														<input id="address" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">City</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="city" type="text" class="form-control form-control-line" value="<?=$user['city']?>">
<?php else: ?>
														<input id="city" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">State</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="state" type="text" class="form-control form-control-line" value="<?=$user['state']?>">
<?php else: ?>
														<input id="state" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>

											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">ZIP Code</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="zip" type="text" class="form-control form-control-line" value="<?=$user['zip']?>">
<?php else: ?>
														<input id="zip" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>

											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Email</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="email" type="email" class="form-control form-control-line" value="<?=$user['email']?>">
<?php else: ?>
														<input id="email" type="email" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Phone #</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="phone" type="text" class="form-control form-control-line" value="<?=$user['phone']?>">
<?php else: ?>
														<input id="phone" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>

											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">
														User License File: 
<?php if($user_id > 0): ?>
														<a class="image-popup-vertical-fit btn btn-info" href="<?=$company_info['upload_path']?>clients/<?=$company_info['db_name']?>/<?=$user['id_file_name']?>" title="" style="font-size: 65%;">Preview Image</a>
<?php endif; ?>
													</label>
													<div class="col-md-12">
<?php if($user_id == 0): ?>
														
														<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=id_file&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="width: 100%; background-color: transparent; color: white;">
															<input id="id_file" type="text" class="form-control form-control-line" style="cursor: pointer;">
														</button>
<?php else: ?>
<?php if (substr($user['id_file_name'], 8) == ''): ?>
														<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=id_file&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="width: 100%; background-color: transparent; color: white;">
															<input id="id_file" type="text" class="form-control form-control-line" style="cursor: pointer;">
														</button>
<?php else: ?>
														<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=id_file&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="width: 100%; background-color: transparent; color: white;">
															<input id="id_file" type="text" class="form-control form-control-line" style="cursor: pointer;" value="<?=substr($user['id_file_name'], 8)?>">
														</button>
<?php endif; ?>
<?php endif; ?>
													</div>
													
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">
														User Rec File: 
<?php if($user_id > 0): ?>
														<a class="image-popup-vertical-fit btn btn-info" href="<?=$company_info['upload_path']?>clients/<?=$company_info['db_name']?>/<?=$user['id_file_name']?>" title="" style="font-size: 65%;">Preview Image</a>
<?php endif; ?>
													</label>
													<div class="col-md-12">
<?php if($user_id == 0): ?>
														<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=rec_file&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="width: 100%; background-color: transparent; color: white;">
															<input id="rec_file" type="text" class="form-control form-control-line" style="cursor: pointer;">
														</button>
<?php else: ?>
<?php if (substr($user['rec_file_name'], 8) == ''): ?>
														<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=rec_file&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="width: 100%; background-color: transparent; color: white;">
															<input id="rec_file" type="text" class="form-control form-control-line" style="cursor: pointer;">
														</button>
<?php else: ?>
														<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=rec_file&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="width: 100%; background-color: transparent; color: white;">
															<input id="rec_file" type="text" class="form-control form-control-line" style="cursor: pointer;" value="<?=substr($user['id_file_name'], 8)?>">
														</button>
<?php endif; ?>
<?php endif; ?>
													</div>
													
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Rec Expiration date</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
<?php if ($user['rec_expiration'] == '0000-00-00'): ?>
														<input type="text" class="form-control mydatepicker" id="expiration" placeholder="Click to select a date">
<?php else: ?>
														<input type="text" class="form-control mydatepicker" id="expiration" placeholder="Click to select a date" value="<?=$user['rec_expiration']?>">
<?php endif; ?>
<?php else: ?>
														<input type="text" class="form-control mydatepicker" id="expiration" placeholder="Click to select a date">
<?php endif; ?>
													</div>
												</div>
											</div>
											
											<script>
												$('.mydatepicker, #datepicker').datepicker({ dateFormat: 'yyyy-mm-dd' });
											</script>
											
									
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Balance</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="balance" type="text" class="form-control form-control-line" value="<?=$user['balance']?>">
<?php else: ?>
														<input id="balance" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Referral_name</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="referral_name" type="text" class="form-control form-control-line" value="<?=$user['referral_name']?>">
<?php else: ?>
														<input id="referral_name" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">
														Referral ID
<?php if ($user_id > 0 && $user['referral_id'] == 0 && $user['referral_name'] != ''): ?>
														<span style="color: red;">UPDATE THIS! THERE IS A REFERRAL!</span>
<?php endif; ?>
													</label>
													<div class="col-md-12">
<?php if($user_id > 0): ?>
														<input id="referral_id" type="text" class="form-control form-control-line" value="<?=$user['referral_id']?>">
<?php else: ?>
														<input id="referral_id" type="text" class="form-control form-control-line">
<?php endif; ?>
													</div>
												</div>
											</div>
											
											
											
											<div class="col-lg-6">
												<div class="form-group">
													<label class="col-sm-12" style="font-weight: bold;">Membership Level</label>
													<div class="col-sm-12">
														<select id="membership_level" class="form-control form-control-line" onchange="javascript: changeMembership();">
<?php foreach($membership_options as $id => $data): ?>
<?php if ($user_id > 0): ?>
<?php if($user['membership'] == $id): ?>
															<option value="<?=$id?>" selected><?=$data?></option>
<?php else: ?>
<?php if($id == 1): ?>
															<option value="<?=$id?>" style="color: green;"><?=$data?></option>
<?php elseif($id == 2): ?>
															<option value="<?=$id?>" style="color: #f7a636;"><?=$data?></option>
<?php elseif($id == 3): ?>
															<option value="<?=$id?>" style="color: black;"><?=$data?></option>
<?php else: ?>
															<option value="<?=$id?>" style="color: grey;"><?=$data?></option>
<?php endif;?>
<?php endif; ?>
<?php else: ?>
															<option value="<?=$id?>"><?=$data?></option>
<?php endif; ?>
<?php endforeach; ?>
														</select>
														<div id="membership_alert" style="color: red; text-align: center; display: none;"></div>
													</div>
												</div>
											</div>
											
											<div class="col-lg-12">
												<div class="form-group">
													<label class="col-md-12" style="font-weight: bold;">Notes</label>
													<div class="col-md-12">
														<textarea id="notes" rows="5" class="form-control form-control-line" style="text-align: left;">
<?php if ($user_id > 0): ?>
															<?=$user['notes']?>
<?php endif; ?>
														</textarea>
													</div>
												</div>
											</div>

											
											
											<div class="col-lg-12" style="font-weight: bold;">
												<div id="submit" class="btn btn-success" style="width: 100%;padding: 15px;">Update Profile</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


<?php else: ?>

<?php endif; ?>
						
						
<?php if($user_id > 0 && count($sales) > 0): ?>		
						<div class="card card-outline-info" id="sales_row">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Past Sales For <?=$user['first_name']?> <?=$user['last_name']?> - $<?=$total_sales?> (<?=count($transactions)?> Sales)</span></h2>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">

								<div class="table-responsive">
									<table class="table table-hover">
									
										<thead>
											<tr>
												<th style="width: 50px;">ID</th>
												<th style="width: 100px;">Purchase Date</th>
												<th style="width: 400px;">Sale</th>
												<th style="width: 300px;">Cost</th>
											</tr>
										</thead>
										<tbody>
<?php foreach ($transactions as $id => $data): ?>
											<tr>
												<td><?=$id?></td>
												<td><?=$data['created_date']?></td>

												<td>
<?php $count = 1; ?>
<?php foreach ($data['product_sizes'] as $product_size_id => $data2): ?>
													<?=$products[$data2['product_id']]['name']?> - <?=$product_sizes[$data2['product_size_id']]['name']?> x<?=$data2['quantity']?>
<?php if (count($data['product_sizes']) > 0): ?>
<?php if (count($data['product_sizes']) > $count): ?>
													<span style="font-weight: bold;">&nbsp; / &nbsp;</span>
<?php endif; ?>
<?php endif; ?>
<?php $count++; ?>
<?php endforeach; ?>					
												</td>
<?php if ($data['alt_cost'] > 0): ?>
												<td>$<?=$data['alt_cost']?></td>	
<?php else: ?>
												<td>$<?=$data['cost']?></td>	
<?php endif; ?>
											</tr>
<?php endforeach; ?>
										</tbody>
									</table>
								</div>
							</div>
						</div>
<?php endif; ?>	
					</div>
				</div>


			<script> 
				
				$( document ).ready(function () {
					jQuery('.datepicker').datepicker({
						autoclose: true,
						todayHighlight: true
					});
				
					if (document.getElementById('membership_level').value == 1) {
						document.getElementById('membership_level').style.border = '3px solid green';
					} else if (document.getElementById('membership_level').value == 2) {
						document.getElementById('membership_level').style.border = '3px solid #fcb040';
					} else if (document.getElementById('membership_level').value == 3) {
						document.getElementById('membership_level').style.border = '3px solid black';
					} else {
						document.getElementById('membership_level').style.border = '1px solid #CCCCCC';
					}
					
					$("#submit").click(function () {
						var pass = true;
						
						if (document.getElementById('first_name').value == '') {
							swal('You must enter a first name for a user.');
							pass = false;
						}

<?php if ($company_info['wholesale'] == 1 && $user['user_type_id'] == 2): ?>

<?php else: ?>
						if (document.getElementById('last_name').value == '') {
							swal('You must enter a last name for a user.');
							pass = false;
						}
<?php endif; ?>
						
						
<?php if($user_type_id != 5): ?>
						if (document.getElementById('email').value == '') {
							swal('You must enter an email for this user.');
							pass = false;
						}
<?php endif; ?>
<?php if($user_id == 0): ?>	
						if (document.getElementById('password').value == '') {
							swal('You must enter a new password.');
							pass = false;
						}
						
						if (document.getElementById('password2').value == '') {
							swal('You must re-enter your new password.');
							pass = false;
						}

						if (document.getElementById('password2').value != document.getElementById('password').value) {
							swal('Passwords must much.');
							pass = false;
						}
<?php endif; ?>
						

						if (pass == true) {
							$.ajax({
								url: "<?=$company_info['nav_path']?>writeUser",
								type: 'post',
								dataType: 'html',
								data: {
<?php if($user_id > 0): ?>
									id: <?=$user['id']?>,
<?php else: ?>
									id: 0,
<?php endif; ?>
<?php if($user_type_id == 2): ?>
									login: '',
<?php else: ?>
									login: document.getElementById('login').value,
<?php endif; ?>
									first_name: document.getElementById('first_name').value,
									
<?php if ($company_info['wholesale'] == 1 && $user['user_type_id'] == 2): ?>
									last_name: '',
<?php else: ?>
									last_name: document.getElementById('last_name').value,
<?php endif; ?>
									
									email: document.getElementById('email').value, 
									phone: document.getElementById('phone').value,
									address: document.getElementById('address').value,
<?php if($user_id == 0): ?>	
									password: document.getElementById('password').value,
<?php else: ?>
									password: '',
<?php endif; ?>
									city: document.getElementById('city').value,
									state: document.getElementById('state').value,
									expiration: document.getElementById('expiration').value,
									zip: document.getElementById('zip').value,
									referral_id: document.getElementById('referral_id').value,
									referral_name: document.getElementById('referral_name').value,
									membership_level: document.getElementById('membership_level').value,
									balance: document.getElementById('balance').value,
									notes: document.getElementById('notes').value,
									profile: document.getElementById('profile_image').value,
									id_file: 'uploads/' + document.getElementById('id_file').value,
									rec_file: 'uploads/' + document.getElementById('rec_file').value,
									user_type_id: <?=$user_type_id?>
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: 'This user information has been updated',
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.href = '<?=$company_info['nav_path']?>memberships';
											});
									} else {
										swal(data);
										console.log(data);
									}
								}, 
								error: function (data) {
									swal('Error');
									console.log(data['responseText']);
								}
							});
						}
					});

<?php if($user_id > 0): ?>
					$("#activate").click(function () {
						swal({
						  title: 'Confirm Activation',
						  text: "Are you sure you want to activate this user?",
						  type: 'warning',
						  showCancelButton: true,
						  confirmButtonColor: '#3085d6',
						  cancelButtonColor: '#d33',
						  confirmButtonText: 'Yes, activate!',
						  cancelButtonText: 'No, cancel',
						  confirmButtonClass: 'btn btn-success',
						  cancelButtonClass: 'btn btn-danger',
						  buttonsStyling: false
						}).then(function () {
							$.ajax({
								url: "<?=$company_info['nav_path']?>activateUser",
								type: 'post',
								dataType: 'html',
								data: {
									user_id: <?=$user['id']?>,
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										alert('User data updated!');
										window.location.href = '<?=$company_info['nav_path']?>memberships';
									} else {
										alert('An error has occurred.');
										console.log(data);
									}
								} 
							});
						}, function (dismiss) {
							// dismiss can be 'cancel', 'overlay',
							// 'close', and 'timer'
							if (dismiss === 'cancel') {
							
							}
						});
						
					});

					$("#delete").click(function () {
						$.ajax({
							url: "<?=$company_info['nav_path']?>checkUserInventory",
							type: 'post',
							dataType: 'html',
							data: {user_id: <?=$user_id?>},
							async: false,
							success: function(data) {
								if (data == true) {
									//Inventory data found for this user
									swal({
										title: 'Inventory Found For This User!',
										html: "This user has active inventory still. Choose an option below, or go to the <a href='<?=$company_info['nav_path']?>view-user-inventory?user_id=<?=$user_id?>'>EDIT USER INVENTORY PAGE</a> to move individual items before deleting.<br>",
										type: 'warning',
										showCancelButton: true,
										confirmButtonColor: '#3085d6',
										cancelButtonColor: '#d33',
										confirmButtonText: 'Move Stock To Primary Holder',
										cancelButtonText: 'Void Stock',
										confirmButtonClass: 'btn btn-success',
										cancelButtonClass: 'btn btn-danger',
										buttonsStyling: false
									}).then(function () {
										confirmDelete(1);
									}, function (dismiss) {
										if (dismiss === 'cancel') {
											confirmDelete(2);
										}
									});							
								} else {
									swal({   
										title: "Confirm Delete",   
										text: 'Are you sure you want to delete this user?',
										type: "warning",    
										confirmButtonColor: "#15A59B",   
										confirmButtonText: "OK!",   
										}).then(function(){   
											confirmDelete(2);
										});
								}
							} 
						});
						
						
						
						
					});
<?php endif; ?>
				});

<?php if($user_id > 0): ?>
				function confirmDelete(source) {
					$.ajax({
						url: "<?=$company_info['nav_path']?>deleteUser",
						type: 'post',
						dataType: 'html',
						data: {
							user_id: <?=$user_id?>,
							source: source},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Mission Accomplished!",   
									text: 'This user has been deleted.',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location = '<?=$company_info['nav_path']?>memberships';
									});								
							} else {
								alert('An error has occurred.');
								console.log(data);
							}
						} 
					});
				} 
<?php endif; ?>

				function changeMembership() {
					if (document.getElementById('membership_level').value == 1) {
						document.getElementById('membership_level').style.border = '3px solid green';
						document.getElementById('membership_alert').style.display = 'inline';
						document.getElementById('membership_level').style.marginBottom = '20px';
					} else if (document.getElementById('membership_level').value == 2) {
						document.getElementById('membership_level').style.border = '3px solid #fcb040';
						document.getElementById('membership_alert').style.display = 'inline';
						document.getElementById('membership_level').style.marginBottom = '20px';
					} else if (document.getElementById('membership_level').value == 3) {
						document.getElementById('membership_level').style.border = '3px solid black';
						document.getElementById('membership_alert').style.display = 'inline';
						document.getElementById('membership_level').style.marginBottom = '20px';
					} else {
						document.getElementById('membership_level').style.border = '1px solid #CCCCCC';
						document.getElementById('membership_alert').style.display = 'none';
						document.getElementById('membership_level').style.marginBottom = '0px';
					}
				}

				function goUndercover() {
					$.ajax({
						url: "<?=$company_info['nav_path']?>goUndercover",
						type: 'post',
						dataType: 'html',
						data: {user_id: <?=$user_id?>},
						async: false,
						success: function(data) {
							if (data == 1) {
								var win = window.open('/menu', '_blank');
								win.focus();
							} else {
								alert('An error has occurred.');
								console.log(data);
							}
						} 
					});
				}

			</script>