		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Product Parts</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Edit Product Part</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
					</div>
				</div>
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
				
<?php if($product_id == 0): ?>
							<h2 class="card-title text-white" style="float: left;">Create Product Part <i class="fa fa-pencil"></i></h2>								
<?php else: ?>
							<h2 class="card-title text-white" style="float: left;">Edit Product Part <i class="fa fa-pencil"></i></h2>								
							<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: confirmDelete();">Delete Product Part <span class="fa fa-exclamation-triangle"></span></button>
<?php if ($product['active'] == 1): ?>
							&nbsp;
							<button id="active_on" onclick="javascript: activate(0);" class="btn btn-info" style="float: right; background-color: #55CE63; margin-right: 20px;">PRODUCT ACTIVE <span style="font-size: 75%;"> Click To De-Activate</span></button>
							<button id="active_off" onclick="javascript: activate(1);" class="btn btn-info" style="float: right; background-color: #fcc500; display: none; margin-right: 20px;"><span class="fa fa-exclamation-triangle"></span> PRODUCT INACTIVE! <span style="font-size: 75%;"> Click To Activate</span></button>
<?php else: ?>
							&nbsp;
							<button id="active_on" onclick="javascript: activate(0);" class="btn btn-info" style="float: right; display: none; background-color: #55CE63; margin-right: 20px;">PRODUCT ACTIVE <span style="font-size: 75%;"> Click To De-Activate</span></button>
							<button id="active_off" onclick="javascript: activate(1);" class="btn btn-info" style="float: right; background-color: #fcc500; margin-right: 20px;"><span class="fa fa-exclamation-triangle"></span> PRODUCT INACTIVE! <span style="font-size: 75%;"> Click To Activate</span></button>
<?php endif; ?>
<?php endif;?>	
					</div>
					<div class="card-block">
						<div style="font-weight: bold; font-size: 130%; color: #F62D51;">PRODUCT PARTS are components of a product, and not sold individually.
						<br>To create a product that is available for sale, <a href="/admin/edit-product">CLICK HERE</a></div>
						<hr>
						
							<div class="row" style="padding: 0 25px;">
								<div id="snap_point" class="col-lg-4 col-sm-12">
									<label>Name</label>
									<div class="input-group">
<?php if($product_id == 0): ?>
										<input id="name" class="form-control">						
<?php else: ?>
										<input id="name" class="form-control" value="<?=$product['name']?>">
<?php endif; ?>
									</div>
								</div>
								<div class="col-lg-4 col-sm-12">
									<label>Vendor</label>
									<div class="input-group">
										<select id="vendor_id" class="form-control">
	<?php foreach($vendors as $id => $data): ?>
	<?php if ($product_id > 0): ?>
	<?php if($product['vendor_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['name']?></option>
	<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
	<?php endif; ?>
	<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
	<?php endif; ?>
	<?php endforeach; ?>
										</select>
									</div>
								</div>

								<div class="col-lg-4 col-sm-12">
									<label>Product Type</label>
									<div class="input-group">
										<select id="product_type_id" class="form-control">
<?php foreach($product_types as $id => $data): ?>
<?php if ($product_id > 0): ?>
<?php if($product['product_type_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['name']?></option>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['name']?></option>
<?php endif; ?>
<?php endforeach; ?>
										</select>
									</div>
								</div>
								
								<div class="col-lg-4 col-sm-12">
									<label>Primary Inventory Holder</label>
									<div class="input-group">
										<select id="primary_holder_id" class="form-control">
<?php foreach($available_holders as $id => $data): ?>

<?php if ($product_id > 0): ?>

<?php if($product['inventory_holder_id'] > 0): ?>


<?php if($product['inventory_holder_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php endif; ?>


<?php else: ?>


<?php if($company_info['primary_inventory_user_id'] == $id): ?>
											<option value="<?=$id?>" selected><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php else: ?>
											<option value="<?=$id?>"><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php endif; ?>


<?php endif; ?>

<?php else: ?>
											<option value="<?=$id?>"><?=$data['first_name']?> <?=$data['last_name']?></option>
<?php endif; ?>

<?php endforeach; ?>
										</select>
									</div>
								</div>
								
								<div class="col-lg-4 col-sm-12">
									<div>
										<label>Featured Product Image: </label>
										<div style="position: relative;">
											<div class="input-group">
<?php if($product_id == 0): ?>
												<input id="attachment" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment" type="text" class="form-control" value="<?=$product['attachment_file_name']?>">
<?php endif; ?>
												<div style="position: absolute; right: 75px; margin-top: 8px; z-index: 11111;">
													<i class="fa fa-arrow-right"></i>
												</div>
												<span class="input-group-btn">
													<button href="../../../filemanager<?=$company_info['filemanager_path']?>/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														&nbsp;&nbsp;&nbsp;<i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;
													</button>
												</span>
											</div>


										</div>
									</div>
								</div>
								
								<div class="col-lg-12"><hr style="margin: 0; margin-bottom: 25px;"></div>
								
								<div class="col-lg-4 col-sm-12">
									<label>Smallest <span style="font-weight: bold; color: #009EFB; text-shadow: .5px .5px #d1d1d1; font-size: 130%;">unit of measurement</span> for this part <br>(DO NOT PLURALIZE)</label>
<?php if($product_id == 0): ?>
									<input id="unit_name" class="form-control">						
<?php else: ?>
									<input id="unit_name" class="form-control" value="<?=$product['unit_name']?>">
<?php endif; ?>
								</div>
								
								<div class="col-lg-4 col-sm-12">
<?php if($product_id == 0): ?>
									<label>Primary inventory holder inital stock<br><span style="font-weight: bold; color: #009EFB;"><i class="fa fa-arrow-left"></i> In terms of <span style=" text-shadow: .5px .5px #d1d1d1; font-size: 130%;">unit of measurement</span></span></label>
									<input id="initial_inventory" class="form-control">							
<?php else: ?>
									<label>Primary inventory holder stock<br><span style="font-weight: bold; color: #009EFB;"><i class="fa fa-arrow-left"></i> In terms of <span style=" text-shadow: .5px .5px #d1d1d1; font-size: 130%;">unit of measurement</span></span></label>
									<input id="initial_inventory" class="form-control" value="<?=$inventory?>">		
<?php endif; ?>
									
								</div>

								<div class="col-lg-4 col-sm-12">
									<label>Company cost per unit<br><span style="font-weight: bold; color: #009EFB;"><i class="fa fa-arrow-left"></i><i class="fa fa-arrow-left"></i> In terms of <span style=" text-shadow: .5px .5px #d1d1d1; font-size: 130%;">unit of measurement</span></span></label>
<?php if($product_id == 0): ?>	
									<input id="unit_price_wholesale" class="form-control">
<?php else: ?>
									<input id="unit_price_wholesale" class="form-control" value="<?=$product['unit_price_wholesale']?>">
<?php endif; ?>
								</div>
		
											
							</div>
							
							<div class="row" style="padding: 0 25px;">
								<div class="col-lg-12">
									<div class="form-group">
										<h2 style="margin-top: 50px;">Product Part Description</h2>
<?php if($product_id == 0): ?>
										<textarea id="post_text"></textarea>			
<?php else: ?>
										<textarea id="post_text"><?=$product['description']?></textarea>
<?php endif; ?>
										
									</div>
									<button id="submit" class="btn btn-primary btn-lg" style="width: 100%;">
										Submit
									</button>
								</div>
							</div>
						
					</div>
				</div>
			</div>	
		</div>
	</div>

			<script> 
				var size_count = <?=count($product_sizes)?>;
					
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {

					tinymce.init({
						selector: "#post_text",
						mode: "textareas",
						height: 200,
						theme: "modern",
						plugins: [
							"autolink link image lists charmap print preview hr anchor pagebreak",
							"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
							"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
						],
						toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
						toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
						image_advtab: true ,
						external_filemanager_path:"/filemanager/",
						filemanager_title:"Responsive Filemanager" ,
						external_plugins: { "filemanager" : "/filemanager/plugin.min.js"},
						branding: false
					});
	
					$('.iframe-btn').fancybox({	
						'type'		: 'iframe',
						'width'		: 900,
						'height'	: 650,
						'autoSize'	: false,
						'autoDimensions': false
					});
	
					$(".fancybox").fancybox();

					$("#submit").click(function () {
						do {	

							if (document.getElementById('name').value == '') {
								swal("Oops...", "You must enter a product type name", "error");
								break;
							}

							if (document.getElementById('attachment').value.includes(".")) {
								
							} else {
								if (document.getElementById('attachment').value != '') {
									swal("Oops...", "Image attachment does not have a file extension.", "error");
									break;
								}
							}
							
							if (document.getElementById('unit_name').value == '') {
								swal("Oops...", "You must enter a unit of measurement name", "error");
								break;
							}
							
<?php if($product_id == 0): ?>
							if (document.getElementById('initial_inventory').value == '') {
								swal("Oops...", "You must enter an initial inventory amount", "error");
								break;
							}

							if (isNaN(document.getElementById('initial_inventory').value)) {
								swal("Oops...", "Initial inventory amount must be a number", "error");
								break;
							}
<?php endif; ?>
							

							tinyMCE.triggerSave();

						$.ajax({
							url: "<?=$company_info['nav_path']?>write-product-part",
							type: 'post',
							dataType: 'html',
							data: {
								product_id: <?=$product_id?>,
								name: document.getElementById('name').value,
								attachment: document.getElementById('attachment').value,
								unit_price_wholesale: document.getElementById('unit_price_wholesale').value,
								vendor_id: document.getElementById('vendor_id').value,
								unit_name: document.getElementById('unit_name').value,
								product_type_id: document.getElementById('product_type_id').value,
								primary_holder_id: document.getElementById('primary_holder_id').value,
								description: tinyMCE.activeEditor.getContent(),			
								initial_inventory: document.getElementById('initial_inventory').value
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									swal({
										title: 'Mission Accomplished!',
										text: "This product part's data has been updated.",
										type: 'success',
										showCancelButton: true,
										confirmButtonColor: '#3085d6',
										cancelButtonColor: '#d33',
										confirmButtonText: 'To Inventory',
										cancelButtonText: 'To Product Parts',
										confirmButtonClass: 'btn btn-success',
										cancelButtonClass: 'btn btn-danger',
										buttonsStyling: false
									}).then(function () {
										window.location.href = '<?=$company_info['nav_path']?>inventory';
									}, function (dismiss) {
										window.location.href = '<?=$company_info['nav_path']?>view-product-part';
									});
									

								} else {
									console.log(data);
								}
							},
							error: function(data) {
								console.log(data['responseText']);
							}
						});
					} while (false);
				});
		
				$("#delete").click(function () {
					swal({   
						title: "Confrim Delete",   
						text: 'Are you sure you want to delete this product?',
						type: "warning",    
						showCancelButton: true,
						cancelButtonText: "No, go back",
						confirmButtonColor: "#15A59B",   
						confirmButtonText: "Yes!",   
						}).then(function(){   
							confirmDelete();
						}
					);
				});
				
			});
		
			function checkQuantity(i) {
				if (document.getElementById('new_sub_product_name' + i).value == '' || document.getElementById('new_sub_product_price' + i).value == '' || document.getElementById('new_sub_product_inventory' + i).value == '') {
					document.getElementById('quantity_box' + i).style.backgroundColor = 'rgba(255, 0, 0, 0.4)';
				} else {
					document.getElementById('quantity_box' + i).style.backgroundColor = 'rgba(0, 255, 0, 0.4)';
				}
			}
			
			function showNewQuantity(i) {
				var num = parseInt(i + 1);
				
				document.getElementById('add_quantity_button' + i).style.display = 'none';
				document.getElementById('add_quantity' + num).style.display = 'inline';
		
				if (i == 1) {
					document.getElementById('add_quantity_button2').style.display = 'inline';
				}
			}
		
			function activate(num) {
				$.ajax({
					url: "<?=$company_info['nav_path']?>activateProduct",
					type: 'post',
					dataType: 'html',
					data: {
						product_id: <?=$product_id?>,
						flag: num
					},
					async: false,
					success: function(data) {
						if (data == 1) {			
							if (num == 1) {
								document.getElementById('active_on').style.display = '';
								document.getElementById('active_off').style.display = 'none';
							} else {
								document.getElementById('active_on').style.display = 'none';
								document.getElementById('active_off').style.display = '';
							}				
						} else {
							alert('An error has occurred');
							console.log(data);
						}
					} 
				});
			}

<?php $count = 1; ?>
<?php if($product_id > 0): ?>	
<?php foreach ($product_sizes as $id => $data): ?>
			checkQuantity(<?=$count?>);
<?php $count++; ?>
<?php endforeach; ?>
<?php endif; ?>
			var new_sizes = {};
			var deleted_sizes = {};

			
		
			function deleteSize(i) {
				swal({   
					title: "Delete Product Size?",   
					text: 'Are you sure you want to delete this product size?',
					type: "warning",    
					showCancelButton: true,
					cancelButtonText: "NO",
					confirmButtonColor: "#15A59B",   
					confirmButtonText: "YES",   
					}).then(function(){   
						
						$.ajax({
							url: "<?=$company_info['nav_path']?>deleteProductSize",
							type: 'post',
							dataType: 'html',
							data: {
								i: i,
								product_id: <?=$product_id?>
							},
							async: false,
							success: function(data) {
								if (data == 1) {							
									document.getElementById('size_box' + i).style.display = 'none';
								} else {
									console.log(data);
								}
							},
							error: function(data) {
								console.log(data['responseText']);
							}
						});
					});
				
			}
		
			function newQuantity() {

				size_count++;
				
				var html = `
					<div id="size_box` + size_count + `" class="col-lg-3 col-sm-12 product_size_box" style="margin-bottom: 15px;">
						<div id="quantity_box` + size_count + `" class="shadow" style="padding: 10px; background-color: rgba(255, 0, 0, 0.4);">
							<label style="font-weight: bold;">New Product Size<hr style="margin: 5px;"></label>

							<div class="form-group row" style="margin: 0; text-align: center;">
								<label for="example-month-input" class="col-12 col-form-label" style="font-weight: bold;">Size Name</label>
								<div class="col-12">
									<input id="new_sub_product_name` + size_count + `" style="text-align: center;" class="form-control" value="" onkeyup="javascript: checkQuantity(` + size_count + `);">	
								</div>
							</div>
							
							<div class="form-group row" style="margin: 0; text-align: center;">
								<label for="example-month-input" class="col-12 col-form-label" style="font-weight: bold;">Size Price</label>
								<div class="col-12 input-group">
									<span class="input-group-addon">$</span>
									<input id="new_sub_product_price` + size_count + `" style="text-align: center;" class="form-control" value="" onkeyup="javascript: checkQuantity(` + size_count + `);">
								</div>
							</div>

							<div class="form-group row" style="margin: 0; text-align: center; margin-top: -15px;">
								<label for="example-month-input" class="col-12 col-form-label" style="font-weight: bold;">Inventory Units</label>
								<div class="col-12">
									<input id="new_sub_product_inventory` + size_count + `" style="text-align: center;" class="form-control" value="" onkeyup="javascript: checkQuantity(` + size_count + `);">	
								</div>
							</div>
						</div>
					</div>
				`;

				$( "#new_quantity_box" ).before(html);
		
			}
		
			function confirmDelete() {
				$.ajax({
					url: "<?=$company_info['nav_path']?>deleteProduct",
					type: 'post',
					dataType: 'html',
					data: {product_id: <?=$product_id?>},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Product Deleted",   
								text: 'This product has been deleted',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								}).then(function(){   
									window.location.replace('<?=$company_info['nav_path']?>view-product');
								});
						} else {
							alert('An error has occurred');
							console.log(data);
						}
					} 
				});
			} 

			</script>
			<style>
				.btn-success {
					margin-right: 50px;
				}
			</style>
