		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Content</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>content">Content Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">
<?php if($content_id > 0): ?>
								Edit <?=ucfirst($content_types[$content['content_type_id']]['name'])?>
<?php else: ?>
								New <?=ucfirst($content_types[$content_type_id]['name'])?>
<?php endif; ?>	
							
							</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
					</div>
				</div>
				<div class="card card-outline-info">
					<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
						<h2 class="card-title text-white" style="float: left;">	 
<?php if($content_id > 0): ?>
							<i class="fa fa-pencil"></i> Submit the following fields to edit a blog post
<?php else: ?>
							Submit the following fields to create a new blog post
<?php endif; ?>
						</h2>
<?php if($content_id > 0): ?>
						<button id="delete" class="btn btn-info" style="float: right; background-color: red;"><span class="fa fa-exclamation-triangle"></span> Delete Content</button>
<?php endif; ?>				
											
					</div>
					<div class="card-block">
						<div class="row">
								<div class="col-lg-6 col-sm-12">
									<label>Title</label>
<?php if($content_id > 0): ?>
									<input id="title" class="form-control" value="<?=$content['title']?>">
<?php else: ?>
									<input id="title" class="form-control">
<?php endif; ?>
								</div>
								<div class="col-lg-6 col-sm-12">
									<div>
										<label>Featured Image: </label>
										<div style="position: relative; margin-top: 7px;">
											<div class="input-group">
<?php if($content_id == 0): ?>
												<input id="attachment" type="text" class="form-control">					
<?php else: ?>
												<input id="attachment" type="text" class="form-control" value="<?=$content['attachment_file_name']?>">
<?php endif; ?>
												
												<div style="position: absolute; right: 75px; margin-top: 8px; z-index: 11111;">
													<i class="fa fa-arrow-right"></i>
												</div>
												<span class="input-group-btn">
													<button href="../../../filemanager/dialog.php?type=0&field_id=attachment&relative_url=1" class="btn btn-info iframe-btn" type="submit" style="background-color: #21A2F2; color: white;">
														&nbsp;&nbsp;&nbsp;<i class="fa fa-image"></i>&nbsp;&nbsp;&nbsp;
													</button>
												</span>
											</div>
										</div>
										
									</div>
								</div>
							<div class="col-lg-12" style="margin-top: 25px;">
								<div class="form-group">
<?php if($content_id > 0): ?>
									<textarea id="content_text"><?=$content['content_text']?></textarea>
<?php else: ?>
									<textarea id="content_text"></textarea>
<?php endif; ?>
								</div>
								<button id="submit" class="btn btn-primary btn-lg">
									Submit
								</button>
								
								
							</div>
						</div>
							
							
					
						
					</div>
				</div>
			</div>	
		</div>
			
			<script type="text/javascript">
				tinymce.init({
					selector: "#content_text",
					mode: "textareas",
					height: 400,
					theme: "modern",
					plugins: [
						"autolink link image lists charmap print preview hr anchor pagebreak",
						"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
						"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
					],
					toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
					toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor| print preview code ",
					image_advtab: true ,
					external_filemanager_path:"/filemanager/",
					filemanager_title:"Responsive Filemanager" ,
					external_plugins: { "filemanager" : "/filemanager/plugin.min.js"}
				});

				$('.iframe-btn').fancybox({	
					'type'		: 'iframe',
					'width'		: 900,
					'height'	: 650,
					'autoSize'	: false,
					'autoDimensions': false
				});

				$(".fancybox").fancybox();
	
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						
						do {
<?php if($content_id > 0): ?>
							if (<?=$content['content_type_id']?> == 1) {
								if (document.getElementById('title').value == '') {
									swal('You must enter a title for a blog post.');
									break;
								}
							
								if (document.getElementById('attachment').value == '') {
									swal('Please select an attachment file.');
									break;
								}
							} 
<?php else: ?>
							if (<?=$content_type_id?> == 1) {
								if (document.getElementById('title').value == '') {
									swal('You must enter a title for a blog post.');
									break;
								}
							
								if (document.getElementById('attachment').value == '') {
									swal('Please select an attachment file.');
									break;
								}
							} 
<?php endif; ?>
							
							
							tinyMCE.triggerSave();
							
							$.ajax({
								url: "<?=$company_info['nav_path']?>writeContent",
								type: 'post',
								dataType: 'html',
								data: {
									title: document.getElementById('title').value, 
									content_text: tinyMCE.activeEditor.getContent(), 
									attachment: document.getElementById('attachment').value, 
									target_date: '',
									content_type_id: 1, 
									content_id: <?=$content_id?>},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: "This Blog has been updated",
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											}).then(function(){   
												window.location.replace('<?=$company_info['nav_path']?>content');
											});
									} else {
										alert(data);
									}
								} 
							});
						} while(false);
					});

					$("#delete").click(function () {
						swal({   
							title: "Confrim Delete",   
							text: 'Are you sure you want to delete this product?',
							type: "warning",    
							showCancelButton: true,
							cancelButtonText: "No, go back",
							confirmButtonColor: "#15A59B",   
							confirmButtonText: "Yes!",   
							}).then(function(){   
								confirmDelete();
							});
					});
				});

				function confirmDelete() {
					$.ajax({
						url: "<?=$company_info['nav_path']?>deleteContent",
						type: 'post',
						dataType: 'html',
						data: {content_id: <?=$content_id?>},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Product Deleted",   
									text: 'This product has been deleted',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									}).then(function(){   
										window.location.replace('<?=$company_info['nav_path']?>content');
									});
							} else {
								alert(data);
							}
						} 
					});
				} 

			</script>