<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Promotions</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/admin">Home</a></li>
							<li class="breadcrumb-item"><a href="/admin/promotions">Promotions Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">Issue Promotion</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">

					</div>
				</div>

						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Promotion Info</h2>								
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: confirmDelete();">Delete Promotion <span class="fa fa-exclamation-triangle"></span></button>
							</div>
							<div class="card-block">
							
				
								<div class="panel-body">
									<div class="row" style="padding: 0 25px; pointer-events: none;">
										<div id="snap_point" class="col-lg-4 col-sm-12">
											Name: <span style="font-weight: bold;"><?=$promotion_type['name']?></span>
										</div>
				
										<div class="col-lg-4 col-sm-12">
											Discount: 
				<?php if ($promotion_type['discount_percent'] != 0):?>
											<span style="font-weight: bold; padding-left: 25px;"><?=$promotion_type['discount_percent']?>% Off</span>
				<?php endif; ?>
				<?php if ($promotion_type['discount_dollars'] != 0):?>
											<span style="font-weight: bold; padding-left: 25px;">$<?=$promotion_type['discount_dollars']?> Off</span>
				<?php endif; ?>
				<?php if ($promotion_type['membership'] != 0):?>
											<span style="font-weight: bold; padding-left: 25px;">Free <?=$memberships[$promotion_type['membership']]?> Membership</span>
				<?php endif; ?>
										</div>
									</div>
								</div>
				
							</div>
						</div>
						
						
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Active codes for - <span style="color: blue;"><?=$promotion_type['name']?></span></h2>								
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: generateCode();">Create Unassigned Code <span class="fa fa-exclamation-triangle"></span></button>
							</div>
							<div class="card-block">
							

		

				<div class="panel-body">
<?php if (count($promotions) > 0):?>
					<div class="table-responsive">
						<table id="main_table" class="table table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th style="cursor: pointer; white-space: nowrap;">Created Date</th>
									<th style="cursor: pointer; white-space: nowrap;">User ID</th>
									<th style="cursor: pointer; white-space: nowrap;">Code</th>
									<th style="cursor: pointer; white-space: nowrap;">Uses Remaining</th>
									<th style="cursor: pointer; white-space: nowrap;">Times Used</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ID</th>
									<th style="cursor: pointer; white-space: nowrap;">Created Date</th>
									<th style="cursor: pointer; white-space: nowrap;">User ID</th>
									<th style="cursor: pointer; white-space: nowrap;">Code</th>	
									<th style="cursor: pointer; white-space: nowrap;">Uses Remaining</th>
									<th style="cursor: pointer; white-space: nowrap;">Times Used</th>							
								</tr>
							</tfoot>
							<tbody>
<?php foreach ($promotions as $id => $data): ?>
									<tr>
										<td><?=$id?></td>
										<td><?=$data['created_date']?></td>
<?php if ($data['user_id'] > 0): ?>
										<td><?=$data['user_id']?></td>
<?php else:?>
										<td style="color: red;">Unassigned</td>
<?php endif; ?>
										<td style="font-weight: bold;"><?=$data['code']?></td>
<?php if ($data['multi'] == -1): ?>
										<td>Infinite</td>
<?php elseif ($data['multi'] == 0) :?>
										<td>1</td>
<?php else: ?>
										<td><?=$data['multi'] - $data['uses']?></td>
<?php endif; ?>
										<td><?=$data['uses']?></td>
									</tr>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
<?php else: ?>
					<div>There are currently no active codes for this promotion</div>
<?php endif; ?>
				</div>
			</div>
			
			
						
					</div>	
				</div>

			<style>
				@media screen and (max-width: 880px) {
					.top_button {
						margin-top: -75px;
					}
				}
				
				input, select, i, a {
					pointer-events: auto;
				}
			</style>

	
			
			

			
			
			
			<script>
				$('#main_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 100
				});
			
			</script>
			
			<script> 
				// using JQUERY's ready method to know when all dom elements are rendered
				$( document ).ready(function () {
					$("#submit").click(function () {
						do {	
							if (<?=$promotion_type_id?> == 0) {
								swal("Oops...", "You must enter a product size", "error");
								break;
							}

							$.ajax({
								url: "<?=$company_info['nav_path']?>issue-promotion",
								type: 'post',
								dataType: 'html',
								data: {
									product_id: <?=$promotion_type_id?>,
									name: document.getElementById('name').value,
									active: 1,
									attachment1: document.getElementById('attachment1').value,
									attachment2: document.getElementById('attachment2').value,
									attachment3: document.getElementById('attachment3').value,
									attachment4: document.getElementById('attachment4').value,
									attachment5: document.getElementById('attachment5').value,
									vendor_id: document.getElementById('vendor_id').value,
									unit_name: document.getElementById('unit_name').value,
									product_type_id: document.getElementById('product_type_id').value,
									description: tinyMCE.activeEditor.getContent(),
									new_sizes: new_sizes,				
									initial_inventory: document.getElementById('initial_inventory').value
								},
								async: false,
								success: function(data) {
									if (data == 1) {
										swal({   
											title: "Mission Accomplished!",   
											text: "This product's data has been updated",
											type: "success",    
											confirmButtonColor: "#15A59B",   
											confirmButtonText: "OK!",   
											closeOnConfirm: false 
											}, 
											function(){   
												window.location.replace('<?=$company_info['nav_path']?>view-product');
											});
									} else {
										console.log(data);
									}
								} 
							});
						} while (false);
					});

					$("#delete").click(function () {
						swal({   
							title: "Confrim Delete",   
							text: 'Are you sure you want to delete this product?',
							type: "warning",    
							showCancelButton: true,
							cancelButtonText: "No, go back",
							confirmButtonColor: "#15A59B",   
							confirmButtonText: "Yes!",   
							closeOnConfirm: false 
							}, 
							function(){   
								confirmDelete();
							}
						);
					});
					
				});

				function generateCode() {
					$.ajax({
						url: "<?=$company_info['nav_path']?>generate-code",
						type: 'post',
						dataType: 'html',
						data: {
							promotion_type_id: <?=$promotion_type_id?>
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Mission Accomplished!",   
									text: "New Code Generated",
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									closeOnConfirm: false 
									}, 
									function(){   
										window.location.replace('<?=$company_info['nav_path']?>issue-promotion?id=<?=$promotion_type_id?>');
									});
							} else {
								console.log(data);
							}
						} 
					});
				}

			</script>