

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Users</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active">Users</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">

						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
						<div class="dropdown pull-right m-r-10 hidden-sm-down">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<?=date('F Y')?>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">February 2017</a>
								<a class="dropdown-item" href="#">March 2017</a>
								<a class="dropdown-item" href="#">April 2017</a>
							</div>
						</div>
						-->
					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12" style="">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Clients<span style="color: #FFBB00; font-weight: bold;"> - Red users need to be activated!</span></h2>
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-user?user_type_id=2';"> Add Client <i class="fa fa-plus"></i></button>
								<button class="btn btn-info" style="float: right; background-color: #7460EE; margin-right: 25px;" onclick="javascript: window.open('<?=$company_info['nav_path']?>customer-download-action', '_blank');"> Download CSV</button>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
<!-- 							<h6 class="card-subtitle"></h6> -->
<?php if (count($users) == 0): ?>
								<div style="margin-top: 10px; font-weight: bold; padding-left: 25px; color: red;">
									There are no users that match your search. Please select a different search term.
								</div>
<?php else: ?>
								<div class="table-responsive">
									<table id="main_table" class="table display table-striped table-hover">
										<thead>
											<tr>
												<th>ID</th>
												<th>Name</th>
												<th style="width: 50px;">Member</th>
												<th>Address</th>
												<th>eMail</th>
												<th>Phone #</th>
												<th style="width: 50px;">Referred?</th>
												<th style="width: 50px;">Discover</th>
												<th style="width: 50px;">Refer Code</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>ID</th>
												<th>Name</th>
												<th>Member</th>
												<th>Address</th>
												<th>eMail</th>
												<th>Phone #</th>
												<th>Referred?</th>
												<th>Discover</th>
												<th>Refer Code</th>
											</tr>
										</tfoot>
										<tbody>
<?php foreach ($users as $id => $data): ?>
<?php if ($data['id'] > 1 && $data['user_type_id'] == 2): ?>
<?php if ($data['active'] == 1): ?>
											<tr style="cursor: pointer;" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-user?user_id=<?=$data['id']?>';">
<?php else: ?>
											<tr style="cursor: pointer; color: red;" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-user?user_id=<?=$data['id']?>';">
<?php endif; ?>
												<td><?=$data['id']?></td>
												<td><?=$data['first_name']?> <?=$data['last_name']?></td>
<?php if ($data['membership'] == 1): ?>
												<td><div style="height: 25px; width: 50px; background-color: green;"></div></td>
<?php elseif ($data['membership'] == 2):?>
												<td><div style="height: 25px; width: 50px; background-color: yellow;"></div></td>
<?php elseif ($data['membership'] == 3): ?>
												<td><div style="height: 25px; width: 50px; background-color: black;"></div></td>
<?php else: ?>
												<td>&nbsp;</td>
<?php endif; ?>					
												<td><?=$data['address']?>, <?=$data['city']?>, <?=$data['zip']?></td>
												<td><?=$data['email']?></td>
												<td><?=$data['phone']?></td>
<?php if ($data['referral_name'] != ''): ?>
												<td><i class="fa fa-check"></i></td>
<?php else: ?>
												<td></td>
<?php endif; ?>			
												<td><?=$data['discover']?></td>
												<td><?=$data['referral_code']?></td>
											</tr>
<?php endif; ?>
<?php endforeach; ?>
										</tbody>
									</table>
								</div>
<?php endif; ?>
							</div>
						</div>
					</div>
					
					<div class="col-lg-12">
						<div id="employee_table2" style="position: absolute; top: 0; margin-top: -100px;">&nbsp;</div>
						<div class="card card-outline-info" style="margin-top: 30px;">
			
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Employees</h2>
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-user?user_type_id=5';"> Add Employee <i class="fa fa-plus"></i></button>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">

<?php if (count($employees) == 0): ?>
							<div style="margin-top: 10px; font-weight: bold; padding-left: 25px; color: red;">
								There are currently no records in this category.
							</div>
<?php else: ?>
							<div class="table-responsive">
								<table id="employee_table" class="table display table-striped table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>Login</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>eMail</th>
											<th>Phone #</th>
										</tr>
									</thead>
									<tbody>
<?php foreach ($employees as $id => $data): ?>
										<tr style="cursor: pointer;" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-user?user_id=<?=$data['id']?>';">
											<td><?=$data['id']?></td>
											<td><?=$data['login']?></td>
											<td><?=$data['first_name']?></td>
											<td><?=$data['last_name']?></td>
											<td><?=$data['email']?></td>
											<td><?=$data['phone']?></td>
										</tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>
<?php endif; ?>
						</div>
					</div>
				</div>
				
				<div class="col-lg-12">
						<div id="rep_table2" style="position: absolute; top: 0; margin-top: -100px;">&nbsp;</div>
						<div class="card card-outline-info" style="margin-top: 30px;">
			
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Sales Reps</h2>
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-user?user_type_id=6';"> Add Sales Rep <i class="fa fa-plus"></i></button>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">

<?php if (count($reps) == 0): ?>
							<div style="margin-top: 10px; font-weight: bold; padding-left: 25px; color: red;">
								There are currently no records in this category.
							</div>
<?php else: ?>
							<div class="table-responsive">
								<table id="rep_table" class="table display table-striped table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>Login</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>eMail</th>
											<th>Phone #</th>
										</tr>
									</thead>
									<tbody>
<?php foreach ($reps as $id => $data): ?>
										<tr style="cursor: pointer;" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-user?user_id=<?=$data['id']?>';">
											<td><?=$data['id']?></td>
											<td><?=$data['login']?></td>
											<td><?=$data['first_name']?></td>
											<td><?=$data['last_name']?></td>
											<td><?=$data['email']?></td>
											<td><?=$data['phone']?></td>
										</tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>
<?php endif; ?>
						</div>
					</div>
				</div>

<?php if ($company_info['delivery'] > 0): ?>
					<div class="col-lg-12">
					
						<div id="driver_table2" style="position: absolute; top: 0; margin-top: -100px;">&nbsp;</div>
						
						<div class="card card-outline-info" style="margin-top: 30px;">

							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Drivers</h2>
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-user?user_type_id=2';"> Add Driver <i class="fa fa-plus"></i></button>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
							
<?php if (count($drivers) == 0): ?>
								<div style="margin-top: 10px; font-weight: bold; padding-left: 25px; color: red;">
									There are currently no records in this category.
								</div>
<?php else: ?>
								<div class="table-responsive">
									<table id="driver_table" class="table display table-striped table-hover">
										<thead>
											<tr>
												<th>ID</th>
												<th>Login</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>eMail</th>
												<th>Phone #</th>
											</tr>
										</thead>
										<tbody>
<?php foreach ($drivers as $id => $data): ?>
											<tr style="cursor: pointer;" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-user?user_id=<?=$data['id']?>';">
												<td><?=$data['id']?></td>
												<td><?=$data['login']?></td>
												<td><?=$data['first_name']?></td>
												<td><?=$data['last_name']?></td>
												<td><?=$data['email']?></td>
												<td><?=$data['phone']?></td>
											</tr>
<?php endforeach; ?>
										</tbody>
									</table>
								</div>
<?php endif; ?>
							</div>
						</div>
					</div>

<?php endif; ?>
		
		<div class="col-lg-12">
			<div id="phone_table2" style="position: absolute; top: 0; margin-top: -100px;">&nbsp;</div>
			<div class="card card-outline-info" style="margin-top: 30px;">

				<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
					<h2 class="card-title text-white" style="float: left;">Phone Operators</h2>
					<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-user?user_type_id=4';"> Add Operator <i class="fa fa-plus"></i></button>
				</div>
				<div class="card-body" style="padding: 0 10px 10px 10px;">

<?php if (count($operators) == 0): ?>
					<div style="margin-top: 10px; font-weight: bold; padding-left: 25px; color: red;">
						There are no users that match your search. Please select a different search term.
					</div>
<?php else: ?>
					<div class="table-responsive">
						<table id="phone_table" class="table display table-striped table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Login</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>eMail</th>
									<th>Phone #</th>
								</tr>
							</thead>
							<tbody>
<?php foreach ($operators as $id => $data): ?>
								<tr style="cursor: pointer;" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-user?user_id=<?=$data['id']?>';">
									<td><?=$data['id']?></td>
									<td><?=$data['login']?></td>
									<td><?=$data['first_name']?></td>
									<td><?=$data['last_name']?></td>
									<td><?=$data['email']?></td>
									<td><?=$data['phone']?></td>
								</tr>
<?php endforeach; ?>
							</tbody>
						</table>
					</div>
<?php endif; ?>
				</div>
			</div>
		</div>


		
				<div class="col-lg-12">
					<div id="admin_table2" style="position: absolute; top: 0; margin-top: -100px;">&nbsp;</div>
					<div class="card card-outline-info" style="margin-top: 30px;">
		
						<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
							<h2 class="card-title text-white" style="float: left;">Admins</h2>
							<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-user?user_type_id=1';"> Add Admin <i class="fa fa-plus"></i></button>
						</div>
						<div class="card-body" style="padding: 0 10px 10px 10px;">
						
<?php if (count($admins) == 0): ?>
							<div style="margin-top: 10px; font-weight: bold; padding-left: 25px; color: red;">
								There are no users that match your search. Please select a different search term.
							</div>
<?php else: ?>
							<div class="table-responsive">
								<table id="admin_table" class="table display table-striped table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>Login</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>eMail</th>
											<th>Phone #</th>
										</tr>
									</thead>
									<tbody>
<?php foreach ($admins as $id => $data): ?>
										<tr style="cursor: pointer;" onclick="javascript:window.location.href = '<?=$company_info['nav_path']?>edit-user?user_id=<?=$data['id']?>';">
											<td><?=$data['id']?></td>
											<td><?=$data['login']?></td>
											<td><?=$data['first_name']?></td>
											<td><?=$data['last_name']?></td>
											<td><?=$data['email']?></td>
											<td><?=$data['phone']?></td>
										</tr>
<?php endforeach; ?>
									</tbody>
								</table>
							</div>
<?php endif; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<script>
			$(document).ready(function() {
				"use strict";
				
				$('#main_table').DataTable( {
					
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

<?php if ($company_info['delivery'] > 0): ?>
				$('#driver_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});
<?php endif; ?>
				
				$('#phone_table').DataTable({
					dom: 'Bfrtip',
					buttons: [
						'copy', 'csv', 'excel', 'pdf', 'print'
					]
				});

				$('#admin_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

				$('#employee_table').DataTable( {
					columnDefs: [
					{
						className: 'mdl-data-table__cell--non-numeric'
					}],
					lengthMenu: [10, 15, 20, 25, 50, 100],
					
					pageLength: 50,
					order: [[ 0, "desc" ]]
				});

				$('#myTable').DataTable();
	
				$('input[name="target_date"]').daterangepicker();
	
			});
		</script>
		
		<style>
			.filter-btn {
				background-color: #7460EE; 
				margin-right: 25px;
			}
		</style>
		
<!-- 
	<style>
		#admin_table_length {
			color: white;
			padding: 5px;
		}
		
		#admin_table_filter {
			color: white;
			padding: 5px;
		}
		
		#admin_table_filter label input {
			background-color: white;
			border-radius: 2px;
		}
		
		#admin_table_info {
			color: white;
			padding-left: 10px;
		}
		
		#admin_table_paginate {
			color: white;
			padding: 10px;
		}
		
		#phone_table_length {
			color: white;
			padding: 5px;
		}
		
		#phone_table_filter {
			color: white;
			padding: 5px;
		}
		
		#phone_table_filter label input {
			background-color: white;
			border-radius: 2px;
		}
		
		#phone_table_info {
			color: white;
			padding-left: 10px;
		}
		
		#phone_table_paginate {
			color: white;
			padding: 10px;
		}
		
		#main_table_length {
			color: white;
			padding: 5px;
		}
		
		#main_table_filter {
			color: white;
			padding: 5px;
		}
		
		#main_table_filter label input {
			background-color: white;
			border-radius: 2px;
		}
		
		#main_table_info {
			color: white;
			padding-left: 10px;
		}
		
		#main_table_paginate {
			color: white;
			padding: 10px;
		}
		
		#driver_table_length {
			color: white;
			padding: 5px;
		}
		
		#driver_table_filter {
			color: white;
			padding: 5px;
		}
		
		#driver_table_filter label input {
			background-color: white;
			border-radius: 2px;
		}
		
		#driver_table_info {
			color: white;
			padding-left: 10px;
		}
		
		#driver_table_paginate {
			color: white;
			padding: 10px;
		}
		
		.paginate_button {
			background-color: #b8d0f2 !important;
		}
		
		.disabled {
			background-color: #272C33 !important;
		}
		
		tr:hover {
			color: white;
		}
	</style>

 -->
		


