		


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Sales</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item"><a href="<?=$company_info['nav_path']?>sales">Sales Main</a></li>
							<li class="breadcrumb-item active" style="font-weight: bold;">New Sale</li>
						</ol>

					</div>
					<div class="col-md-6 col-4 align-self-center">
						<button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Submit the following fields to create a new sale</span></h2>
								<button class="btn btn-info" data-toggle="modal" data-target="#add-new-event" style="float: right; background-color: #7460EE;">Add New User <i class="fa fa-plus"></i></button>
							</div>
							<div class="card-body row" style="padding: 0 10px 10px 10px;">
								<div id="main_box"></div>
				
									
							
							
								<div class="col-lg-12" id="user_select">

										<label style="font-size: 150%;">Selected User: <span id="user" style="font-weight: bold;"><span style="color: red;">NONE YET, SELECT BELOW</span></span></label>
										<input type="hidden" id="user_id">
										<hr>

										<table id="user_table" class="table table-hover">
											<thead>
												<tr>
													<th style="width: 75px;">ID</th>
													<th style="width: 200px;">First Name</th>
													<th>Last Name</th>
													<th>Phone #</th>
													<th>Email</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>ID</th>
													<th>First Name</th>
													<th>Last Name</th>		
													<th>Phone #</th>
													<th>Email</th>						
												</tr>
											</tfoot>
											<tbody>
<?php foreach ($users as $id => $data): ?>
<?php if ($data['deleted'] == 0): ?>
												<tr style="cursor: pointer;" onclick="javascript: selectUser(<?=$id?>);">
													<td><?=$id?></td>
													<td class="header"><?=trim(ucfirst($data['first_name']))?></td>
													<td><?=trim(ucfirst($data['last_name']))?></td>
													<td><?=trim($data['phone'])?></td>
													<td><?=trim($data['email'])?></td>
												</tr>
<?php endif; ?>
<?php endforeach; ?>
											</tbody>
										</table>

									</div>
									
									
									
									
							
							
							
							
<?php foreach ($carts as $user_id => $data): ?>

									<script>
										var cart_total<?=$user_id?> = <?=$data['total_adj']?>;
									</script>

									<div id="cart_row<?=$user_id?>" class="col-lg-12" style="padding-top: 0; margin-top: 0; display: none;">
										<div style="border: 4px solid #21A2F2; padding: 10px;">
											<div id="cart_row_inner<?=$user_id?>" class="row">
												<div class="col-lg-12 col-sm-12">
													<div>
														<!-- First Column - products -->
														<label>
															<span style="border-bottom: 1px solid black; font-weight: bold;"><?=ucfirst($users[$user_id]['first_name'])?> <?=ucfirst($users[$user_id]['last_name'])?>'s Cart 
<?php if($users[$user_id]['membership'] > 0): ?>
																(Balance: $<span id="user_balance<?=$user_id?>"><?=$users[$user_id]['balance']?></span>)
<?php else: ?>
																(Non-Member)
<?php endif; ?>		
															</span>
															- ID: <?=$user_id?>
														</label>
														<div>
															<table id="user_product_table<?=$user_id?>" class="table table-hover">
																<thead>
																	<tr>
																		<th>Product</th>
																		<th style="width: 220px;">Inventory Source</th>
																		<th style="width: 120px;">Quantity</th>
																		<th style="width: 50px;">Units</th>
																		<th style="width: 50px;">Price</th>
																		<th style="width: 60px;"><i class="fa fa-star"></i> Holder Before</th>
																		<th style="width: 100px;"><i class="fa fa-star"></i> Holder After</th>

																		<th style="width: 50px;">Remove?</th>
																	</tr>
																</thead>
																<tbody id="cart_wrap<?=$user_id?>">
<?php foreach ($data['cart_records'] as $cart_id => $cart_data): ?>

<script>
	var cart<?=$cart_id?> = <?=$cart_data['quantity']?>;
</script>

<?php if ($products[$cart_data['product_id']]['inventory_holder_id'] > 0): ?>
<?php $holder_user_id = $products[$cart_data['product_id']]['inventory_holder_id']; ?>
<?php else: ?>
<?php $holder_user_id = $company_info['primary_inventory_user_id']; ?>
<?php endif; ?>

																	<tr id="cart_row<?=$cart_id?>">
																		<td style="position: relative;"><span style="font-weight: bold;"><?=$products[$cart_data['product_id']]['name']?></span> - <?=$product_sizes[$cart_data['product_size_id']]['name']?> ($<?=$product_sizes[$cart_data['product_size_id']]['price']?>) <span style="font-size: 60%; position: absolute; top: 0; left: 0;"><?=$cart_data['product_id']?></span></td>
																		
																		<td>
																			<select id="holder_user_id<?=$cart_id?>" class="form-control" style="width: 100%;">
<?php foreach($holders as $id => $user_record): ?>
<?php if ($holder_user_id == $id): ?>
																				<option value="<?=$id?>" selected><?=$user_record['first_name']?> <?=$user_record['last_name']?> <i class="fa fa-star"></i></option>
<?php else: ?>
																				<option value="<?=$id?>"><?=$user_record['first_name']?> <?=$user_record['last_name']?></option>
<?php endif; ?>
<?php endforeach; ?>
																			</select>
																		</td>
																		
																		<td>
																			<div class="form-group" style="margin: 0;">
																				<div>

																					<input class="form-control" type="number" min="1" style="margin: 0;" value="<?=$cart_data['quantity']?>" oninput="javascript: updateCartItemQuantity(<?=$cart_id?>, this.value, <?=$cart_data['units_adj']?>, <?=$cart_data['unit_cost']?>, <?=$user_inventory[$holder_user_id][$cart_data['product_id']]['quantity']?>, <?=$user_id?>);" id="cart_item_quantity<?=$cart_id?>">
																				</div>
																			</div>
																		</td>
																		
																		<td id="cart_item_units<?=$cart_id?>"><?=$product_sizes[$cart_data['product_size_id']]['units'] * $cart_data['quantity']?></td>
																		
																		<td>$<span id="cart_item_cost<?=$cart_id?>"><?=$cart_data['cost']?></span></td>
												
																		<td>
																			<?=$user_inventory[$holder_user_id][$cart_data['product_id']]['quantity']?>
																		</td>
																		
																		<td id="cart_item_holder<?=$cart_id?>" style="font-weight: bold; color: red;">

<?php if ($user_inventory[$holder_user_id][$cart_data['product_id']]['quantity'] >= ($product_sizes[$cart_data['product_size_id']]['units'] * $cart_data['quantity'])): ?>
																			<?=$user_inventory[$holder_user_id][$cart_data['product_id']]['quantity'] - ($product_sizes[$cart_data['product_size_id']]['units'] * $cart_data['quantity'])?>
<?php else: ?>
																			0
<?php endif; ?>

																		</td>

																	
																		<td><div class="btn btn-info" style="margin-left: 5px; color: white; background-color: red; width: 100%;" onclick="javascript:removeTempProduct(<?=$cart_id?>, <?=$user_id?>)"><i class="fa fa-remove"></i></div></td>
																	</tr>

<?php endforeach; ?>
																</tbody>
															</table>
															<a href="#new_product_table" class="btn btn-info" style="width: 100%; font-weight: bold;">Add Another Item To Cart <i class="fa fa-plus"></i></a>
														</div>
													</div>
												</div>

												<div class="col-lg-6 col-sm-12">
													<table class="table table-hover">
														<thead>
															<tr>
																<th></th>
																<th style="width: 50%;"></th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>
																	<div class="form-group" style="padding: 0; margin: 0;">
																		<label style="padding-left: 10px;">Set Altered Created Date?<br><span style="font-size: 80%; color: red; font-weight: bold;">Only modify if sale is NOT current</span></label>
																		<div class="input-group">
																			<input type="text" class="form-control mydatepicker" id="new_created_date<?=$user_id?>" readonly style="color: black; background-color: white;" onchange="javascript: showTime(<?=$user_id?>);" placeholder="Click to select a date">
																			<span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
																		</div>
																
																	</div>
																</td>
																<td>
																	<div class="form-group" style="padding: 0; margin: 0;">
														
				
																		<div id="altered_time_row<?=$user_id?>" style="display: none; margin-top: -20px;">
																			<label class="m-t-20" style="font-weight: bold; color: #F62D51; padding-left: 10px;"><br>Set Altered Created Time</label>
																			<div class="input-group clockpicker">
																				<input id="new_created_time<?=$user_id?>" type="text" class="form-control" value="<?=$current_time?>"> <span class="input-group-addon"> <span class="fa fa-clock-o"></span> </span>
																			</div>
																		</div>
																	</div>
																</td>
																
															</tr>
															<tr>
																<td>
																	<div class="form-group row" style="margin-bottom: 0;">
																		<label class="col-12 col-form-label" style="white-space: nowrap; font-weight: bold;">
																			Sub-Total: 
																			<button id="cancel_update<?=$user_id?>" class="btn btn-info" style="display: none; background-color: red; color: white; float: right; margin-top: -3px;" onclick="javascript: cancelUpdateTotal(<?=$user_id?>);"><i class="fa fa-close"></i> Revert</button>
																		</label>
																	</div>
																	
																	<!-- 								                                    
																	<div>
																		<div style="font-size: 85%; color: red; line-height: 22px;">Original Price: $0</div>
																		<div style="font-size: 85%; color: red; line-height: 22px;">Difference: $0 (0% Off)</div>
																	</div> 
																	-->
																	
																</td>
																<td>
																
																	<div class="form-group row" style="margin-bottom: 0;">
																		<div class="col-12 input-group" style="padding-top: 10px;">
																			<span class="input-group-addon">$</span>
																			<input class="form-control" type="number" value="<?=$data['total']?>" id="order_total<?=$user_id?>" oninput="javascript: showUpdateButton(<?=$user_id?>, <?=$data['total']?>);">
																		</div>
																	</div>
																
				
																	
																</td>
															</tr>
<?php if($users[$user_id]['membership'] > 0 && $users[$user_id]['membership_paid'] == 0): ?>	
															<tr id="membership_due_row<?=$user_id?>">
																<td>
																	<span class="member_fee<?=$user_id?>" style="color: red; font-weight: bold;">
																		Membership Due: 
																		<span class="amount">$ <span id="member_due<?=$user_id?>" style="width: 60px; height: 32px;"><?=$memberships[$users[$user_id]['membership']]['cost']?></span></span>
																	</span>
																</td>
																<td>
																	<span class="btn btn-info" style="font-size: 70%;" onclick="javascript: payMembership(<?=$user_id?>);">
																		Mark Membership Paid
																	</span>
																</td>
															</tr>
<?php endif; ?>	
	
															<tr>
																<td>
																	<div>Cash or Card?</div>
																</td>
																<td>
																	<select id="cashcard<?=$user_id?>" class="form-control" style="width: 100%;">

																	<option value="cash">Cash</option>
																	<option value="card">Card</option>
																	
																</select>
															</td>
														</tr>
														
													</tbody>
												</table>
												
											</div>
											<div class="col-lg-6 col-sm-12" style="margin-top: 7px;">
												<hr>
												<div style="text-align: center;">
													<h4 style="margin: 0; margin-bottom: 5px;">Order Notes</h4>
													<textarea id="notes<?=$user_id?>" rows="3" cols="" style="width: 100%; border-radius: 4px;"></textarea>
												</div>
												<div style="text-align: center;">
												<div class="total_due<?=$user_id?>" style="font-weight: bold; margin-top: 30px; margin-bottom: 20px;">
													<span style="border: 2px solid black; padding: 10px; font-size: 120%;">
														Total Due:
														<span class="amount">$ <span id="cash_due<?=$user_id?>" style="width: 60px; height: 32px;"><?=$data['total_adj']?></span></span>
													</span>
												</div>
												
<?php if ($data['membership_due'] > 0): ?>
													<span style="color: red; font-size: 85%;"><i id="member_flag" class="fa fa-exclamation-triangle"></i> Includes Member Fees Of $<?=$data['membership_due']?></span>
<?php endif; ?>
													<div style="white-space: nowrap; font-weight: bold;">Membership Balance After Sale: $<span id="new_balance<?=$user_id?>"><?=$data['new_balance']?></span></div>
													
													<div style="font-size: 125%; margin-top: 20px;">

														<button id="order_button<?=$user_id?>" class="btn btn-info" style="width: 100%; height: 60px;" class="card" onclick="javascript: placeOrder(<?=$user_id?>, <?=$cart_data['cost']?>, <?=$cart_data['cost']?>, 0);">PLACE ORDER</button>

														<button id="order_button_alt<?=$user_id?>" class="btn btn-info" style="width: 100%; height: 60px; display: none;"><i class="fa fa-spinner fa-spin"></i></button>
													
													</div>
												</div>
											</div>
										</div>
									</div>
									<hr>
								</div>
								
<?php endforeach; ?>

								<div id="outter_row" class="col-lg-12" style="margin: 0; padding-top: 0; display: none;">

									<div id="new_product_table" style="position: absolute; margin-top: -100px;">&nbsp;</div>
									<label style="font-size: 150%;"><span id="product" style="font-weight: bold;"><span style="color: red;">SELECT BELOW PRODUCT BELOW TO ADD TO CART<i class="fa fa-arrow-down"></i></span></span></label>
									<span id="product_type_row">
										<label>Product Type Filter</label>
										<div style="margin-bottom: 15px;">
<?php foreach($product_types as $id => $data): ?>
<?php if ($id != 1): ?>
											<button id="product_type<?=$id?>" class="btn btn-info" style="margin: 5px;" onclick="javascript: window.location.href='<?=$company_info['nav_path']?>new-sale?product_type_id=<?=$id?>'"><?=$data['name']?></button>
<?php endif; ?>
<?php endforeach; ?>
										</div>
									</span>
								</div>
								
								<div id="product_row" class="col-lg-12" style="display: none;">									

									<table id="product_table" class="table table-hover">
										<thead>
											<tr>
												<th style="width: 75px;">ID</th>
												<th style="width: 180px;">Vendor</th>
												<th style="width: 180px;">Product Type</th>
												<th>Name</th>
												<th>Sizes</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>ID</th>
												<th>Vendor</th>
												<th>Product Type</th>
												<th>Name</th>	
												<th>Sizes</th>							
											</tr>
										</tfoot>
										<tbody>
<?php foreach($products as $id => $data): ?>
											<tr>
												<td><?=$id?></td>
												<td><?=$vendors[$data['vendor_id']]['name']?></td>
												<td class="header"><?=$product_types[$data['product_type_id']]['name']?></td>
												<td><a href="<?=$company_info['nav_path']?>edit-product?product_id=<?=$id?>" class="btn btn-info" target="_blank" style="background-color: #7460EE;"><?=$data['name']?> <i class="fa fa-link"></i></a></td>
												<td>
<?php foreach($data['sizes'] as $product_size_id => $data2): ?>
													<span id="size<?=$product_size_id?>" class="btn btn-info" onclick="javasacript: addToCart(<?=$product_size_id?>, <?=$id?>);"><?=$data2['name']?> ($<?=$data2['price']?>)</span>
<?php endforeach; ?>
													
												</td>
											</tr>
<?php endforeach; ?>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="modal fade none-border" id="add-new-event">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><strong>Create</strong> a new customer</h4>
					</div>
					<div class="modal-body">
						<form role="form" id="new_user_form">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<label class="control-label">First Name</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="First Name" type="text" name="first_name" id="first_name" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">Last Name</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="Last Name" type="text" name="last_name" id="last_name" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">Address</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="Street Address" type="text" name="address" id="address" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">City</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="City" type="text" name="city" id="city" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">ZIP Code</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="ZIP Code" type="text" name="zip" id="zip" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">Phone</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="Phone #" type="text" name="phone" id="phone" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<label class="control-label">Email</label>
									<div class="input-group">
										<input class="form-control form-white" placeholder="Email Address" type="text" name="email_q" id="email_q" />
									</div>
								</div>
<!-- 								<div class="col-md-12"> -->
<!-- 									<label class="control-label">ID Image</label> -->
<!-- 									<div class="input-group"> -->
<!-- 										<input type="file" class="form-control" id="id_file" aria-describedby="fileHelp"> -->
<!-- 									</div> -->
<!-- 								</div> -->
								
<!-- 								<div class="col-md-12"> -->
<!-- 									<label class="control-label">Rec Image</label> -->
<!-- 									<div class="input-group"> -->
<!-- 										<input type="file" class="form-control" id="rec_file" aria-describedby="fileHelp"> -->
<!-- 									</div> -->
<!-- 								</div> -->
					
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button id="create_new_user" type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
						<button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<style>
			.datepicker-dropdown {
				z-index: 11111 !important;
			}
		</style>
		
		<script>

			var carts = <?php echo json_encode($carts); ?>;
			var products = <?php echo json_encode($products); ?>;
			var holders = <?php echo json_encode($holders); ?>;
			var memberships = <?php echo json_encode($memberships); ?>;
			var product_sizes = <?php echo json_encode($product_sizes); ?>;
			var users = <?php echo json_encode($users); ?>;
			var user_inventory = <?php echo json_encode($user_inventory); ?>;

			var cart_items = [];

			var selected_user = 0;

			var order_total_array = [];
			var order_start = [];

<?php foreach ($carts as $user_id => $data): ?>
			order_total_array[<?=$user_id?>] = <?=$data['total_adj']?>;
			order_start[<?=$user_id?>] = <?=$data['total_adj']?>;
<?php endforeach; ?>

			$('.mydatepicker').datepicker({
				autoclose: true,
				todayHighlight: true
			});
	
			$('.clockpicker').clockpicker({
				placement: 'bottom',
				align: 'left',
				autoclose: true,
				'default': 'now'
			});

			$('#user_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 2, "asc" ]]
			});

			$('#product_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric'
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 2, "asc" ]]
			});
			
			function showUpdateButton (user_id) {
				var key = 'cart_total' + user_id;

				if (document.getElementById('order_total' + user_id).value != eval(key)) {
					document.getElementById('cancel_update' + user_id).style.display = '';
				} else {
					document.getElementById('cancel_update' + user_id).style.display = 'none';
				}

				if (document.getElementById('order_total' + user_id).value == '') {
					eval(key + " = 0;");
				} else {
					eval(key + " = " + document.getElementById('order_total' + user_id).value + ";");
				}

				var order_total = document.getElementById('order_total' + user_id).value;

				if (users[user_id]['membership'] > 0) {

					if (users[user_id]['membership_paid'] == 0) {
						if (parseInt(memberships[users[user_id]['membership']]['worth']) + parseInt(users[user_id]['balance']) > order_total) {
							document.getElementById('cash_due' + user_id).innerHTML = parseInt(memberships[users[user_id]['membership']]['cost']);
						} else {
							document.getElementById('cash_due' + user_id).innerHTML = order_total - (parseInt(memberships[users[user_id]['membership']]['worth']) + parseInt(users[user_id]['balance'])) + parseInt(memberships[users[user_id]['membership']]['cost']);
						}
					} else {
						if (parseInt(users[user_id]['balance']) >= order_total) {
							document.getElementById('cash_due' + user_id).innerHTML = 0;
						} else {
							
							document.getElementById('cash_due' + user_id).innerHTML = order_total - parseInt(users[user_id]['balance']);
						}
					}
					
				} else {
					document.getElementById('cash_due' + user_id).innerHTML = order_total;
				}
			}

			function showTime (user_id) {
				document.getElementById('altered_time_row' + user_id).style.display = '';
			}

			function updateCartItemQuantity (cart_id, quantity, units, unit_cost, holder_start, user_id) {

				if (quantity == '') {
					document.getElementById('cart_item_quantity' + cart_id).style.border = '1px solid red';

					
				} else {
					document.getElementById('cart_item_units' + cart_id).innerHTML = quantity * units;
					document.getElementById('cart_item_cost' + cart_id).innerHTML = quantity * unit_cost;

					if (holder_start - (quantity * units) < 0) {
						document.getElementById('cart_item_holder' + cart_id).innerHTML = '0 (' + parseInt(holder_start - (quantity * units)) + ')';
					} else {
						document.getElementById('cart_item_holder' + cart_id).innerHTML = holder_start - (quantity * units);
					}

					//Quantity
					var key = 'cart' + cart_id;
					//Cart Total
					var key2 = 'cart_total' + user_id;

					if (eval(key) < quantity) {
						//Count went up
						var diff = quantity - eval(key);
						diff = diff * unit_cost;

						document.getElementById('order_total' + user_id).value = parseInt(document.getElementById('order_total' + user_id).value) + parseInt(diff);

						var order_total = parseInt(document.getElementById('order_total' + user_id).value);
						eval(key2 + " = " + order_total + ";");

						updateTotals (user_id, order_total);

					} else {
						//Count went down
						var diff = eval(key) - quantity;
						diff = diff * unit_cost;
						
						document.getElementById('order_total' + user_id).value = parseInt(document.getElementById('order_total' + user_id).value) - parseInt(diff);
						
						var order_total = parseInt(document.getElementById('order_total' + user_id).value);
						eval(key2 + " = " + order_total + ";");

						updateTotals (user_id, order_total);
					}
					
					eval(key + " = " + quantity + ";");
				}
				
			}

			function updateTotals (user_id, order_total) {
				if (users[user_id]['membership'] > 0) {

					if (users[user_id]['membership_paid'] == 0) {
						if (parseInt(memberships[users[user_id]['membership']]['worth']) + parseInt(users[user_id]['balance']) > order_total) {
							document.getElementById('cash_due' + user_id).innerHTML = parseInt(memberships[users[user_id]['membership']]['cost']);
							document.getElementById('new_balance' + user_id).innerHTML = parseInt(memberships[users[user_id]['membership']]['worth']) + parseInt(users[user_id]['balance']) - order_total;
							
						} else {
							document.getElementById('cash_due' + user_id).innerHTML = order_total - (parseInt(memberships[users[user_id]['membership']]['worth']) + parseInt(users[user_id]['balance'])) + parseInt(memberships[users[user_id]['membership']]['cost']);
							document.getElementById('new_balance' + user_id).innerHTML = 0;
						}
					} else {
						if (parseInt(users[user_id]['balance']) >= order_total) {
							document.getElementById('cash_due' + user_id).innerHTML = 0;
							document.getElementById('new_balance' + user_id).innerHTML = parseInt(users[user_id]['balance']) - order_total;
							
						} else {
							document.getElementById('cash_due' + user_id).innerHTML = order_total - parseInt(users[user_id]['balance']);
							document.getElementById('new_balance' + user_id).innerHTML = 0;
						}
					}
					
				} else {
					document.getElementById('cash_due' + user_id).innerHTML = order_total;
				}

				order_start[user_id] = order_total;
			}

			function removeTempProduct(cart_id, user_id) {
				do {	
					$.ajax({
						url: "/store/remove-cart-item",
						type: 'post',
						dataType: 'html',
						data: {
							cart_id : cart_id
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({
									title: "Cart Item Deleted",   
									text: 'This product has been removed from this user\'s cart',
									type: 'success',
									showCancelButton: false,
									confirmButtonColor: '#3085d6',
									confirmButtonText: 'OK!'
								}).then(function () {

									document.getElementById('cart_row' + cart_id).style.display = 'none';

									var key = 'cart_total' + user_id;

									var new_total = parseInt(eval(key)) - parseInt(document.getElementById('cart_item_cost' + cart_id).innerHTML);
									
									updateTotals(user_id, new_total);

									document.getElementById('order_total' + user_id).value = new_total;

									carts[user_id]['cart_records'][cart_id] = {};

									order_total_array[user_id] = new_total;
								});
								
							} else {
								alert(data);
							}
						} 
					});
				} while (false);
			}

			function cancelUpdateTotal (user_id) {

				var key = 'cart_total' + user_id;

				document.getElementById('order_total' + user_id).value = order_start[user_id];
				updateTotals(user_id, order_start[user_id]);
				document.getElementById('cancel_update' + user_id).style.display = 'none';
			}

<?php if (isset($set_user_id) && $set_user_id > 0) : ?>
			selectUser(<?=$set_user_id?>);
<?php endif; ?>

			function selectUser (user_id) {
				document.getElementById('user_select').style.display = 'none';
				document.getElementById('outter_row').style.display = '';
				document.getElementById('product_row').style.display = '';

				selected_user = user_id;

				if (document.getElementById('cart_row' + user_id)) {
					document.getElementById('cart_row' + user_id).style.display = '';
				} else {
					var key = 'cart_total' + user_id;
					eval(key + " = 0;");
					
					document.getElementById('main_box').innerHTML = `


				<div id="cart_row` + user_id + `" class="col-lg-12" style="padding-top: 0; margin-top: 0;">
					<div style="border: 4px solid #21A2F2; padding: 10px;">
						<div id="cart_row_inner` + user_id + `" class="row">
							<div class="col-lg-12 col-sm-12">
								<div>
									<!-- First Column - products -->
									<label>
										<span style="border-bottom: 1px solid black; font-weight: bold;">` + users[user_id]['first_name'] + ` ` + users[user_id]['last_name'] + `'s Cart 
											(Balance: $0)

										</span>
										- ID: ` + user_id + `
									</label>
									<div>
										<table id="user_product_table` + user_id + `" class="table table-hover">
											<thead>
												<tr>
													<th>Product</th>
													<th style="width: 220px;">Inventory Source</th>
													<th style="width: 120px;">Quantity</th>
													<th style="width: 50px;">Units</th>
													<th style="width: 50px;">Price</th>
													<th style="width: 60px;"><i class="fa fa-star"></i> Holder Before</th>
													<th style="width: 100px;"><i class="fa fa-star"></i> Holder After</th>

													<th style="width: 50px;">Remove?</th>
												</tr>
											</thead>
											<tbody id="cart_wrap` + user_id + `">

											</tbody>
										</table>
										<a href="#new_product_table" class="btn btn-info" style="width: 100%;">Add Another Item To Cart <i class="fa fa-plus"></i></a>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-sm-12">
								<table class="table table-hover">
									<thead>
										<tr>
											<th></th>
											<th style="width: 50%;"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="form-group" style="padding: 0; margin: 0;">
													<label style="padding-left: 10px;">Set Altered Created Date?<br><span style="font-size: 80%; color: red; font-weight: bold;">Only modify if sale is NOT current</span></label>
													<div class="input-group">
														<input type="text" class="form-control mydatepicker" id="new_created_date` + user_id + `" readonly style="color: black; background-color: white;" onchange="javascript: showTime(` + user_id + `);" placeholder="Click to select a date">
														<span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
													</div>
											
												</div>
											</td>
											<td>
												<div class="form-group" style="padding: 0; margin: 0;">
									

													<div id="altered_time_row` + user_id + `" style="display: none; margin-top: -20px;">
														<label class="m-t-20" style="font-weight: bold; color: #F62D51; padding-left: 10px;"><br>Set Altered Created Time</label>
														<div class="input-group clockpicker">
															<input id="new_created_time` + user_id + `" type="text" class="form-control" value="<?=$current_time?>"> <span class="input-group-addon"> <span class="fa fa-clock-o"></span> </span>
														</div>
													</div>
												</div>
											</td>
											
										</tr>
										<tr>
											<td>
												<div class="form-group row" style="margin-bottom: 0;">
													<label class="col-12 col-form-label" style="white-space: nowrap; font-weight: bold;">
														Sub-Total: 
														<button id="cancel_update` + user_id + `" class="btn btn-info" style="display: none; background-color: red; color: white; float: right; margin-top: -3px;" onclick="javascript: cancelUpdateTotal(` + user_id + `);"><i class="fa fa-close"></i> Revert</button>
													</label>
												</div>
												
												<!-- 								                                    
												<div>
													<div style="font-size: 85%; color: red; line-height: 22px;">Original Price: $0</div>
													<div style="font-size: 85%; color: red; line-height: 22px;">Difference: $0 (0% Off)</div>
												</div> 
												-->
												
											</td>
											<td>
											
												<div class="form-group row" style="margin-bottom: 0;">
													<div class="col-12 input-group" style="padding-top: 10px;">
														<span class="input-group-addon">$</span>
														<input class="form-control" type="number" value="0" id="order_total` + user_id + `" oninput="javascript: showUpdateButton(` + user_id + `, 0);">
													</div>
												</div>
											

												
											</td>
										</tr>

										<tr>
											<td>
												<div>Cash or Card?</div>
											</td>
											<td>
												<select id="cashcard` + user_id + `" class="form-control" style="width: 100%;">

												<option value="cash">Cash</option>
												<option value="card">Card</option>
												
											</select>
										</td>
									</tr>
									
								</tbody>
							</table>
							
						</div>
						<div class="col-lg-6 col-sm-12">
							<hr>
							<div style="text-align: center;">
								<h4 style="margin: 0; margin-bottom: 5px;">Order Notes</h4>
								<textarea id="notes` + user_id + `" rows="3" cols="" style="width: 100%; border-radius: 4px;"></textarea>
							</div>
							<div style="text-align: center;">
							<div class="total_due` + user_id + `" style="font-weight: bold; margin-top: 30px; margin-bottom: 20px;">
								<span style="border: 2px solid black; padding: 10px; font-size: 120%;">
									Total Due:
									<span class="amount">$ <span id="cash_due` + user_id + `" style="width: 60px; height: 32px;">0</span></span>
								</span>
							</div>

								<div style="white-space: nowrap; font-weight: bold;">Membership Balance After Sale: $<span id="new_balance` + user_id + `">0</span></div>
								
								<div style="font-size: 125%; margin-top: 20px;">

									<button id="order_button` + user_id + `" class="btn btn-info" style="width: 100%; height: 60px;" class="card" onclick="javascript: placeOrder(` + user_id + `, 0, 0, 0);">PLACE ORDER</button>

									<button id="order_button_alt` + user_id + `" class="btn btn-info" style="width: 100%; height: 60px; display: none;"><i class="fa fa-spinner fa-spin"></i></button>
								
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
					`;
				}
			}

			function addToCart(product_size_id, product_id) {
				do {
					closeProducts(); 

					user_id = selected_user;
					
					$.ajax({
						url: "/store/admin-add-to-cart",
						type: 'post',
						dataType: 'html',
						data: 
						{
							user_id: user_id,
							product_size_id: product_size_id
						},
						async: false,
						success: function(cart_id) {
							
							if (cart_id > 0) {

								if (typeof carts[user_id] == 'undefined') {
									carts[user_id] = {};
									carts[user_id]['cart_records'] = {};
								} 

								carts[user_id]['cart_records'][cart_id] = {id: cart_id, product_id: product_id, product_size_id: product_size_id, cost: product_sizes[product_size_id]['price']};
								
						//		carts[user_id]['cart_records'][cart_id]['product_id'] = product_id;
							//	carts[user_id]['cart_records'][cart_id]['product_size_id'] = product_size_id;

								if (order_start[user_id] == 'undefined') {
									order_start[user_id] = product_sizes[product_size_id]['price'];
								} else {
									order_start[user_id] = parseInt(order_start[user_id]) + parseInt(product_sizes[product_size_id]['price']);
								}
								
								var key = 'cart' + cart_id;
								eval(key + " = 1;");
								
								var submit_string = `
							
									<tr id="cart_row` + cart_id + `">

									<td style="position: relative;"><span style="font-weight: bold;">` + products[product_id]['name'] + `</span> - ` + product_sizes[product_size_id]['name'] + ` ($` + product_sizes[product_size_id]['price'] + `) <span style="font-size: 60%; position: absolute; top: 0; left: 0;">` + product_id + `</span></td>
									
									<td>
										<select id="holder_user_id` + cart_id + `" class="form-control" style="width: 100%;">
								`;

								

								if (products[product_id]['inventory_holder_id'] > 0) {
									var product_holder_id = products[product_id]['inventory_holder_id'];
								} else {
									var product_holder_id = <?=$company_info['primary_inventory_user_id']?>;
								}

								if (typeof order_total_array[user_id] == 'undefined') {
									//This is the first item in an empty cart
									var new_order_total = product_sizes[product_size_id]['price'];
								} else {
									var new_order_total = parseInt(product_sizes[product_size_id]['price']) + parseInt(order_total_array[user_id]);
								}

								order_total_array[user_id] = new_order_total;
								
								var key = 'cart_total' + user_id;
								eval(key + " = " + new_order_total +";");
								
								//SET SUB-TOTAL INPUT BOX
								document.getElementById('order_total' + user_id).value = new_order_total;

								updateTotals (user_id, new_order_total);

								var holder_before = user_inventory[product_holder_id][product_id]['quantity'];

								for (var j = 0; j < Object.keys(holders).length; j++) {

									var holder_ids = String(Object.keys(holders)).split(',');
									
									if (product_holder_id == holder_ids[j]) {
										submit_string += `
											<option id="` + holder_ids[j] + `" selected>` + users[holder_ids[j]]['first_name'] + ` ` + users[holder_ids[j]]['last_name'] + `</option>
										`;
									} else {
										submit_string += `
											<option id="` + holder_ids[j] + `">` + users[holder_ids[j]]['first_name'] + ` ` + users[holder_ids[j]]['last_name'] + `</option>
										`;
									}
									
								}

								submit_string += `
									
									<td>
										<div class="form-group" style="margin: 0;">
											<div>

												<input class="form-control" type="number" min="1" style="margin: 0;" value="1" oninput="javascript: updateCartItemQuantity(` + cart_id + `, this.value, ` + product_sizes[product_size_id]['units'] + `, ` + product_sizes[product_size_id]['price'] + `, ` + product_holder_id + `, ` + user_id + `);" id="cart_item_quantity` + cart_id + `">
											</div>
										</div>
									</td>
									
									<td id="cart_item_units` + cart_id + `">1</td>
									
									<td>$<span id="cart_item_cost` + cart_id + `">` + product_sizes[product_size_id]['price'] + `</span></td>
			
									<td>
										` + holder_before + `
									</td>
									
									<td id="cart_item_holder` + cart_id + `" style="font-weight: bold; color: red;">


										0

									</td>

								
									<td><div class="btn btn-info" style="margin-left: 5px; color: white; background-color: red; width: 100%;" onclick="javascript:removeTempProduct(` + cart_id + `, ` + user_id + `)"><i class="fa fa-remove"></i></div></td>
								</tr>
								`;

								document.getElementById('cart_wrap' + user_id).innerHTML = document.getElementById('cart_wrap' + user_id).innerHTML + submit_string;
								
							} else {
								swal('Oops...', cart_id, 'error');
							}
						} 
					});
					
				} while (false);
			}

			function closeProducts () {				
				document.getElementById('outter_row').style.display = 'none';
			}

			function payMembership (user_id) {
				do {	
					$.ajax({
						url: "<?=$company_info['nav_path']?>pay-membership-action",
						type: 'post',
						dataType: 'html',
						data: {
							user_id: user_id
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								document.getElementById('user_balance' + user_id).innerHTML = parseInt(memberships[users[user_id]['membership']]['worth']) + parseInt(users[user_id]['balance']);
								document.getElementById('membership_due_row' + user_id).style.display = 'none';
								
							} else {
								alert(data);
							}
						} 
					});
				} while (false);
			}

			function placeOrder(user_id) {
    			//document.getElementById('order_button' + user_id).style.display = 'none';
    			//document.getElementById('order_button_alt' + user_id).style.display = '';

    			cart_item_array = carts[user_id]['cart_records'];

				for (var i = 0; i < Object.keys(cart_item_array).length; i++) {

					var cart_ids = String(Object.keys(cart_item_array)).split(',');

					if (carts[user_id]['cart_records'][cart_ids[i]]['id'] != 'undefined') {
						carts[user_id]['cart_records'][cart_ids[i]]['holder_id'] = document.getElementById('holder_user_id' + cart_ids[i]).value;
						carts[user_id]['cart_records'][cart_ids[i]]['quantity'] = document.getElementById('cart_item_quantity' + cart_ids[i]).value;
					}
				}
			
    			do {
    				$.ajax({
    					url: "/store/purchaseAdminActionTest",
						type: 'post',
						dataType: 'html',
						data: 
						{
							user_id: user_id,
							alt_due: document.getElementById('order_total' + user_id).value,
							cash_due: document.getElementById('cash_due' + user_id).innerHTML,
						
							new_created_date: document.getElementById('new_created_date' + user_id).value,
							new_created_time: document.getElementById('new_created_time' + user_id).value,
							notes: document.getElementById('notes' + user_id).value,
							cashcard: document.getElementById('cashcard' + user_id).value,
							cart: carts[user_id]
						},
    					async: false,
    					success: function(data) {
    						if (data == 1) {
    							swal({   
    								title: "Order Complete",   
    								text: 'Order has been placed on onFleet routing has been successful.',
    								type: "success",    
    								confirmButtonColor: "#15A59B",   
    								confirmButtonText: "OK",   
    								}).then(function(){   
										window.location.href='/admin/new-sale';
    								}
    							);
    							
    						} else {
    							console.log(data);
    							swal('There has been an error.');
    						}
    					},
    					error: function(data) {
    						swal('Something has gone wrong, yell at Joe.');
    						console.log(data['responseText']);
    					} 
    				});
    			} while (false);
			}
			
		</script>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		