		
<?php $trans_threshold1 = 25000; ?>
<?php $trans_threshold2 = 500000; ?>

		<div class="page-wrapper">
			<div class="container-fluid">

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12">
<?php foreach ($tests as $int => $parent_data): ?>
						<div class="card card-outline-info">
							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;"><span style="font-weight: bold;">Year <?=$int?></span></h2>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">

								<table id="main_table<?=$int?>" class="table table-hover">
									<thead>
										<tr>
											<th>Month Num</th>
											<th>Customers</th>
											<th>Trans</th>
											<th>Dollars</th>	
											<th>0.5% (Platform)</th>
											<th>$10/m (Switch)</th>
											<th>Trans Fee (Switch)</th>
										</tr>
									</thead>
					
									<tbody>
<?php foreach($parent_data as $i => $data): ?>
										<tr style="cursor: pointer; font-weight:bold;">
											<td><?=$data['name']?></td>
											<td><?=$data['customers']?></td>
											<td>
<?php if ($data['trans'] > $trans_threshold1): ?>
<?php if ($data['trans'] > $trans_threshold2): ?>
												<span style="color: green;"><?=$data['trans']?></span>
<?php else: ?>
												<span style="color: #696edb;"><?=$data['trans']?></span>
<?php endif; ?>	
<?php else: ?>
												<?=$data['trans']?>
<?php endif; ?>	
											
											</td>
											
											<?php setlocale(LC_MONETARY, 'en_US'); ?>
											
											<td><?=str_replace('USD ', '$', money_format('%i', $data['dollars']))?></td>
											<td style="color: #e0a911;"><?=str_replace('USD ', '$', money_format('%i', $data['dollars'] * .005))?></td>
											
											<td><?=str_replace('USD ', '$', money_format('%i', $data['customers'] * 10))?></td>
											
											<td>
<?php if ($data['trans'] > $trans_threshold1): ?>
<?php if ($data['trans'] > $trans_threshold2): ?>
												<span style="color: green;"><?=str_replace('USD ', '$', money_format('%i', ($trans_threshold2 * 0.07) + (($data['trans'] - $trans_threshold2) * 0.05)))?> ($0.05)</span>
<?php else: ?>
												<span style="color: #696edb;"><?=str_replace('USD ', '$', money_format('%i', ($trans_threshold1 * 0.10) + (($data['trans'] - $trans_threshold1) * 0.07)))?> ($0.07)</span>
<?php endif; ?>	
<?php else: ?>
												<?=str_replace('USD ', '$', money_format('%i', $data['trans'] * 0.10))?> ($0.10)
<?php endif; ?>				
											</td>


										</tr>
<?php endforeach; ?>					
									</tbody>
								</table>
							</div>
						</div>
<?php endforeach; ?>
					
						
					</div>
				</div>
			</div>
		</div>
		
		<script>
<?php foreach ($tests as $int => $parent_data): ?>
		$('#main_table<?=$int?>').DataTable( {
			columnDefs: [
			{
				type: 'num-html'
			}],
			lengthMenu: [10, 15, 20, 25, 50, 100],
			
			pageLength: 100,
			order: [[ 0, "asc" ]]
		});
<?php endforeach; ?>
		
		</script>
		
		