


		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-6 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Product Parts</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
							<li class="breadcrumb-item active">View Product Parts</li>
						</ol>
					</div>
					<div class="col-md-6 col-4 align-self-center">

						<!-- <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
						<div class="dropdown pull-right m-r-10 hidden-sm-down">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<?=date('F Y')?>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">February 2017</a>
								<a class="dropdown-item" href="#">March 2017</a>
								<a class="dropdown-item" href="#">April 2017</a>
							</div>
						</div>
						-->
					</div>
				</div>

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12"></div>
					<div class="col-lg-12" style="margin-top:-50px;">
						<div class="card card-outline-info" style="margin-top: 30px;">

							<div class="card-header" style="padding-bottom: 0; margin-bottom: 15px; border-radius: 3px 3px 0 0;">
								<h2 class="card-title text-white" style="float: left;">Product Part List</h2>
								<button class="btn btn-info" style="float: right; background-color: #7460EE;" onclick="javascript: window.location.href = '<?=$company_info['nav_path']?>edit-product-part';"> Create New Product Part <i class="fa fa-plus"></i></button>
							</div>
							<div class="card-body" style="padding: 0 10px 10px 10px;">
								<div style="font-weight: bold; font-size: 130%; color: #F62D51;">PRODUCT PARTS are components of a product, and not sold individually.
								<br>To create a product that is available for sale, <a href="/admin/edit-product">CLICK HERE</a></div>
								<hr>
<!-- 							<h6 class="card-subtitle"></h6> -->
<?php if (count($products) == 0): ?>
								<div style="margin-top: 10px; font-weight: bold; padding-left: 25px; color: red;">
									There are no products that match your search. Please select a different search term.
								</div>
<?php else: ?>
								<div class="table-responsive">
									<table id="product_table" class="table table-hover table-striped">
										<thead>
											<tr>
												<th style="width: 20px;"></th>
												<th style="width: 50px;">ID</th>
												<th style="width: 100px;">Created Date</th>
												<th style="width: 150px;">Vendor</th>
												<th style="width: 120px;">Type</th>
												<th>Name</th>
												<th style="width: 110px;">Active?</th>
												<th style="width: 20px;">Del</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th></th>
												<th>ID</th>
												<th>Created Date</th>
												<th>Vendor</th>
												<th>Type</th>
												<th>Name</th>
												<th>Active?</th>
												<th style="width: 20px;">Del</th>
											</tr>
										</tfoot>
										<tbody>
<?php foreach ($products as $id => $data): ?>
												<tr style="cursor: pointer;">
													<td style="margin: 0; padding: 0; padding-top: 3px;"><div class="btn btn-info" onclick="submitPage(<?=$id?>);"><i class="fa fa-arrow-right"></i></div></td>
													<td onclick="submitPage(<?=$id?>);"><?=$id?></td>
													<td onclick="submitPage(<?=$id?>);"><?=$data['created_date']?></td>
													<td onclick="submitPage(<?=$id?>);"><?=$vendors[$data['vendor_id']]['name']?></td>
													<td onclick="submitPage(<?=$id?>);"><?=$product_types[$data['product_type_id']]['name']?></td>
													<td style="margin: 0; padding: 0;">
														<span style="display: none;"><?=$data['name']?></span>
														<div class="input-group"style="margin: 0; padding: 0;">
															<span id="submit_name<?=$id?>" class="input-group-btn" style="display: none;">
									                        	<button class="btn btn-info" type="button" onclick="javascript: updateName(<?=$id?>);">Submit Change</button>
									                        </span>
		                                                    <input id="product_name<?=$id?>" type="text" class="form-control" placeholder="- NO NAME SET -" value="<?=$data['name']?>" oninput="javascript: showUpdateName(<?=$id?>);" style="height: 20px;padding: 0; padding-left: 10px; width: 75%;">
		                                                    
                                                		</div>
														
<?php if ($data['description'] == ''): ?>

<?php endif; ?>
													</td>
													
													<td style="margin: 0; padding: 0; padding-top: 3px;padding-left: 15px;">
<?php if ($data['active'] == 1): ?>
														<div id="active_on<?=$id?>" class="btn btn-success" style="width: 70%;" onclick="javascript: switchActive(<?=$id?>, 0);">Active</div>
														<div id="active_off<?=$id?>" class="btn btn-danger" style="width: 70%; display: none;" onclick="javascript: switchActive(<?=$id?>, 1);">NOT Active</div>
<?php else: ?>
														<div id="active_on<?=$id?>" class="btn btn-success" style="width: 70%; display: none;" onclick="javascript: switchActive(<?=$id?>, 0);">Active</div>
														<div id="active_off<?=$id?>" class="btn btn-danger" style="width: 70%;" onclick="javascript: switchActive(<?=$id?>, 1);">NOT Active</div>
<?php endif; ?>
														
													</td>
													<td style="margin: 0; padding: 0; padding-top: 3px;">
														<div id="delete<?=$id?>" class="btn btn-info" style="float: right; background-color: #bfbfbf;" onclick="javascript: addToDeleteList(<?=$id?>);">
															<i class="fa fa-close"></i>
														</div>
													</td>
	
												</tr>
<?php endforeach; ?>
										</tbody>
									</table>
								</div>
<?php endif; ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="change_button" class="change_button" style="display: none;">
			<div class="gradient change_button2" onclick="javbascript: submitChanges();">
				<div class="change_button3">SUBMIT CHANGES</div>
			</div>
		</div>

		<style>
			.change_button2 {
				position: fixed; bottom: 0; width: 100%; background-color: red; height: 50px; z-index: 111; padding: 5px 0; cursor: pointer;
			}
			
			.change_button3 {
				background-color: #F62D51; height: 100%; text-align: center; line-height: 40px; font-weight: bold; color: white;
			}
		</style>

		<script type="text/javascript"> 

			var delete_list = [];
	
			function addToDeleteList(product_id) {
				delete_list.push(product_id);
				document.getElementById('delete' + product_id).style.backgroundColor = '#F62D51';
				document.getElementById('change_button').style.display = '';
			}

			function submitChanges () {
				swal({   
					title: "Confirm Changes",   
					text: 'Are you sure you want to submit these changes?',
					type: "warning",    
					confirmButtonColor: "#15A59B",   
					confirmButtonText: "Yes, Continue",   
					closeOnConfirm: true 
					}, 
					function(){   
						$.ajax({
							url: "<?=$company_info['nav_path']?>updateProductPartsAction",
							type: 'post',
							dataType: 'html',
							data: {
								delete_list: delete_list
							},
							async: false,
							success: function(data) {
								if (data == 1) {
									

									window.location.href='<?=$company_info['nav_path']?>view-product-part';
								} else {
									console.log(data);
								}
							} 
						});
					});
			}
		
			function submitPage(product_id)
			{
				window.location.href = '<?=$company_info['nav_path']?>edit-product-part?product_id=' + product_id;
			}

			function showUpdateName(product_id)
			{
				document.getElementById('submit_name' + product_id).style.display = '';
			}

			function switchActive (product_id, source) {
				$.ajax({
					url: "<?=$company_info['nav_path']?>switch-active",
					type: 'post',
					dataType: 'html',
					data: {
						product_id: product_id,
						source: source
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							if (source == 1) {
								document.getElementById('active_on' + product_id).style.display = '';
								document.getElementById('active_off' + product_id).style.display = 'none';
							} else {
								document.getElementById('active_on' + product_id).style.display = 'none';
								document.getElementById('active_off' + product_id).style.display = '';
							}
						} else {
							alert('An error has occurred.');
							console.log(data);
						}
					} 
				});
			}

			function updateName (product_id) {
				$.ajax({
					url: "<?=$company_info['nav_path']?>update-product-name",
					type: 'post',
					dataType: 'html',
					data: {
						product_id: product_id,
						name: document.getElementById('product_name' + product_id).value
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							document.getElementById('submit_name' + product_id).style.display = 'none';
							document.getElementById('product_name' + product_id).style.border = '1px solid #55CE63';
						} else {
							alert('An error has occurred.');
							console.log(data);
						}
					} 
				});
			}

			$('#product_table').DataTable( {
				columnDefs: [
				{
					className: 'mdl-data-table__cell--non-numeric',
						targets: [0,7],
						orderable: false
				}],
				lengthMenu: [10, 15, 20, 25, 50, 100],
				
				pageLength: 100,
				order: [[ 2, "desc" ]]
			});


		</script>
		