
		
			
		<!-- Main -->
			<section id="main" class="wrapper" style="margin-top: 75px;">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.8); padding: 35px; text-align: center;">
					<header class="major">
						<h2>Work With Us</h2>
						<p style="text-align: center;">
	
							<b>CBS NEWS:</b> "COULD YOUR NEXT JOB BE IN THE LEGAL MARIJUANA INDUSTRY? ARCVIEW ESTIMATES
							 THE INDUSTRY'S SALES INCREASED 74% LAST YEAR, TO $2.7 BILLION. IT'S ALREADY THE FASTEST-GROWING 
							 BUSINESS IN THE U.S. AND IS EXPECTED TO GENERATE $10.8 BILLION IN SALES IN 2019."
							<br><br> 
							
							THE WORLDWIDEWEED COMMUNITY WAS FORMED IN 2014. OVER TIME WE HAVE DEVELOPED INTO A PROP 215 
							COMPLAINT DELIVERY DISPENSARY IN SAN DIEGO, CALIFORNIA. WE EDUCATE PATIENTS WITH CANNABIS 
							AND CBD SOLUTIONS AND SERVICE OUR MEMBERS 24 HOURS DAILY. WE WANT YOU TO JOIN US IN THIS MOVEMENT!
							IF YOU KNOW ANYONE THAT IS 420 FRIENDLY AND HAS A PROP 215 CA MEDICAL RECCOMENDATION, YOU CAN EARN WITH US!
							WE ARE LOOKING FOR MOTIVATED PEOPLE THAT ARE LOOKING TO ENTER THE INDUSTRY, OR ACTIVELY 
							SEARCHING FOR ANOTHER MEAN OF INCOME AS OUR WORK HOURS ARE FLEXIBLE. YOU DO NOT NEED YOUR CALIFORNIA 
							MEDICAL RECOMMENDATION TO WORK WITH US, BUT IF YOU WANT TO PARTAKE IN SOME OF OUR COMPANY BENEFITS, 
							ITS A PLUS.
							<br><br>
							COMMISSION BASED AND HOURLY POSITIONS AVAILABLE.
							<br><br>
							<b>
							CONTACT US FOR AN INTERVIEW TODAY! <a href="tel:<?=$loader['company']['phone']?>"><?=$loader['company']['phone_show']?></a>
							</b>
						</p>
					</header>
				</div>
			</section>
		
		