
		<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
		<main id="mainContent" class="main-content" style="background-image: url('../../../uploads/main_bg.png');">
            <div class="page-container ptb-60">
                <div class="container">
                    <section class="sign-area panel p-40">
                    	<?php if ($alert != ''): ?>
                    	<h2 style="border-bottom: 2px solid grey; margin-bottom: 20px;">PLEASE SIGN IN TO CONTINUE WITH PURCHASE</h2>
                    	<?php endif; ?>
                        <h3 class="sign-title">Vendor Sign In <small>Don't have a vendor account yet? <a href="/home/signup-vendor" class="color-green">Sign Up Here</a></small></h3>
                        <div class="row row-rl-0">
                            <div class="col-sm-6 col-md-7 col-left">
                                <form id="main_form" class="p-40" action="/home/signinAction">
                                    <div class="form-group">
                                        <label class="sr-only">Email</label>
                                        <input id="email" name="email" type="text" class="form-control input-lg" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Password</label>
                                        <input id="unlock" name="unlock" type="password" class="form-control input-lg" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <a href="#" class="forgot-pass-link color-green">Forget Your Password?</a>
                                    </div>
                                    <div class="custom-checkbox mb-20">
                                        <input type="checkbox" id="remember_account" checked>
                                        <label class="color-mid" for="remember_account">Keep me signed in on this computer.</label>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-lg">Sign In</button>
                                </form>
                                <span class="or">Or</span>
                            </div>
							<div class="col-sm-6 col-md-5 col-right">
								<div class="social-login p-40">
									<div class="mb-20">
										<div style="text-align: center;">Are you trying to log into your customer account, or sign up for one? Click Below!</div>
										<div class="btn btn-grey" style="background-color: #F77952; text-align: center; padding: 10px; width: 100%;">
											USER LOGIN
										</div>
									</div>
									<div class="mb-20">
										<div class="btn btn-grey" style="background-color: #F77952; text-align: center; padding: 10px; width: 100%;">
											USER SIGN UP
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </section>
                </div>
            </div>
		</main>

		<script>
			$(document).ready(function (e) {
				$('#main_form').on('submit',(function(e) {
					e.preventDefault();
					var formData = new FormData(this);

					$.ajax({
						type:'POST',
						url: $(this).attr('action'),
						data:formData,
						cache:false,
						contentType: false,
						processData: false,
						success:function(data){
							if (data == 1) {
								window.location.href='/';
							} else {
								swal('Login Failed', "Something didn't quite match up. Try again.", 'error');
								console.log(data);
							}
						},
						error: function(data){
							console.log("error");
							console.log(data);
						}
					});
				}));
			});
		</script>

		
		