
        <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
        <main id="mainContent" class="main-content" style="background-image: url('../../../uploads/main_bg.png');">
            <div class="page-container ptb-60">
                <div class="container">

                    <section class="sign-area panel p-40">
						
                        <h3 class="sign-title" style="font-weight: bold; text-align: center;">Customer Sign Up</h3>
                        <div class="row row-rl-0">
                            <div class="col-sm-6 col-md-7 col-left">
                                <form id="main_form" class="p-40" action="/home/signupAction">
                
                                    <div class="form-group">
                                        <label class="sr-only">Email</label>
                                        <input id="email" name="email" type="text" class="form-control input-lg" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Password</label>
                                        <input id="unlock" name="unlock" type="password" class="form-control input-lg" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Confirm Password</label>
                                        <input id="repeat_unlock" name="repeat_unlock" type="password" class="form-control input-lg" placeholder="Confirm Password">
                                    </div>
                                    <div class="custom-checkbox mb-20">
                                        <input type="checkbox" id="agree_terms">
                                        <label class="color-mid" for="agree_terms">I agree to the <a href="/home/terms_conditions" class="color-green">Terms of Use</a> and <a href="/home/terms_conditions" class="color-green">Privacy Statement</a>.</label>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-lg">Sign Up</button>
                                </form>
                                <span class="or">Or</span>
                            </div>
							<div class="col-sm-6 col-md-5 col-right">
								<div class="social-login p-40">
									<div class="mb-20">&nbsp;</div>
									<div class="mb-20">
										<div style="text-align: center;">Are you trying to log into your account, or sign up for customer account? Click Below!</div>
										<a href="/home/signin" class="btn btn-grey" style="background-color: #F77952; text-align: center; padding: 10px; width: 100%;">
											LOGIN
										</a>
									</div>
									<div class="mb-20">
										<a href="/home/signup-vendor" class="btn btn-grey" style="background-color: #F77952; text-align: center; padding: 10px; width: 100%;">
											VENDOR SIGN UP
										</a>
									</div>
								</div>
							</div>
                        </div>
                    </section>
                </div>
            </div>
        </main>

		<script>
			$(document).ready(function (e) {
				$('#main_form').on('submit',(function(e) {
					e.preventDefault();
					var formData = new FormData(this);

					var terms = $('#agree_terms:checked').val();

					if (document.getElementById('unlock').value == document.getElementById('repeat_unlock').value) {
						if (terms == 'on') {
							$.ajax({
								type:'POST',
								url: $(this).attr('action'),
								data:formData,
								cache:false,
								contentType: false,
								processData: false,
								success:function(data){

									if (data == 1) {
										window.location.href = "/home?signup=true";
									} else {
										swal('Data Not Saved', data, 'error');
										console.log(data);
									}
									
								},
								error: function(data){
									console.log("error");
									console.log(data);
								}
							});
						} else {
							swal('Accept Terms', 'Please click the checkbox to agree to our terms and conditions to continue creating an account.', 'error');
						}
					} else {
						swal('Password Mismatch', 'The passwords you entered do not match. Re-type and try again.', 'error');
					}

					

				}));
			});
		</script>

