
        <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
        <main id="mainContent" class="main-content">
            <!-- Page Container -->
            <div class="page-container ptb-60">
                <div class="container">

                    <!-- Contact Us Area -->
                    <section class="terms-area panel">
                        <div class="ptb-30 prl-30">
                            <h3 class="t-uppercase h-title mb-40">TERMS AND CONDITIONS</h3>
                            <h4 class="mb-20">1 - Donec bibendum libero id arcu tincidunt ornare.</h4>
                            <p class="mb-20">Nam at condimentum diam, vitae suscipit leo. Aliquam vel erat a turpis faucibus dapibus. Donec rutrum congue metus, fringilla eleifend quam luctus vitae. Morbi mi mauris, ullamcorper quis erat id, rutrum tempor leo. Nunc sit amet erat nibh. Sed vel mauris felis. Nulla nulla magna, porta sit amet semper ut, molestie at mi. Sed venenatis volutpat lobortis. Donec mattis fringilla arcu, id rhoncus est pharetra a. Etiam ut euismod tellus. Proin sagittis mauris tortor, sit amet vulputate turpis tincidunt sed. Etiam a consectetur enim, tristique malesuada ipsum. Maecenas vel placerat sapien. Nam et ultricies orci. Ut bibendum accumsan laoree.</p>
                            <p class="mb-20">Maecenas in mattis justo. Nulla aliquam dictum erat, vitae maximus sem interdum ut. Sed sollicitudin tempus accumsan. Vivamus eget dui at ligula semper aliquam eu vel erat. Sed sed mi molestie, eleifend nunc eu, finibus lorem. Morbi ulputate interdum finibus. Vestibulum bibendum iaculis dui sed ornare. Proin nec finibus mi. Sed odio diam, pharetra at dapibus nec, commodo quis risus. Cras et dui vitae lacus luctus maximus id sed erat. Maecenas dignissim malesuada elit, sit amet efficitur est suscipit nec. Sed quis rutrum libero. Nullam a lacus hendrerit, vestibulum nisi a, dictum quam.</p>
                            <h4 class="mb-20">2 - Maecenas in mattis justo. Nulla aliquam dictum erat.</h4>
                            <p class="mb-20">Aliquam et mattis nulla, vel molestie nulla. Suspendisse leo dui, sagittis auctor turpis ut, egestas non maximus enim. Aenean rutrum a magna eget scelerisque. Nulla magna diam, venenatis sit amet orci sed, dapibus imperdiet leo.Donec condimentum neque non efficitur rhoncus. Maecenas facilisis magna at tempor pulvinar.Sed sit amet nunc egestas, blandit arcu quis.</p>
                            <ul class="list-styled mb-20">
                                <li>Nulla aliquam dictum erat, vitae maximus sem interdum ut.</li>
                                <li> Proin nec finibus mi. Sed odio diam.</li>
                                <li>Maecenas dignissim malesuada elit, sit amet efficitur est suscipit nec</li>
                                <li>Maecenas in mattis justo.</li>
                                <li> Proin nec finibus mi. Sed odio diam.</li>
                            </ul>
                            <h4 class="mb-20">3 - Aenean placerat condimentum enim.</h4>
                            <p class="mb-20">Aenean blandit congue libero, sed consectetur nisl gravida et. Vestibulum eget velit diam. Cras id nunc bibendum, condimentum purus id, quam. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vel elementum odio, eu congue velit Fusce dapibus diam at nunc auctor pharetra. In tempus orci id volutpat fermentum.</p>
                        </div>
                    </section>
                    <!-- End Contact Us Area -->

                </div>
            </div>
            <!-- End Page Container -->


        </main>
       