<!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li onclick="javascript: setTheme('default');"><a href="javascript:void(0);" data-theme="default" class="default-theme">1</a></li>
                                <li onclick="javascript: setTheme('green');"><a href="javascript:void(0);" data-theme="green" class="green-theme">2</a></li>
                                <li onclick="javascript: setTheme('red');"><a href="javascript:void(0);" data-theme="red" class="red-theme">3</a></li>
                                <li onclick="javascript: setTheme('blue');"><a href="javascript:void(0);" data-theme="blue" class="blue-theme">4</a></li>
                                <li onclick="javascript: setTheme('purple');"><a href="javascript:void(0);" data-theme="purple" class="purple-theme">5</a></li>
                                <li onclick="javascript: setTheme('megna');"><a href="javascript:void(0);" data-theme="megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li onclick="javascript: setTheme('default-dark');"><a href="javascript:void(0);" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li onclick="javascript: setTheme('green-dark');"><a href="javascript:void(0);" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li onclick="javascript: setTheme('red-dark');"><a href="javascript:void(0);" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                <li onclick="javascript: setTheme('blue-dark');"><a href="javascript:void(0);" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li onclick="javascript: setTheme('purple-dark');"><a href="javascript:void(0);" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li onclick="javascript: setTheme('megna-dark');"><a href="javascript:void(0);" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                <a href="http://budbase.io" target="_blank">BudBase.io</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../../admin/plugins/bootstrap/js/tether.min.js"></script>
    <script src="../../../admin/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../../admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../../../admin/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../../admin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../../../admin/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    
    <!--Custom JavaScript -->
    <script src="../../../admin/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="../../../admin/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="../../../admin/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Chart JS -->
    <script src="../../../admin/plugins/Chart.js/Chart.min.js"></script>
    <script src="../../../admin/plugins/echarts/echarts.js"></script>
    
    <script type="text/javascript" src="../../../admin/plugins/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="../../../admin/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    
    
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    
    <!-- end - This is for export functionality only -->
</body>

<script type="text/javascript">
	function makeTiny(selector) {
		tinymce.init({
			selector: "#" + selector,
			mode: "textareas",
			height: 400,
			theme: "modern",
			plugins: [
				"autolink link image lists charmap print preview hr anchor pagebreak",
				"searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
				"table contextmenu directionality emoticons paste textcolor responsivefilemanager"
			],
			toolbar1: "undo redo | bold italic underline | fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
			toolbar2: "| responsivefilemanager | styleselect | link unlink anchor | image media | forecolor backcolor| print preview code",
			image_advtab: true ,
			fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 42pt",
			external_filemanager_path:"/filemanager/",
			filemanager_title:"Responsive Filemanager" ,
			external_plugins: { "filemanager" : "/filemanager/plugin.min.js"},
			branding: false
		});

		$('.iframe-btn').fancybox({	
			'type'		: 'iframe',
			'width'		: 900,
			'height'	: 650,
			'autoSize'	: false,
			'autoDimensions': false
		});

		$(".fancybox").fancybox();
	}

	function get(name) {
	
	}
	
	$(document).ready(function(){
		
		$("*[data-theme]").click(function(e){
			e.preventDefault();
			var currentStyle = $(this).attr('data-theme');
			//store('theme', currentStyle);
			
			$('#theme').attr({href: '../../../admin/css/colors/'+currentStyle+'.css?ts=<?=time()?>&quot;'});
		});
			
		var currentTheme = '<?=$loader['admin_user']['theme']?>';
			
		if(currentTheme)
		{
			$('#theme').attr({href: '../../../admin/css/colors/'+currentTheme+'.css'});
		}
		
		// color selector
		$('#themecolors').on('click', 'a', function(){
			$('#themecolors li a').removeClass('working');
			$(this).addClass('working');
		});
	});
	
	function setTheme (theme) {
		do {	
			$.ajax({
				url: "<?=$company_info['nav_path']?>SetThemeAction",
				type: 'post',
				dataType: 'html',
				data: {
					theme: theme
				},
				async: false,
				success: function(data) {
					if (data == 1) {
						console.log('Theme Updated!');
					} else {
						swal('error');
						console.log(data);
					}
				} 
			});
		} while (false);
	}

	var colors = new Array(
		  [62,35,255],
		  [60,255,60],
		  [255,35,98],
		  [45,175,230],
		  [255,0,255],
		  [255,128,0]);

		var step = 0;
		//color table indices for: 
		// current color left
		// next color left
		// current color right
		// next color right
		var colorIndices = [0,1,2,3];

		//transition speed
		var gradientSpeed = 0.006;

		function updateGradient()
		{
		  
		  if ( $===undefined ) return;
		  
		var c0_0 = colors[colorIndices[0]];
		var c0_1 = colors[colorIndices[1]];
		var c1_0 = colors[colorIndices[2]];
		var c1_1 = colors[colorIndices[3]];

		var istep = 1 - step;
		var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
		var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
		var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
		var color1 = "rgb("+r1+","+g1+","+b1+")";

		var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
		var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
		var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
		var color2 = "rgb("+r2+","+g2+","+b2+")";

		 $('.gradient').css({
		   background: "-webkit-gradient(linear, left top, right top, from("+color1+"), to("+color2+"))"}).css({
		    background: "-moz-linear-gradient(left, "+color1+" 0%, "+color2+" 100%)"});
		  
		  step += gradientSpeed;
		  if ( step >= 1 )
		  {
		    step %= 1;
		    colorIndices[0] = colorIndices[1];
		    colorIndices[2] = colorIndices[3];
		    
		    //pick two new target color indices
		    //do not pick the same as the current one
		    colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
		    colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
		    
		  }
		}

		setInterval(updateGradient,5);	
</script>

<style>
	.dataTables_filter {
		font-weight: bold;
		float: left;
	}
	
	.dataTables_filter label input {
		border: 2px solid #009EFB;
		border-radius: 2px;
		padding-left: 5px;
	}
	
	.dataTables_length {
		font-weight: bold;
	}
	
	.dataTables_length label select {
		padding: 4px;
		border: 2px solid #009EFB;
		border-radius: 2px;
	}
</style>

</html>
