
		<!-- Main -->
			<section id="main" class="wrapper" style="margin-top: 100px;">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.8); padding: 35px; text-align: center; position: relative;">
					<header class="major">
						<h2 style="margin-bottom: -80px;">Online Medical Rec</h2>
					</header>
					<div class="shadow bar" style="height: 15px; width: 100%; z-index: 11111;">&nbsp;</div>

					<!-- Content -->
						<div class="content">
<!-- 							<a href="#" class="image fit"><img src="../../../uploads/pic07.jpg" alt="" /></a> -->
						

						</div>
						<div class="row" style="margin-top: 25px;">
							<div class="12u">
								<div>
									World Wide Weed is happy to help you get your medical reccomendation online. Save $10 by using one of the
									links below to get your rec from one of our partners.
									<hr>
								</div>
							</div>
							<div class="6u 12u(s)">
								<div>
									<h2>HelloMD</h2>
									HELLOMD IS FULLY HIPPA COMPLIANT AND DOESN'T SHARE PATIENT INFO WITH 3RD PARTIES.<br>

									Register &amp; create a medical history for your doctor. Save $10 and pay only $39 for 
									your consult &amp; renewal through us. HelloMD sends over a personal Medical ID Card for 
									your protection. Recommendation available for immediate use with us. On 1st delivery you 
									are entitled to free top shelf gram as a thank you!
									<br><br>
									<span style="font-weight: bold;">Open 10 a.m. - 7 p.m. daily</span>
									<br>
									<a href="https://wwweed.hellomd.com/signup"><img src='../../../uploads/hellomd.jpg'></a>
								</div>
							</div>
							<div class="6u 12u(s)">
								<div>
									<h2>NuggMD</h2>
									NuggMD is the fastest, easiest, and most secure way to get your medical marijuana recommendation 
									and card by chatting with a CA licensed 420 doctor, granting you instant access to the California 
									cannabis industry.
									<br><br>
									<span style="font-weight: bold;">Open 8 a.m. - 10 p.m. daily</span>
									<br>
									<br>
									<a href="https://getnugg.com/new/doctor-request?utm_campaign=wwweed "><img src='../../../uploads/nugg2.png' style="width: 100%;"></a>
								</div>
							</div>
						</div>
				</div>
			</section>
