		
		
			<section class="wrapper" style="min-height: 85vh;">
				<div class="inner">

					<div class="content">
						<div class="row" style="margin: 0 auto; text-align: center;">
							<div class="3u">&nbsp;</div>
							<div class="6u 12u(s)" style="margin: 0; padding: 0;">&nbsp;
								<div class="shadow" style="background-color: rgba(255,255,255, 0.7); margin-bottom: 25px; padding-top: 25px;">
									<h2 style="margin: 0;">FORGOT PASSWORD</h2>
									<div class="shadow bar" style="height: 15px; width: 90%; margin-left: 5%; z-index: 11111;">&nbsp;</div>
									<iframe id="loading_gif" class="blur-box" style="display: none;" src="//giphy.com/embed/xJCaPc70BUMgg" width="250" height="250" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/xJCaPc70BUMgg"></a></p>
								
									<div class="login_form form" style="margin: 0;">
										<input type="text" id="email" placeholder="Email Address" style="width: 80%; border: 1px solid #0FA18C; margin-left: 10%; background-color: white;">
										<div id="submit" class="button" style="margin-top: 25px;">Send Link</div>
										<div style="margin-top: 50px; z-index: 1111;">A reset link will be sent to the email you provide.</div>
									</div>
								</div>
							</div>
							<div class="3u">&nbsp;</div>
						</div>
					</div>
				</div>
			
			</section>

		<script type="text/javascript">
			
			$(document).ready(function () {
				$(document).keypress(function(event){
					var keycode = (event.keyCode ? event.keyCode : event.which);
					if(keycode == '13'){
						submitPage();
					}
				});
				
				$("#submit").click(function () {
					submitPage();
				});
			});

			function submitPage() {
				do {
					if (document.getElementById('email').value == '') {
						swal("Oops...", "You must enter an email address", "error");
						break;
					}

					$.ajax({
						url: "/login/resetPasswordAction",
						type: 'post',
						dataType: 'html',
						data: 
						{
							email: document.getElementById('email').value
						},
						async: false,
						success: function(data) {
							if (data == 1) {
								swal({   
									title: "Success!",   
									text: 'You will be receiving an email shortly with a password reset link.',
									type: "success",    
									confirmButtonColor: "#15A59B",   
									confirmButtonText: "OK!",   
									closeOnConfirm: false 
									}, 
									function(){   
										window.location.replace('/');
									});
							} else {
								swal("Oops...", data, "error");
							}
						} 
					});
				} while (false);
			}
		</script>
		