
		<main id="mainContent" class="main-content" style="background-image: url('../../../uploads/main_bg.png');">
			<div class="page-container ptb-60">
				<div class="container">

					<section class="sign-area panel p-40">
						<h3 class="sign-title">Your Deals - <span style="font-weight: bold;"><?=$vendor['name']?></span><div style="float: right; margin-top: -10px;"><a href="/account/edit-deal" class="btn">Create New Deal</a></div></h3>
						<div class="">
						
<?php if (count($deals) == 0): ?>

							<h2 style="text-align: center;">There are currently no deals for this vendor. Click 'Create New Deal' above to create one.</h2>

<?php else: ?>

								<div class="row">
<?php $count = 1; ?>
<?php foreach ($deals as $id => $data): ?>

									<div class="col-lg-4">
                                        <div class="deal_box widget single-deal-widget panel ptb-30 prl-20" style="border: 2px solid #25C76F; cursor: pointer;" onclick="javascript: window.location.href='/account/deal?deal_id=<?=$id?>'">
                                            <div class="widget-body text-center">
                                            	<h1>Deal Option <?=$count?></h1>
                                                <h2 class="mb-20 h3"><?=$data['title']?></h2>
                                                <ul class="deal-meta list-inline mb-10 color-mid">
                                                    <li><i class="ico fa fa-shopping-basket mr-10"></i>75 Bought</li>
                                                </ul>
                                                <p class="color-muted">
                                                    <?=$data['description']?>
                                                </p>
                                                <div class="price mb-20">
                                                    <h2 class="price"><span class="price-sale">
                                                    	$<?=$data['original_price']?></span> 
<?php if ($data['value_type'] == 0): ?>
														$<?=$data['value']?> Back
<?php else: ?>
<?php $mult = $data['value'] * .01?>
														$<?=$data['original_price'] * $mult?>+ Back
<?php endif; ?>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
<?php $count++; ?>
<?php endforeach; ?>

								</div>
<?php endif; ?>
						</div>
					</section>
				</div>
			</div>
		</main>
		
		<style>
			.deal_box:hover {
				background-color: rgba(37, 199, 111, 0.2);
			}
		</style>

		<script>

			function showImageUpdate() {
				document.getElementById('image_input').style.display = '';
				document.getElementById('show_image_submit').style.display = 'none';
				document.getElementById('submit_image_button').style.display = '';
			}
		
			$(document).ready(function (e) {
				$('#img_form').on('submit',(function(e) {
					e.preventDefault();
					var formData = new FormData(this);

					$.ajax({
						type:'POST',
						url: $(this).attr('action'),
						data:formData,
						cache:false,
						contentType: false,
						processData: false,
						success:function(data){
							if (data == 1) {
								window.location.href='/account';
							} else {
								swal('Login Failed', "Something has gone wrong: " + data, 'error');
								console.log(data);
							}
						},
						error: function(data){
							console.log("error");
							console.log(data);
						}
					});
				}));
			});
		</script>

		
		