
		<main id="mainContent" class="main-content" style="background-image: url('../../../uploads/main_bg.png');">
			<div class="page-container ptb-60">
				<div class="container">

					<section class="sign-area panel p-40">
						<h3 class="sign-title">View Deal - <span style="font-weight: bold;"><?=$deal['title']?></span><div style="float: right; margin-top: -10px;"><a href="/account/edit-deal" class="btn">Edit Deal</a></div></h3>
						<div class="row">
							<div class="col-lg-6 col-sm-12 col-left">
								<div style="background-color: #25C76F; padding: 2em; border-radius: 2px;">
									<h2 style="font-weight: bold; text-align: center; color: white;"><i class="fa fa-caret-down"></i> Use Deal <i class="fa fa-caret-down"></i></h2>
									
									<div class="form-group">
										<h1 style="text-align: center; font-weight: bold; color: white;">Enter Customer Code</h1>
										<input id="code" name="code" type="text" class="form-control input-lg" style="text-align: center; background-color: white; font-weight: bold;" placeholder="Customer Code">
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<div>
								
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</main>
		
		<style>
			.deal_box:hover {
				background-color: rgba(37, 199, 111, 0.2);
			}
		</style>

		<script>

			function showImageUpdate() {
				document.getElementById('image_input').style.display = '';
				document.getElementById('show_image_submit').style.display = 'none';
				document.getElementById('submit_image_button').style.display = '';
			}
		
			$(document).ready(function (e) {
				$('#img_form').on('submit',(function(e) {
					e.preventDefault();
					var formData = new FormData(this);

					$.ajax({
						type:'POST',
						url: $(this).attr('action'),
						data:formData,
						cache:false,
						contentType: false,
						processData: false,
						success:function(data){
							if (data == 1) {
								window.location.href='/account';
							} else {
								swal('Login Failed', "Something has gone wrong: " + data, 'error');
								console.log(data);
							}
						},
						error: function(data){
							console.log("error");
							console.log(data);
						}
					});
				}));
			});
		</script>

		
		