
		<main id="mainContent" class="main-content" style="background-image: url('../../../uploads/main_bg.png');">
			<div class="page-container ptb-60">
				<div class="container">

					<section class="sign-area panel p-40">
						<h3 class="sign-title">
							Create New Deal - <span style="font-weight: bold;"><?=$vendor['name']?></span>
<?php if ($deal_id > 0): ?>
							<div style="float: right; margin-top: -10px;"><a href="/account/create-deal" class="btn">Create New Deal</a></div>
<?php endif; ?>
						</h3>
						<div class="">
							
							<form id="deal_form" style="padding: 2em; padding-top: 0; text-align: center;" action="/account/writeDealAction">
								<div class="row">
									<input type="hidden" id="vendor_id" name="vendor_id" value="<?=$loader['vendor_id']?>">
									<div class="col-lg-12">
										<div class="form-group">
											<label>Deal Title</label>
											<input id="title" name="title" type="text" class="form-control input-lg" placeholder="Title" value="<?=$deal['title']?>">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Expires</label>
											<input id="expire" name="expire" type="text" class="form-control input-lg" placeholder="Expiration Date" value="<?=$deal['expire']?>">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Deal Image - 2MB file size max</label>
											<input id="image" name="image" type="file" class="form-control input-lg" placeholder="xxx">
										</div>
									</div>
					
									<div class="col-lg-6">
										<div class="form-group">
											<label>Original Price</label>
											<input id="original_price" name="original_price" type="number" class="form-control input-lg" placeholder="Original Price" value="<?=$deal['original_price']?>">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Dollas Back</label>
											<input id="value" name="value" type="number" class="form-control input-lg" placeholder="Value" value="<?=$deal['value']?>">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label>Dollars or Percentage?</label>
											<select id="value_type" name="value_type" class="form-control">
												<option value="-1">- Select Option -</option>
												<option value="0">Dollars</option>
												<option value="1">Percentage</option>
											</select>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label>Decription</label>
											<textarea id="description" name="description" class="form-control" style="min-height: 100px;"></textarea>
										</div>
									</div>
									
								</div>
								<button class="btn" type="submit">Submit</button>
							</form>
						</div>
					</section>
				</div>
			</div>
		</main>
		
		

		<script>

			function showImageUpdate() {
				document.getElementById('image_input').style.display = '';
				document.getElementById('show_image_submit').style.display = 'none';
				document.getElementById('submit_image_button').style.display = '';
			}
		
			$(document).ready(function (e) {
				$('#deal_form').on('submit',(function(e) {
					e.preventDefault();

					
					if (document.getElementById('value_type').value == -1) {
						swal('Login Failed', "Please select 'Dollars or Percentage?'", 'error');
					} else {
						var formData = new FormData(this);

						$.ajax({
							type:'POST',
							url: $(this).attr('action'),
							data:formData,
							cache:false,
							contentType: false,
							processData: false,
							success:function(data){
								if (data == 1) {
									window.location.href='/account';
								} else {
									swal('Login Failed', "Something has gone wrong: " + data, 'error');
									console.log(data);
								}
							},
							error: function(data){
								console.log("error");
								console.log(data['responseText']);
							}
						});
					}
					
					
				}));
			});
		</script>

		
		