
			<!-- Main -->
			<section class="wrapper" style="text-align: center;">
				<div class="inner shadow" style="background-color: rgba(255,255,255,0.7); padding: 35px;">
					<header class="major">
						<h2 style="margin-bottom: -65px;">Account Information</h2>
					</header>
					<!-- Content -->
					<div class="content" style="background-color: #039870; padding: 25px; background-image: url('../../../uploads/overlay.png');">
						<div style="color: white;"><span style="font-weight: bold; font-size: 165%;">Name: </span> <input id="name" class="data_row shadow" value="<?=$user['first_name']?> <?=$user['last_name']?>" style="padding: 5px; padding-left: 10px;"></div>
					</div>
					<div class="content" style="background-color: #079B7A; padding: 25px; background-image: url('../../../uploads/overlay.png');">
						<div style="color: white;"><span style="font-weight: bold; font-size: 165%;">Street Address: </span> <input id="address" class="data_row shadow" value="<?=$user['address']?>" style="padding: 5px; padding-left: 10px;"></div>
					</div>
					<div class="content" style="background-color: #15A59B; padding: 25px; background-image: url('../../../uploads/overlay.png');">
						<div style="color: white;"><span style="font-weight: bold; font-size: 165%;">City: </span> <input id="city" class="data_row shadow" value="<?=$user['city']?>" style="padding: 5px; padding-left: 10px;"></div>
					</div>
					<div class="content" style="background-color: #25B1C3; padding: 25px; background-image: url('../../../uploads/overlay.png');">
						<div style="color: white;"><span style="font-weight: bold; font-size: 165%;">Zip Code: </span> <input id="zip" class="data_row shadow" value="<?=$user['zip']?>" style="padding: 5px; padding-left: 10px;"></div>
					</div>
					<div class="content" style="background-color: #34BCE7; padding: 25px; background-image: url('../../../uploads/overlay.png');">
						<div style="color: white;"><span style="font-weight: bold; font-size: 165%;">Phone #: </span> <input id="phone" class="data_row shadow" value="<?=$user['phone']?>" style="padding: 5px; padding-left: 10px;"></div>
					</div>
				
					<div style="margin-top: 25px;">
						<div id="submit_page" class="button" style="padding: 20px;">Submit</div>
					</div>
				</div>
			</section>
			
			<style>
				.data_row {
					width: 30%;	
				}
				
				@media screen and (max-width: 880px) {
					.data_row {
						width: 90%;	
					}
				}
			</style>
			
			<script type="text/javascript">
				$(document).ready(function () {
					$(document).keypress(function(event){
						var keycode = (event.keyCode ? event.keyCode : event.which);
						if(keycode == '13'){
							submitPage();
						}
					});
					
					$("#submit_page").click(function () {
						submitPage();
					});
				});

				function submitPage() {
					do {
						event.preventDefault();
					
						if (document.getElementById('name').value == '') {
							swal("Oops...", "Name field can not be blank", "error")
							break;
						}
	
						if (document.getElementById('address').value == '') {
							swal("Oops...", "Address field can not be blank", "error")
							break;
						}

						if (document.getElementById('city').value == '') {
							swal("Oops...", "City field can not be blank", "error")
							break;
						}

						if (document.getElementById('phone').value == '') {
							swal("Oops...", "Phone field can not be blank", "error")
							break;
						}

						if (document.getElementById('zip').value == '') {
							swal("Oops...", "Zip code field can not be blank", "error")
							break;
						}
						
						$.ajax({
							url: "/account/updateInfoAction",
							type: 'post',
							dataType: 'html',
							data: 
							{
								name: document.getElementById('name').value, 
								address: document.getElementById('address').value,
								city: document.getElementById('city').value, 
								zip: document.getElementById('zip').value, 
								phone: document.getElementById('phone').value
							},
							async: false,
							success: function(data) {
								if (data == '') {
									swal({   
										title: "Information Updated!",   
										type: "success",    
										confirmButtonColor: "#DD6B55",   
										confirmButtonText: "OK!",   
										closeOnConfirm: false 
										}, 
										function(){   
											window.location.replace('/account');
										});
								} else {
									alert(data);
								}
							} 
						});
					} while (false);
				}
			</script>
		
			