
		<main id="mainContent" class="main-content" style="background-image: url('../../../uploads/main_bg.png');">
			<div class="page-container ptb-60">
				<div class="container">
				
<?php if ($user_id > 0): ?>
					<section class="sign-area panel p-40">
						<h3 class="sign-title">ACCOUNT</h3>
						<div class="row row-rl-0">
							<div class="col-sm-6 col-lg-4 col-left" style="text-align: center;">
<?php if ($user['profile_image'] == ''): ?>
								<img alt="" src="../../../uploads/no_user.png" style="max-width: 200px;">
<?php else: ?>
								<img alt="" src="../../../uploads/clients/<?=$loader['company']['db_name']?>/users/<?=$user['profile_image']?>" style="max-width: 200px;">
<?php endif; ?>
								<form id="img_form" class="p-40" action="/home/updateImageAction">
									<div id="image_input" class="form-group" style="display: none;">
										<div>2MB file size max</div>
										<input id="profile_image" name="profile_image" type="file" class="form-control input-lg" placeholder="xxx">
									</div>
									<span id="show_image_submit" class="btn btn-block btn-lg" onclick="javascript: showImageUpdate()">Update Profile Image</span>
									<button id="submit_image_button" type="submit" class="btn btn-block btn-lg" style="display: none;">Submit New Image</button>
									<input id="user_id" name="user_id" type="hidden" value="<?=$user['id']?>" />
									<input id="vendor_id" name="vendor_id" type="hidden" value="0" />
											
								</form>

								<div class="form-group">
									<label>Email</label>
									<input id="email" name="email" type="text" class="form-control input-lg" placeholder="Email" value="<?=$user['email']?>">
								</div>
								<div class="form-group">
									<label>Display Name</label>
									<input id="display_name" name="display_name" type="text" class="form-control input-lg" placeholder="Display Name" value="<?=$user['display_name']?>">
								</div>
							</div>
							<div class="col-sm-6 col-lg-8 col-right">
								<div style="padding: 2em; text-align: center;">
<?php if ($admin > 0): ?>
									<h2 style="color: red;">ADMIN ACTIVE</h2>
									<h2 style="margin-bottom: 15px;"><span style="border: 3px solid red; padding: 5px; font-weight: bold;">Total Dollas Back: $<?=$admin_total?></span></h2>
									<hr>
<?php endif; ?>
									<h2 style="margin-bottom: 15px;"><span style="border: 3px solid #28CD73; padding: 5px; font-weight: bold;">Your Balance: <?=$user['balance']?> Points</span></h2>
									<hr>
									<h2 style="font-weight: bold;">Badges</h2>
									<div class="row">
										<!-- loading.io -->
										
										<div class="col-lg-6">
											<div style="text-align: center;">
												Little Saver
												<div id="myItem1" class="ldBar label-center"
													style="width:100%;height:50%;margin:auto"
													data-value="35"
													data-type="fill"
													data-fill-background="#f76065"
													data-preset="stripe">
													
												</div>
												<div style="float: left; font-weight: bold;">Value: $35</div>
												<div style="float: right; font-weight: bold;">Next Goal: $100</div>
												<hr style="margin-top: 40px;">
											</div>
								
										</div>
										
										<div class="col-lg-6">
											<div style="text-align: center;">
												Ameteur
												<div id="myItem1" class="ldBar label-center"
													style="width:100%;height:50%;margin:auto"
													data-value="35"
													data-type="fill"
													data-fill-background="#7ED321"
													data-preset="stripe">
													
												</div>
												<div style="float: left; font-weight: bold;">Value: 2</div>
												<div style="float: right; font-weight: bold;">Next Goal: 5</div>
												<hr style="margin-top: 40px;">
											</div>
										</div>
										
										<div class="col-lg-6">
											
											<div style="text-align: center;">
												Staycation
												<div id="myItem1" class="ldBar label-center"
													style="width:100%;height:50%;margin:auto"
													data-value="35"
													data-type="fill"
													data-fill-background="#BD10E0"
													data-preset="stripe">
													
												</div>
												<div style="float: left; font-weight: bold;">Value: 1</div>
												<div style="float: right; font-weight: bold;">Next Goal: 5</div>
												<hr style="margin-top: 40px;">
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</section>
					
<?php else: ?>
					<section class="sign-area panel p-40">
						<h3 class="sign-title">Vendor Account Settings - <span style="font-weight: bold;"><?=$vendor['name']?></span></h3>
						<div class="row row-rl-0">
							<div class="col-sm-6 col-lg-4 col-left" style="text-align: center;">
<?php if ($vendor['attachment_file_name'] == ''): ?>
								<img alt="" src="../../../uploads/no_user.png" style="max-width: 200px;">
<?php else: ?>
								<img alt="" src="../../../uploads/clients/<?=$loader['company']['db_name']?>/vendors/<?=$vendor['file_name']?>/<?=$vendor['attachment_file_name']?>" style="max-width: 200px;">
<?php endif; ?>
								<form id="img_form" class="p-40" action="/home/updateImageAction">
									<div id="image_input" class="form-group" style="display: none;">
										<div>2MB file size max</div>
										<input id="profile_image" name="profile_image" type="file" class="form-control input-lg" placeholder="xxx">
									</div>
									
									<span id="show_image_submit" class="btn btn-block btn-lg" onclick="javascript: showImageUpdate()">Update Company Image</span>
									<button id="submit_image_button" type="submit" class="btn btn-block btn-lg" style="display: none;">Submit New Image</button>
									
									<a href="/account/deals" id="view_deals" class="btn btn-block btn-lg">VIEW DEALS</a>
									<input id="vendor_id" name="vendor_id" type="hidden" value="<?=$vendor['id']?>" />
									<input id="user_id" name="user_id" type="hidden" value="0" />
									
<?php if (count($requests) > 0): ?>
									<a href="/deal/requests" class="btn btn-block btn-lg" style="background-color: red; margin-top: 25px;">NEW REQUESTS!</a>
<?php endif; ?>	
								</form>

								
								
								
							</div>
							<div class="col-sm-6 col-lg-8 col-right">
								<div style="padding: 2em; padding-top: 0; text-align: center;">
									<div class="row">
									
										<div></div>
										
										<div class="col-lg-6">
											<div class="form-group">
												<label>Company name</label>
												<input id="name" name="name" type="text" class="form-control input-lg" placeholder="Company Name" value="<?=$vendor['name']?>">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>Email</label>
												<input id="email" name="email" type="text" class="form-control input-lg" placeholder="Email" value="<?=$vendor['email']?>">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>Phone #</label>
												<input id="phone" name="phone" type="text" class="form-control input-lg" placeholder="Phone Number" value="<?=$vendor['phone']?>">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>Address</label>
												<input id="address" name="address" type="text" class="form-control input-lg" placeholder="Address" value="<?=$vendor['address']?>">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>Website</label>
												<input id="website" name="website" type="text" class="form-control input-lg" placeholder="Website" value="<?=$vendor['website']?>">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>Facebook</label>
												<input id="facebook" name="facebook" type="text" class="form-control input-lg" placeholder="Facebook" value="<?=$vendor['facebook']?>">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>Twitter</label>
												<input id="twitter" name="twitter" type="text" class="form-control input-lg" placeholder="Twitter" value="<?=$vendor['twitter']?>">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label>Instagram</label>
												<input id="instagram" name="instagram" type="text" class="form-control input-lg" placeholder="Instagram" value="<?=$vendor['instagram']?>">
											</div>
										</div>
										
									</div>
									
									<button id="submit_data_button" type="submit" class="btn btn-block btn-lg" onclick="javascript: submitInfo();">Update Info</button>
									
								</div>
							</div>
						</div>
					</section>
<?php endif; ?>
				</div>
			</div>
		</main>
		
		

		<script>

<?php if ($signup == true): ?>
			swal('WELCOME!', "Thank you for joining <?=$loader['company']['name']?>! Fill out the required fields on this page and start making some deals.", 'success');
<?php endif; ?>
			
			function showImageUpdate() {
				document.getElementById('image_input').style.display = '';
				document.getElementById('show_image_submit').style.display = 'none';
				document.getElementById('submit_image_button').style.display = '';
			}
		
			$(document).ready(function (e) {
				$('#img_form').on('submit',(function(e) {
					e.preventDefault();
					var formData = new FormData(this);

					$.ajax({
						type:'POST',
						url: $(this).attr('action'),
						data:formData,
						cache:false,
						contentType: false,
						processData: false,
						success:function(data){
							if (data == 1) {
								window.location.href='/account';
							} else {
								swal('Login Failed', "Something has gone wrong: " + data, 'error');
								console.log(data);
							}
						},
						error: function(data){
							console.log("error");
							console.log(data);
						}
					});
				}));
			});

			function submitInfo() {
				$.ajax({
					type:'POST',
					url: '/account/updateVendorAction',
					data: {
						name: document.getElementById('name').value,
						email: document.getElementById('email').value,
						phone: document.getElementById('phone').value,
						address: document.getElementById('address').value,
						website: document.getElementById('website').value,
						facebook: document.getElementById('facebook').value,
						instagram: document.getElementById('instagram').value,
						twitter: document.getElementById('twitter').value
					},
					success:function(data){
						if (data == 1) {
							window.location.href='/account';
						} else {
							swal('Hmm', "Something has gone wrong: " + data, 'error');
							console.log(data);
						}
					},
					error: function(data){
						console.log("error");
						console.log(data);
					}
				});
			}
		</script>

		
		