<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <title>New Application Received!</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body style="font-family: 'Raleway', sans-serif;">
		<h1>You have received a new application!!!</h1>
		<div>Name: <span style="font-weight: bold;"><?=$name?></span></div>
		<br>
		<div>Email: <span style="font-weight: bold;"><?=$email?></span></div>
		<br>
		<div>Phone: <span style="font-weight: bold;"><?=$phone?></span></div>
		<br>
		<div>Address: <span style="font-weight: bold;"><?=$address?>, <?=$city?>, <?=$zip?></span></div>
		<br><br>
		
		<div>Referral name: <span style="font-weight: bold;"><?=$referral?></span></div>
		<br><br>
		
		<div>How did client hear about us: <span style="font-weight: bold;"><?=$discover?></span></div>
		<br><br>
		
		<div>Status: <span style="font-weight: bold;"><?=$status?></span></div>
		<br><br>
		
		Go to your <a href="http://<?=$site?>/admin">ADMIN PAGE</a> to activate the user.
	</body>
</html>