<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <style type="text/css">
.ReadMsgBody { width: 100%; background-color: #ffffff; }
.ExternalClass { width: 100%; background-color: #ffffff; }
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
html { width: 100%; }
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; font-family: 'Open Sans', Arial, Sans-serif !important; }
table { border-spacing: 0; table-layout: fixed; margin: 0 auto; }
table table table { table-layout: auto; }
img { display: block !important; overflow: hidden !important; }
.yshortcuts a { border-bottom: none !important; }
a { color: #41B3D3; text-decoration: none; }
img:hover { opacity:0.9 !important;}
.textbutton a { font-family: 'open sans', arial, sans-serif !important;}
.btn-link-1 a { color: #FFFFFF !important; }
.btn-link-2 a { color: #4a4a4a !important; }
td[class="hide"] { height: 5px !important; max-height: 5px !important; }

/*Responsive*/
@media only screen and (max-width: 640px) {
body { width: auto !important; font-family: 'Open Sans', Arial, Sans-serif !important; }
table[class="table-inner"] { width: 90% !important; text-align: center !important; }
*.table-full { width: 100%!important; max-width: 100%!important; text-align: center !important; } 
/* image */
img[class="img1"] { width: 100% !important; height: auto !important; }
}

@media only screen and (max-width: 479px) {
body { width: auto !important; font-family: 'Open Sans', Arial, Sans-serif !important; }
table[class="table-inner"] { width: 90% !important; text-align: center !important;}
*.table-full { width: 100%!important; max-width: 100%!important; text-align: center !important; } 
/* image */
img[class="img1"] { width: 100% !important; height: auto !important; }
}
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />


</head>

<body>

<?php foreach ($transactions as $id => $data): ?>
  <!-- header -->
  <table bgcolor="#f8f8f8" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="page-breaker">
    <tr>
      <td align="center">
        <table width="600" style="max-width: 600px" class="table-full" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center">
              <table width="200" class="table-full" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td bgcolor="#0A8B6E" align="center">
                    <table width="80%" class="table-inner" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="50"></td>
                      </tr>
                      <!-- logo -->
                      <tr>
                        <td align="center" style="line-height:0px;"><img style="display:block;font-size:0px; border:0px; line-height:0px; width: 100%;" src="http://<?=$company['site']?>/uploads/clients/<?=$company['db_name']?>/<?=$company['logo_light']?>" alt="logo" /></td>
                      </tr>
                      <!-- end logo -->
                      <tr>
                        <td height="40"></td>
                      </tr>
                      <!-- company name -->
                      <tr style="padding: 10px;">
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px; color:#FFFFFF; line-height:26px; font-weight: bold;"><?=$company['name']?></td>
                      </tr>
                      <!-- end company name -->
                      <tr>
                        <td height="5"></td>
                      </tr>
                      <!-- address -->
                      <tr style="padding: 10px;">
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#FFFFFF; line-height:26px;"> <?=$company['city']?>, <?=$company['state']?></td>
                      </tr>
                      <!-- end address -->
                      <tr>
                        <td height="25"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <table width="390" class="table-full" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table width="90%" class="table-inner" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="50"></td>
                      </tr>
                      <!-- title -->
					<tr>
						<td align="right" style="font-family: 'Open Sans', Arial, sans-serif; font-size:38px; color:#3b3b3b; line-height:26px;position: relative;">
							<?php if ($data['changed_date'] == '0000-00-00 00:00:00'): ?>
<?php $string1 = explode(' ', $data['created_date']); ?>
<?php $changed = 0; ?>
<?php else: ?>
<?php $string1 = explode(' ', $data['changed_date']); ?>
<?php $changed = 1; ?>
<?php endif; ?>

<?php $string2 = explode(':', $string1[1]); ?>
<?php date_default_timezone_set('America/Los_Angeles'); ?>
<?php $time = date("g:ia", strtotime($string2[0] . ':' . $string2[1])); ?>
<?php if ($changed == 1): ?>
							<div style="font-size: 40%; position: absolute; right: 0; top: 0; margin-top: -35px;"><?=$time?> <?=$string1[0]?></div> 
<?php else: ?>
							<div style="font-size: 40%; position: absolute; right: 0; top: 0; margin-top: -35px;"><?=$time?> <?=$string1[0]?></div> 
<?php endif; ?>
							INVOICE
						</td>
					</tr>
                      <!-- end title -->
                      <tr>
                        <td height="25"></td>
                      </tr>
                      <tr>
                        <td align="right">
                          <table align="right" width="50" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td bgcolor="#ff646a" height="3" style="line-height:0px; font-size:0px;">&nbsp;</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="15"></td>
                      </tr>
                      <!-- company name -->
                      <tr>
                        <td align="right" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px; color:#3b3b3b; line-height:26px; font-weight: bold;"><?=$data['array_info']['customer']?></td>
                      </tr>
                      <!-- end company name -->
                      <tr>
                        <td height="5"></td>
                      </tr>
                      <!-- address -->
                      <tr>
                        <td align="right" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#7f8c8d; line-height:26px;"> <?=$data['array_info']['delivery_address1']?>
                          <br /> <?=$data['array_info']['delivery_address2']?>
                          <br /> Order ID : <span style="color:#3b3b3b"> <strong><?=$id?></strong> </span></td>
                      </tr>
                      <!-- end address -->
                      <tr>
						<td>
<?php if ($data['array_info']['sale_by'] != ''): ?>
							<div style="font-weight: bold;">SALE BY: <?=$data['array_info']['sale_by']?></div>
<?php else: ?>

<?php endif; ?>
						</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- end header -->
<?php if ($data['consignment'] == 1): ?>
  	<h2 style="text-align: center; color: #FF646A; padding: 0; margin: 0; margin-bottom: -35px; padding-top: 10px;">CONSIGNMENT ORDER</h2>
<?php endif; ?>
  <!-- title -->
  <table width="100%" align="center" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table align="center" width="600" style="max-width:600px;" class="table-full" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="50"></td>
          </tr>
          <!-- header -->
          <tr>
            <td>
              <table class="table-inner" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="263" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; text-transform:uppercase;">Description</td>
                  <td width="87" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; text-transform:uppercase;">PRICE</td>
                  <td width="87" align="center" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; text-transform:uppercase;">QUANTITY</td>
                  <td width="87" align="right" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; text-transform:uppercase;">TOTAL</td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- end header -->
          <tr>
            <td height="10" style="border-bottom:3px solid #bcbcbc;"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- end title -->
  <!-- list -->
  <table align="center" width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table width="600" style="max-width: 600px;" class="table-full" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="35"></td>
          </tr>

<!-- NON-SCHEDULED -->
<?php foreach ($data['array_info']['sales'] as $cart_id => $data2): ?>
			<tr>
				<td align="center">
					<table width="100%" class="table-inner" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="263" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;"><?=$data2['product']['name']?></td>
							<td width="87" align="left" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;">$<?=$data2['product_size']['price']?></td>
							<td width="87" align="center" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;"><?=$data2['quantity']?></td>
							<td width="87" align="right" valign="top" style="font-family: 'Open Sans', Arial, sans-serif; font-size:14px; color:#3b3b3b; line-height:26px;font-weight: bold;">$<?=$data2['product_size']['price'] * $data2['quantity']?></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="5" style="border-bottom:1px solid #ecf0f1;"></td>
			</tr>
<?php endforeach; ?>

	

        </table>
      </td>
    </tr>
  </table>
  <!-- end list -->
  <!-- total -->
  <table align="center" width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table width="600" class="table-full" style="max-width: 600px;" align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="40" style="border-bottom:3px solid #3b3b3b;"></td>
          </tr>
        </table>
        <table align="center" width="600" style="max-width: 600px;" class="table-full" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="15"></td>
          </tr>
          <tr>
            <td align="center" style="position: relative;">
              <table width="400" class="table-full" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td bgcolor="#f8f8f8" align="center">
                    <table class="table-inner" align="center" width="90%" border="0" cellpadding="0" cellspacing="0" style="position: relative;">
                      <tr>
                        <td height="10"></td>
                      </tr>
                      <tr>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#3b3b3b; line-height:26px; text-transform:uppercase;line-height:24px;">
                        
                        	<div style="display: inline-block;">
                        		Taxes / Fees
                        		<div style="font-family: 'Open Sans', Arial, sans-serif; font-size:24px; color:#3b3b3b;  font-weight: bold;">+$0</div>
                        	</div>
<?php if ($data['sig_file'] != ''): ?>
                        	<div style="position: absolute; top: 10px; text-align: center; width: 100%; margin-left: 30px;">
                        		Customer Signature:<br/>
								<img src="<?=$company['upload_path']?>signatures/<?=$data['sig_file']?>?<?=time()?>" alt="" style="width: 200px; margin-left: 120px;" />
                        	</div>
<?php endif; ?>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <table width="200" class="table-full" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" bgcolor="#e1e6e7">
                    <table class="table-inner" width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="10"></td>
                      </tr>
                      <tr>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#3b3b3b; line-height:26px; text-transform:uppercase;line-height:24px;">Total</td>
                      </tr>
                      <tr>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:24px; color:#3b3b3b;  font-weight: bold;">
<?php if ($data['array_info']['total'] != $data['array_info']['cost']): ?>
                        <strike>$<?=number_format($data['array_info']['total'], 2)?></strike><br>
<?php endif; ?>
                        <span style="color: #0A8B6E; font-weight: bold;">$<?=number_format($data['array_info']['cost'], 2)?></span></td>
                      </tr>
                      <tr>
                        <td height="15"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              
<?php if ($data['alt_cost'] > 0): ?>
<?php $real_cost = $data['alt_cost']; ?>
<?php else: ?>
<?php $real_cost = $data['cost']; ?>
<?php endif; ?>
              
<?php if ($data['consignment'] == 1 && $real_cost >= $data['array_info']['partial_payment']): ?>
              <table width="200" class="table-full" border="0" align="right" cellpadding="0" cellspacing="0" style="margin-top: 20px; position: absolute; right: 0; top: 50px;">
                <tr>
                  <td align="center" bgcolor="#e1e6e7">
                    <table class="table-inner" width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="10"></td>
                      </tr>
                      <tr>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#3b3b3b; line-height:26px; text-transform:uppercase;line-height:24px; color: #FF646A;">Remaining Balance</td>
                      </tr>
                      <tr>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:24px; color:#3b3b3b;  font-weight: bold;">

                        <span style="color: #FF646A; font-weight: bold;">$<?=number_format($real_cost - $data['array_info']['partial_payment'], 2)?></span></td>
                      </tr>
                      <tr>
                        <td height="15"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
<?php endif; ?>
            </td>
          </tr>
          <tr>
            <td height="15"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- end total -->
  <!-- note -->
  <table align="center" width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table align="center" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="600" align="center">
              <table align="center" width="100%" class="table-inner" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="40"></td>
                </tr>
                <tr>
                  <td align="left" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px; color:#3b3b3b; line-height:26px; position: relative; font-weight: bold; text-transform:uppercase">
                 	Notes:
                  </td>
                </tr>
                
                <!-- end title -->
                <tr>
                  <td height="5"></td>
                </tr>
                <!-- content -->
                <tr>
                  <td align="left" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:grey; line-height:26px;"> <?=$data['array_info']['notes']?> </td>
                </tr>
                <!-- end content -->
                <tr>
                  <td height="15" style="border-bottom:3px solid #bcbcbc;"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- end note -->
  <!-- footer -->
  <table align="center" width="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="border-bottom: 5px solid #0A8B6E;">
    <tr>
      <td align="center" style="border-bottom:10px solid #ecf0f1;">
        <table width="600" style="max-width: 600px;" class="table-full" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="25"></td>
          </tr>
          <tr>
            <td>
              <!--left-->
              <table width="180" class="table-full" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table width="90%" align="center" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="center" style="line-height:0px;"><i class="fa fa-phone"></i></td>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px; padding-left:15px;"><a href="tel:<?=$company['phone']?>"><?=$company['phone_show']?></a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!--end left-->
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <table width="25" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="15"></td>
                </tr>
              </table>
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <!--middle-->
              <table width="180" class="table-full" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <table width="90%" align="center" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="center" style="line-height:0px;"><i class="fa fa-envelope"></i></td>
                        <td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px;padding-left: 15px;">info@<?=$company['site']?></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              
              <!--end middle-->
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <table width="25" align="left" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="15"></td>
                </tr>
              </table>
              <!--[if (gte mso 9)|(IE)]></td><td><![endif]-->
              <!--right-->
              <table width="180" class="table-full" align="right" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
<!--                     <table class="table-inner" width="100%" align="center" border="0" cellpadding="0" cellspacing="0"> -->
<!--                       <tr> 
                        <td class="btn-link-2" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#3b3b3b; line-height:26px;"><a href="http://potterscannabisco.com" style="padding: 8px; border: 1px solid grey; border-radius: 2px;">To Site</a></td>
                     </tr> 
                 </table> -->
                  </td>
                </tr>
              </table>
              <!--end right-->
            </td>
          </tr>
          <tr>
            <td height="25"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

<?php endforeach; ?>



  <!-- end footer -->
</body>

<style>
	  .page-breaker { 
	    page-break-before: always;
	  	
	  }
</style>



</html>
