<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <title>Client Sign Up!</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body style="font-family: 'Raleway', sans-serif;">
		<h1>You have received a new client sign-up!!!</h1>
		<div>Name: <span style="font-weight: bold;"><?=$first_name?> <?=$last_name?></span></div>
		<br>
		<div>Email: <span style="font-weight: bold;"><?=$email?></span></div>
		<br>
		<div>Address: <span style="font-weight: bold;"><?=$city?>, <?=$state?> <?=$zip?></span></div>
		<br><br>

		Go to your <a href="http://<?=$site?>/admin">ADMIN PAGE</a> to activate the user.
	</body>
</html>