
        <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
        <main id="mainContent" class="main-content">
            <div class="page-container ptb-20">
                <div class="container">
                    <section class="wishlist-area ptb-30">
                        <div class="container">
                            <div class="wishlist-wrapper">
                                <h3 class="h-title mb-40 t-uppercase">Active Deal Requests</h3>
                                <table id="cart_list" class="wishlist">
                                    <tbody>
<?php foreach ($requests as $id => $data): ?>
                                        <tr class="panel alert">
                                            <td class="col-sm-8 col-md-9">
                                                <div class="media-left is-hidden-sm-down">
                                                    <figure class="product-thumb">
                                                        <img src="../../../uploads/clients/<?=$loader['company']['db_name']?>/vendors/<?=$vendor['file_name']?>/<?=$data['deal']['image']?>" alt="product">
                                                    </figure>
                                                </div>
                                                <div class="media-body valign-middle">
                                                    <h5 class="title mb-5 t-uppercase"><a href="#"><?=$data['deal']['title']?></a></h5>
                                                    <h5 class="title mb-5 t-uppercase"><i class="fa fa-user"></i> <?=$data['user']['first_name']?> <?=$data['user']['last_name']?></h5>
                                                   
                                                    <h4 class="price color-green"><span class="price-sale">$<?=$data['deal']['original_price']?></span>$<?=$data['deal']['value']?> Cash Back</h4>
                                                    <button class="btn btn-rounded btn-sm mt-15 is-hidden-sm-up">Add To Cart</button>
                                                </div>
                                            </td>
                                            <td class="col-sm-3 col-md-2 is-hidden-xs-down">
                                                <button class="btn btn-rounded btn-sm" onclick="javascript: acceptRequest(<?=$id?>, <?=$data['deal_id']?>, <?=$data['user_id']?>);">Accept Request!</button>
                                            </td>
                                            <td class="col-sm-1">
                                                <button type="button" class="close pr-xs-0 pr-sm-10" data-dismiss="alert" aria-hidden="true">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </td>
                                        </tr>
<?php endforeach; ?>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>


        </main>

		<script>

			function acceptRequest(deal_request_id, deal_id, user_id) {
				$.ajax({
					url: "/deal/acceptRequestAction",
					type: 'post',
					dataType: 'html',
					data: {
						deal_request_id: deal_request_id,
						deal_id: deal_id,
						user_id: user_id
					},
					async: false,
					success: function(data) {
						if (data == 1) {
							swal({   
								title: "Deal Request Accepted!",   
								text: 'Thank You!',
								type: "success",    
								confirmButtonColor: "#15A59B",   
								confirmButtonText: "OK!",   
								}).then(function(){   
									window.location.href = '/deal/requests';
																		
								});
						} else {
							alert(data);
						}
					} 
				});
			}
		</script>