
        <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
        <main id="mainContent" class="main-content">
            <!-- Page Container -->
            <div class="page-container ptb-60">
                <div class="container">
                	<h2 style="text-align: center; margin-bottom: 10px; font-weight: bold;"><?=$vendor['name']?></h2>
                    <div class="row row-rl-10 row-tb-20">
                        <div class="page-content col-xs-12 col-sm-7 col-md-8">
                            <div class="row row-tb-20">
                                <div class="col-xs-12">
                                    <div class="deal-deatails panel">
                                        <div class="deal-slider">
                                            <div id="product_slider" class="flexslider">
                                                <ul class="slides">
                                                    <li>
                                                        <img alt="" src="../../../uploads/clients/<?=$loader['company']['db_name']?>/vendors/<?=$vendor['file_name']?>/<?=$vendor['attachment_file_name']?>">
                                                    </li>
                                          
                                                </ul>
                                            </div>
                                            <div id="product_slider_nav" class="flexslider flexslider-nav">
                                                <ul class="slides">
                                                    <li>
                                                        <img alt="" src="../../../uploads/clients/<?=$loader['company']['db_name']?>/vendors/<?=$vendor['file_name']?>/<?=$vendor['attachment_file_name']?>">
                                                    </li>
                                           
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="deal-body p-20">
                                            <h3 class="mb-10"><?=$vendor['title']?></h3>
                                            <?=$vendor['description']?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="posted-review panel p-30">
                                        <h3 class="h-title"><?=$review_count?> Reviews</h3>
                                        
<?php foreach ($reviews as $id => $data): ?>
                                        <div class="review-single pt-30">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="media-object mr-10 radius-4" src="../../../assets/images/avatars/avatar_01.jpg" width="90" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="review-wrapper clearfix">
                                                        <ul class="list-inline">
                                                            <li>
                                                                <span class="review-holder-name h5"><?=$users[$data['user_id']]['first_name']?> <?=$users[$data['user_id']]['last_name']?></span>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
																	<span class="rating-stars" data-rating="5">
<?php for ($k = 0; $k < 5 - $data['rating']; $k++):?>
																		<i class="fa fa-star-o"></i>
<?php endfor; ?>
<?php for ($k = 0; $k < $data['rating']; $k++):?>
																		<i class="fa fa-star"></i>
<?php endfor; ?>
																		
																	</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <p class="review-date mb-5">September 9, 2016</p>
                                                        <p class="copy">
                                                       		<?=$data['description']?>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
<?php endforeach; ?>
                                        
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="post-review panel p-20">
                                        <h3 class="h-title">Post Review</h3>
                                        <form class="horizontal-form pt-30" action="#">
                                            <div class="row row-v-10">
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" placeholder="Name">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" placeholder="Email">
                                                </div>
                                                <div class="col-xs-12">
                                                    <ul class="select-rate list-inline ptb-20">
                                                        <li><span>Your Rating : </span>
                                                        </li>
                                                        <li>
                                                            <span class="rating" role="button">
			                                        <i class="fa fa-star"></i>
			                                    </span>
                                                        </li>
                                                        <li>
                                                            <span class="rating" role="button">
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                    </span>
                                                        </li>
                                                        <li>
                                                            <span class="rating" role="button">
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                    </span>
                                                        </li>
                                                        <li>
                                                            <span class="rating" role="button">
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                    </span>
                                                        </li>
                                                        <li>
                                                            <span class="rating" role="button">
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                        <i class="fa fa-star"></i>
			                                    </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12">
                                                    <textarea class="form-control" placeholder="Your Review" rows="6"></textarea>
                                                </div>
                                                <div class="col-xs-12 text-right">
                                                    <button type="submit" class="btn mt-20">Submit review</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-sidebar col-md-4 col-sm-5 col-xs-12">
                            <!-- Blog Sidebar -->
                            <aside class="sidebar blog-sidebar">
                                <div class="row row-tb-10">
                                    <div class="col-xs-12">
<?php $count = 1; ?>
<?php foreach ($deals as $id => $data): ?>
<?php if ($count > 1): ?>
<?php $margin = '25px'; ?>
<?php else: ?>
<?php $margin = '0'; ?>
<?php endif; ?>
                                        <div class="widget single-deal-widget panel ptb-30 prl-20" style="border: 2px solid #25C76F; margin-top: <?=$margin?>;">
                                            <div class="widget-body text-center">
                                            	<h1>Deal Option <?=$count?></h1>
                                                <h2 class="mb-20 h3"><?=$data['title']?></h2>
                                                <ul class="deal-meta list-inline mb-10 color-mid">
                                                    <li><i class="ico fa fa-shopping-basket mr-10"></i>
<?php if ($data['used'] == 1): ?>
Used <?=$data['used']?> Time
<?php elseif($data['used'] == 0):?>
Be the first to use this deal!
<?php else: ?>
Used <?=$data['used']?> Times
<?php endif; ?>
                                                    
                                                    </li>
                                                </ul>
                                                <p class="color-muted">
                                                    <?=$data['description']?>
                                                </p>
                                                <div class="price mb-20">
                                                    <h2 class="price"><span class="price-sale">
                                                    	$<?=$data['original_price']?></span> 
<?php if ($data['value_type'] == 0): ?>
														$<?=$data['value']?> Back
<?php else: ?>
<?php $mult = $data['value'] * .01?>
														$<?=$data['original_price'] * $mult?>+ Back
<?php endif; ?>
                                                    </h2>
                                                </div>
<?php if ($loader['user_id'] > 0): ?>
                                                <div class="buy-now mb-40">
                                                    <a href="javascript: addToCart(<?=$id?>)" class="btn btn-block btn-lg">
                                                        <i class="fa fa-shopping-cart font-16 mr-10"></i> USE NOW
                                                    </a>
                                                </div>
<?php else: ?>

												<div class="buy-now mb-40">
                                                    Log into a user account to use this deal
                                                </div>
<?php endif; ?>
                                                <ul class="list-inline social-icons social-icons--colored t-center">
                                                    <li class="social-icons__item">
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li class="social-icons__item">
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
<?php $count++; ?>
<?php endforeach; ?>

<script>
	function addToCart(deal_id) {
		$.ajax({
			url: "/deal/addDealRequestAction",
			type: 'post',
			dataType: 'html',
			data: {
				deal_id: deal_id
			},
			async: false,
			success: function(data) {
				if (data == 1) {
					swal('Request Sent!', 'This vendor has been notified that you would like to use this deal.', 'success');
				} else {
					alert(data);
				}
			}, 
			error: function(data) {
				console.log(data['responseText']);
			}
		});
	}
</script>

                                    </div>
                                    
                                    
                                    
                                    
                                    <div class="col-xs-12">
                                        <!-- Contact Us Widget -->
                                        <div class="widget contact-us-widget panel pt-20 prl-20">
                                            <h3 class="widget-title h-title">Got questions for this business?</h3>
                                            <div class="widget-body ptb-30">
                                                <p class="mb-20 color-mid">If you are having any questions, please feel free to ask.</p>
                                                <a href="contact_us_01.html" class="btn btn-block"><i class="mr-10 font-15 fa fa-envelope-o"></i>Contact</a>
                                            </div>
                                        </div>
                                        <!-- End Contact Us Widget -->
                                    </div>
                                </div>
                            </aside>
                            <!-- End Blog Sidebar -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Container -->


        </main>
      