<!DOCTYPE html>
<!--[if lt IE 9 ]> <html lang="zxx" dir="ltr" class="no-js ie-old"> <![endif]-->
<!--[if IE 9 ]> <html lang="zxx" dir="ltr" class="no-js ie9"> <![endif]-->
<!--[if IE 10 ]> <html lang="zxx" dir="ltr" class="no-js ie10"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="zxx" dir="ltr" class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Dolla Back</title>

	<!-- SEO METAS -->
	<meta name="description" content="brief description here">
	<meta name="keywords" content="insert, keywords, here">
	<meta name="robots" content="index, follow">
	<meta name="author" content="Joe Ahart">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.4/sweetalert2.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.4/sweetalert2.min.css" rel="stylesheet">

	<!-- PAGE FAVICON -->
	<link rel="apple-touch-icon" href="../../../admin/d_ico.png">
	<link rel="icon" href="../../../admin/d_ico.png">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">

	<!-- Bootstrap -->
	<link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="../../../assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- Linearicons -->
	<link href="../../../assets/vendors/linearicons/css/linearicons.css" rel="stylesheet">

	<!-- Owl Carousel -->
	<link href="../../../assets/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
	<link href="../../../assets/vendors/owl-carousel/owl.theme.min.css" rel="stylesheet">

	<!-- Flex Slider -->
	<link href="../../../assets/vendors/flexslider/flexslider.css" rel="stylesheet">
	
	<!-- RateYo! -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
	
	<link rel="stylesheet" href="../../../js/loading/loading-bar.css?ts=<?=time()?>&quot;">
	<script src="../../../js/loading/loading-bar.min.js"></script>

	<!-- Template Stylesheet -->
	<link href="../../../assets/css/base.css" rel="stylesheet">
	<link href="../../../assets/css/style.css" rel="stylesheet">
	
	

</head>

<body id="body" class="wide-layout preloader-active">

    <!--[if lt IE 9]>
        <p class="browserupgrade alert-error">
        	You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->

    <noscript>
        <div class="noscript alert-error">
            For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.
        </div>
    </noscript>

	<!-- Preloader -->
	<div id="preloader" class="preloader">
		<div class="loader-cube">
			<div class="loader-cube__item1 loader-cube__item"></div>
			<div class="loader-cube__item2 loader-cube__item"></div>
			<div class="loader-cube__item4 loader-cube__item"></div>
			<div class="loader-cube__item3 loader-cube__item"></div>
		</div>
	</div>
	<!-- End Preloader -->


    <div id="pageWrapper" class="page-wrapper">
        <header id="mainHeader" class="main-header">

            <!-- Top Bar -->
            <div class="top-bar bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 is-hidden-sm-down">
                            <ul class="nav-top nav-top-left list-inline t-left">
                                <li><a href="/home/faq"><i class="fa fa-support"></i>Customer Support</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <ul class="nav-top nav-top-right list-inline t-xs-center t-md-right">
<?php if ($loader['user_id'] > 0): ?>
								<li><a href="/account"><i class="fa fa-user"></i>Account</a></li>
								<li><a href="/login/logout"><i class="fa fa-close"></i>Log Out</a></li>
<?php else: ?>
<?php if ($loader['vendor_id'] > 0): ?>
								<li><a href="/account"><i class="fa fa-dollar"></i>Vendor Account</a></li>
								<li><a href="/login/logout"><i class="fa fa-close"></i>Log Out</a></li>
<?php else: ?>
								<li><a href="/home/signin"><i class="fa fa-lock"></i>Sign In</a></li>
								<li><a href="/home/signup"><i class="fa fa-user"></i>Customer Sign Up</a></li>
								<li><a href="/home/signup-vendor"><i class="fa fa-dollar"></i>Vendor Sign Up</a></li>
<?php endif; ?>
<?php endif; ?>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Bar -->

            <!-- Header Header -->
            <div class="header-header bg-white">
                <div class="container">
                    <div class="row row-rl-0 row-tb-20 row-md-cell">
                        <div class="brand col-md-3 t-xs-center t-md-left valign-middle">
                            <a href="/" class="logo">
                                <img src="../../../uploads/dolla_logo.png" alt="" width="250">
                            </a>
                        </div>
                        <div class="header-search col-md-9">
                            <div class="row row-tb-10 ">
                                <div class="col-sm-8">
                                    <form class="search-form">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-lg search-input" placeholder="Enter Keywork Here ..." required="required">
                                            <div class="input-group-btn">
                                                <div class="input-group">
                                                    <select class="form-control input-lg search-select">
                                                        <option>Select Your Category</option>
                                                        <option>Deals</option>
                                                        <option>Coupons</option>
                                                        <option>Discounts</option>
                                                    </select>
                                                    <div class="input-group-btn">
                                                        <button type="submit" class="btn btn-lg btn-search btn-block">
                                                            <i class="fa fa-search font-16"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-4 t-xs-center t-md-right">
                                    <div class="header-wishlist ml-20">
<?php if ($loader['user_id'] > 0): ?>
										<a href="/deal/wishlist">
											<span class="icon lnr lnr-heart font-30"></span>
											<span class="title">Wish List</span>
										</a>
<?php else: ?>
<?php if ($loader['vendor_id'] > 0): ?>

<?php else: ?>
										<a href="javascript: wishlistError()">
											<span class="icon lnr lnr-heart font-30"></span>
											<span class="title">Wish List</span>
										</a>
<?php endif; ?>
<?php endif; ?>

										<script>
											function wishlistError() {
												swal('You must be logged in to use the wishlist feature.');
											}
										</script>
										
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Header -->

            <!-- Header Menu -->
            <div class="header-menu bg-blue">
                <div class="container">
                    <nav class="nav-bar">
                        <div class="nav-header">
                            <span class="nav-toggle" data-toggle="#header-navbar">
		                        <i></i>
		                        <i></i>
		                        <i></i>
		                    </span>
                        </div>
                        <div id="header-navbar" class="nav-collapse">
                            <ul class="nav-menu">
                                <li class="active">
                                    <a href="/">Home</a>
                                </li>
                                
                                <li class="dropdown-mega-menu">
                                    <a href="/deal/deal-grid">Deals</a>
                                    <div class="mega-menu">
                                        <div class="row row-v-10">
                                            <div class="col-md-3">
                                                <ul>
<?php foreach($loader['deal_types'] as $id => $data): ?>
										<li>
											<a href="/home/view-deals?deal_type_id=<?=$id?>">
												<i class="<?=$data['icon']?>"></i>
												<?=$data['name']?>
<?php if (isset($loader['deals'][$id])): ?>
												<span><?=count($loader['deals'][$id])?></span>
<?php else: ?>
												<span>0</span>
<?php endif; ?>												
											</a>
										</li>
<?php endforeach; ?>
                                                </ul>
                                            </div>
                                            
                                            <!-- 
                                            <div class="col-md-3">
                                                <figure class="deal-thumbnail embed-responsive embed-responsive-4by3" data-bg-img="../../../assets/images/deals/deal_03.jpg">
                                                    <div class="label-discount top-10 right-10">-15%</div>
                                                    <div class="deal-about p-10 pos-a bottom-0 left-0">
                                                        <div class="rating mb-10">
                                                            <span class="rating-stars rate-allow" data-rating="2">
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                    </span>
                                                        </div>
                                                        <h6 class="deal-title mb-10">
										                    <a href="deal_single.html" class="color-lighter">Aenean ut orci vel massa</a>
										                </h6>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure class="deal-thumbnail embed-responsive embed-responsive-4by3" data-bg-img="../../../assets/images/deals/deal_04.jpg">
                                                    <div class="label-discount top-10 right-10">-60%</div>
                                                    <div class="deal-about p-10 pos-a bottom-0 left-0">
                                                        <div class="rating mb-10">
                                                            <span class="rating-stars rate-allow" data-rating="3">
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                    </span>
                                                        </div>
                                                        <h6 class="deal-title mb-10">
										                    <a href="deal_single.html" class="color-lighter">Aenean ut orci vel massa</a>
										                </h6>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure class="deal-thumbnail embed-responsive embed-responsive-4by3" data-bg-img="../../../assets/images/deals/deal_05.jpg">
                                                    <div class="label-discount top-10 right-10">-60%</div>
                                                    <div class="deal-about p-10 pos-a bottom-0 left-0">
                                                        <div class="rating mb-10">
                                                            <span class="rating-stars rate-allow" data-rating="5">
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                        <i class="fa fa-star-o"></i>
										                    </span>
                                                        </div>
                                                        <h6 class="deal-title mb-10">
										                    <a href="deal_single.html" class="color-lighter">Aenean ut orci vel massa</a>
										                </h6>
                                                    </div>
                                                </figure>
                                            </div>
                                            
                                             -->
                                        </div>
                                    </div>
                                </li>
                                
                                <!-- 
                                <li>
                                    <a href="coupons_grid.html">Coupons</a>
                                    <ul>
                                        <li><a href="coupons_grid.html">Grid View</a>
                                        </li>
                                        <li><a href="coupons_grid_sidebar.html">Grid With Sidebar</a>
                                        </li>
                                        <li><a href="coupons_list.html">List View</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="stores_01.html">Stores</a>
                                    <ul>
                                        <li><a href="stores_01.html">Stores Search</a>
                                        </li>
                                        <li><a href="stores_02.html">Stores Categories</a>
                                        </li>
                                        <li><a href="store_single_01.html">Store Single 1</a>
                                        </li>
                                        <li><a href="store_single_02.html">Store Single 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact_us_01.html">Contact Us</a>
                                    <ul>
                                        <li><a href="contact_us_01.html">Contact Us 1</a>
                                        </li>
                                        <li><a href="contact_us_02.html">Contact Us 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                    <ul>
                                        <li>
                                            <a href="#">Classic View</a>
                                            <ul>
                                                <li><a href="blog_classic_right_sidebar.html">Right Sidenar</a>
                                                </li>
                                                <li><a href="blog_classic_left_sidebar.html">Left Sidebar</a>
                                                </li>
                                                <li><a href="blog_classic_fullwidth.html">Full Width</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Grid View</a>
                                            <ul>
                                                <li><a href="blog_grid_3col.html">3 Columns</a>
                                                </li>
                                                <li><a href="blog_grid_2col.html">2 Columns</a>
                                                </li>
                                                <li><a href="blog_grid_right_sidebar.html">Right Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">List View</a>
                                            <ul>
                                                <li><a href="blog_list_right_sidebar.html">Right Sidenar</a>
                                                </li>
                                                <li><a href="blog_list_left_sidebar.html">Left Sidebar</a>
                                                </li>
                                                <li><a href="blog_list_fullwidth.html">Full Width</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Blog Single</a>
                                            <ul>
                                                <li><a href="blog_single_standard.html">Standard Post</a>
                                                </li>
                                                <li><a href="blog_single_gallery.html">Gallery Post</a>
                                                </li>
                                                <li><a href="blog_single_youtube.html">Youtube Video</a>
                                                </li>
                                                <li><a href="blog_single_vimeo.html">Vimeo Video</a>
                                                </li>
                                                <li><a href="blog_single_map.html">Google Map</a>
                                                </li>
                                                <li><a href="blog_single_quote.html">Quote Post</a>
                                                </li>
                                                <li><a href="blog_single_audio.html">Audio Post</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="index-2.html">Home Default</a>
                                        </li>
                                        <li><a href="signin.html">Sign In</a>
                                        </li>
                                        <li><a href="signup.html">Sign Up</a>
                                        </li>
                                        <li><a href="404.html">404 Page</a>
                                        </li>
                                        <li><a href="faq.html">FAQ Page</a>
                                        </li>
                                        <li><a href="cart.html">Cart Page</a>
                                        </li>
                                        <li>
                                            <a href="checkout_method.html">Checkout</a>
                                            <ul>
                                                <li><a href="checkout_method.html">Checkout method</a>
                                                </li>
                                                <li><a href="checkout_billing.html">Billing Information</a>
                                                </li>
                                                <li><a href="checkout_payment.html">Payment Information</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us</a>
                                            <ul>
                                                <li><a href="contact_us_01.html">Contact Us 1</a>
                                                </li>
                                                <li><a href="contact_us_02.html">Contact Us 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Deals Pages</a>
                                            <ul>
                                                <li><a href="deals_grid.html">Grid View</a>
                                                </li>
                                                <li><a href="deals_list.html">List View</a>
                                                </li>
                                                <li><a href="deal_single.html">Deal Single</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Coupons Pages</a>
                                            <ul>
                                                <li><a href="coupons_grid.html">Grid View</a>
                                                </li>
                                                <li><a href="coupons_grid_sidebar.html">Grid With Sidebar</a>
                                                </li>
                                                <li><a href="coupons_list.html">List View</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="terms_conditions.html">Terms &amp; conditions</a>
                                        </li>
                                    </ul>
                                </li>
                                 -->
                            </ul>
                        </div>
                        <!--
                        <div class="nav-menu nav-menu-fixed">
                            <a href="#">Get Quote</a>
                        </div>
                        -->
                    </nav>
                </div>
            </div>
            <!-- End Header Menu -->

        </header>