<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Joe Ahart" />
	
	<link rel="icon" type="image/png" sizes="16x16" href="../../../admin/vital.png">

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/style.css?ts=<?=time()?>&quot;" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/grid.css?ts=<?=time()?>&quot;" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="../../../canvas/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="../../../canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<script type="text/javascript" src="../../../canvas/js/jquery.js"></script>
	
	<link href="../../../css/fontawesome-pro-5.0.1/web-fonts-with-css/css/fontawesome-all.min.css" id="theme" rel="stylesheet">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
	<script src="../../../js/charts/utils.js"></script>
	
<?php if ($loader['page'] != 'web'): ?>
	<script src="../../../admin/plugins/echarts/echarts-all.js"></script>
	<script src="../../../admin/plugins/echarts/echarts.js"></script>
<?php endif; ?>

	<!-- Document Title
	============================================= -->
	<title>Vital Signz - Web</title>

<style>
.device-lg #slider .emphasis-title h1 { font-size: 52px; }
.device-md #slider .emphasis-title h1 { font-size: 44px; }
</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header">

			<div id="header-wrap" style="background-color: #ED1C24;">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder" style="color: white;"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">

							<a href="/web" class="standard-logo" data-dark-logo="../../../uploads/vital_head_logo.png"><img src="../../../uploads/vital_head_logo.png" alt="Vital Signz Logo"></a> 
 							<a href="/web" class="retina-logo" data-dark-logo="../../../uploads/vital_head_logo.png"><img src="../../../uploads/vital_head_logo.png" alt="Vital Signz Logo"></a> 
							
<!-- 						<a href="index.html" class="standard-logo" data-dark-logo="../../../canvas/images/logo-dark.png"><img src="../../../canvas/images/logo.png" alt="Canvas Logo"></a> -->
<!-- 						<a href="index.html" class="retina-logo" data-dark-logo="../../../canvas/images/logo-dark@2x.png"><img src="../../../canvas/images/logo@2x.png" alt="Canvas Logo"></a> -->
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">
						
						<ul style="color: white !important;">
<?php if ($loader['page'] == 'web'): ?>
							<li><a href="/web" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Home</div></a></li>
<?php else: ?>
							<li><a href="/web" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Home</div></a></li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/steps'): ?>
							<li><a href="/web/steps" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Steps</div></a></li>
<?php else: ?>
							<li><a href="/web/steps" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Steps</div></a></li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/diet'): ?>
							<li><a href="/web/diet" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Diet</div></a></li>
<?php else: ?>
							<li><a href="/web/diet" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Diet</div></a></li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/blood'): ?>
							<li><a href="/web/blood" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">BP</div></a></li>
<?php else: ?>
							<li><a href="/web/blood" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">BP</div></a></li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/meds'): ?>
							<li><a href="/web/meds" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Meds</div></a></li>
<?php else: ?>
							<li><a href="/web/meds" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Meds</div></a></li>
<?php endif; ?>

<?php if ($loader['page'] == 'web/tests'): ?>
							<li><a href="/web/tests" class="" style="background-color: white; cursor: auto;"><div style="color: #ED1C24;">Tests</div></a></li>
<?php else: ?>
							<li><a href="/web/tests" class="nav_btn_bg"><div class="nav_btn_label" style="color: white">Tests</div></a></li>
<?php endif; ?>

					
							<li><a href="#" class="nav_btn_bg"><div class="nav_btn_label" style="color: white !important;">Extra</div></a>
								<ul>
									<li>
										<div class="row">
											<div class="col-lg-6" style="padding-right: 0;">
												<div style="height: 75px; color: #ED1C24; text-align: center; line-height: 20px; padding-top: 20px; border: 1px solid grey; cursor: pointer;">
													<i class="fa fa-cogs" style="color: black; font-size: 125%;"></i>
													<div>Settings</div>
												</div>
											</div>
											<div class="col-lg-6" style="padding-left: 0;">
												<div style="height: 75px; color: #ED1C24; text-align: center; line-height: 20px; padding-top: 20px; border: 1px solid grey; cursor: pointer;">
													<i class="fa fa-plus-circle" style="color: black; font-size: 125%;"></i>
													<div>Add Test</div>
												</div>
											</div>
											<div class="col-lg-6" style="padding-right: 0;">
												<div style="height: 75px; color: #ED1C24; text-align: center; line-height: 20px; padding-top: 20px; border: 1px solid grey; cursor: pointer;">
													<i class="fa fa-eye" style="color: black; font-size: 125%;"></i>
													<div>View Tests</div>
												</div>
											</div>
											<div class="col-lg-6" style="padding-left: 0;">
												<div style="height: 75px; color: #ED1C24; text-align: center; line-height: 20px; padding-top: 20px; border: 1px solid grey; cursor: pointer;">
													<i class="fa fa-book" style="color: black; font-size: 125%;"></i>
													<div>Guide</div>
												</div>
											</div>
											<div class="col-lg-12">
												<div style="height: 75px; color: #ED1C24; text-align: center; line-height: 20px; padding-top: 20px; border: 1px solid grey; cursor: pointer;">
													<i class="fa fa-users" style="color: black; font-size: 125%;"></i>
													<div>Account</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							
							<li><a href="#" class="nav_btn_bg"><div class="nav_btn_label" style="color: white !important;"><i class="fa fa-user"></i></div></a>
								<ul>
									<li>
										<div style="color: grey; text-align: center; padding: 3em;">
											<?=$_SESSION['user']['ZFIRSTNAME']?> <?=$_SESSION['user']['ZLASTNAME']?>
										</div>
										<div class="button btn" style="width: 100%;" onclick="javascript: logout()">Log Out</div>
									</li>
								</ul>
							</li>
							
						</ul>
						
						<script>
							$( ".nav_btn_bg" ).hover(
							  function() {
								  $( this ).find( ".nav_btn_label" ).css('color', '#ED1C24');
								  $( this ).css('background-color', 'white');
							    //document.getElementById().style.backgroundColor = '';
							  }, function() {
								  $( this ).find( ".nav_btn_label" ).css('color', 'white');
								  $( this ).css('background-color', '#ED1C24');
							  }
							);

							function logout () {
								window.location.href = '/home/logoutAction';
							}
						</script>
						
						<style>
							.nav_active {
								
							}
						</style>

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3" style="color: white;"></i><i class="icon-line-cross"></i></a>
							<form action="/search" method="get">
								<input id="q" type="text" name="q" class="q form-control" value="" style="color: white;" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->
