		<section id="content">
			<div id="main_box" class="" style="padding: 0; position :relative;">
		
					<div id="bar-chart" style="width: 1200px; height:400px;"></div>
					
					<script type="text/javascript">
					var dom = document.getElementById("bar-chart");
					var mytempChart = echarts.init(dom);
					var app = {};
					option = null;
					option = {
					   
					    tooltip : {
					        trigger: 'axis'
					    },
					    legend: {
					        data:['Diastolic','Systolic'],
					        display: false
					    },
					    toolbox: {
					        show : true,
					        feature : {
					            magicType : {show: true, type: ['line', 'bar']},
					            restore : {show: true},
					            saveAsImage : {show: true}
					        }
					    },
					    color: ["#55ce63", "#009efb"],
					    calculable : true,
					    xAxis : [
					        {
					            type : 'category',

					            boundaryGap : false,
					            data : [
<?php foreach ($days as $i => $day): ?>
									'<?=$day?>', 
<?php endforeach; ?>
								]
					        }
					    ],
					    yAxis : [
					        {
					            type : 'value',
					        }
					    ],

					    series : [
					        {
					            name:'Diastolic',
					            type:'line',
					            color:['#000'],
					            data:[
<?php foreach ($totals as $date => $data): ?>
						            <?=$data['avg_dia']?>, 
<?php endforeach; ?>
						            ],
					            markPoint : {
					                data : [
					                    {type : 'max', name: 'Max'},
					                    {type : 'min', name: 'Min'}
					                ]
					            },
					            itemStyle: {
					                normal: {
					                    lineStyle: {
					                        shadowColor : 'rgba(0,0,0,0.3)',
					                        shadowBlur: 10,
					                        shadowOffsetX: 8,
					                        shadowOffsetY: 8 
					                    }
					                }
					            },        
					            markLine : {
					                data : [
					                    {type : 'average', name: 'Average'}
					                ]
					            }
					        },
					        {
					            name:'Systolic',
					            type:'line',
					            data:[
<?php foreach ($totals as $date => $data): ?>
										<?=$data['avg_sys']?>, 
<?php endforeach; ?>
						            ],
// 					            markPoint : {
// 					                data : [
// 					                    {name : 'Week minimum', value : -2, xAxis: 1, yAxis: -1.5}
// 					                ]
// 					            },
					            itemStyle: {
					                normal: {
					                    lineStyle: {
					                        shadowColor : 'rgba(0,0,0,0.3)',
					                        shadowBlur: 10,
					                        shadowOffsetX: 8,
					                        shadowOffsetY: 8 
					                    }
					                }
					            }, 
					            markLine : {
					                data : [
					                    {type : 'average', name : 'Average'}
					                ]
					            }
					        }
					    ]
					};

					if (option && typeof option === "object") {
					    mytempChart.setOption(option, true), $(function() {
					            function resize() {
					                setTimeout(function() {
					                    mytempChart.resize()
					                }, 100)
					            }
					            $(window).on("resize", resize), $(".sidebartoggler").on("click", resize)
					        });
					}

					</script>
		
					
					<div style="border-bottom: 1px solid #ED1C24; line-height: 10px;">&nbsp;</div>
					<table style="width: 100%; font-size: 150%;">
						<tr>
							<th style="width: 50%; padding: 1em;">
								BLOOD PRESSURE
							</th>
							<th style="width: 50%; padding: 1em 1em 1em 0;">
								Systolic / Diastolic
							</th>
						</tr>
<?php foreach ($bp as $i => $data): ?>
						<tr>
							<td style="text-align: right; padding-right: 20px; font-weight: bold; color: #1c75ea;"><?=date('M d, Y h:i A', $data['ZDATE'] + 978307200)?></td>
							<td style="text-align: left; font-weight: bold;"><?=$data['ZSYSTOLIC']?> / <?=$data['ZDIASTOLIC']?></td>
						</tr>
<?php endforeach; ?>
					</table>
			</div>
		</section>
		
		<script>
			if (document.documentElement.clientWidth > 1203) {
				$("#main_box").addClass("content-wrap container clearfix");

// 				setTimeout(function () {
// 					alert('test');
// 					document.getElementById('bar-chart').style.width = '100px';
// 				}, 500);
				
				
			}
			// fire when below 1203
			else {
			}
	
			window.addEventListener("resize", function(){
			    // fire when above 1203
			    if (document.documentElement.clientWidth > 1203) {
			    	$("#main_box").addClass("content-wrap container clearfix");
			    }
			    // fire when below 1203
			    else {
			    	$("#main_box").removeClass("content-wrap container clearfix");
			    }
			}, true);
		</script>
		
		<style>
	
			#canvas2_box {
				display: none;	
			}
				
			@media screen and (max-width: 1080px) {

				#canvas1_box {
					display: none;
				}
				
				#canvas2_box {
					display: block;	
				}
			}
		</style>