<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row clearfix">

						<div class="col-sm-9">

							<div class="heading-block noborder">
								<h3>Welcome to Vital Signz</h3>
							</div>

							<div class="clear"></div>

							<div class="row clearfix">

								<div class="col-md-12">

									<div class="tabs tabs-alt clearfix" id="tabs-profile">

										<ul class="tab-nav clearfix">
											<li><a href="#tab-feeds"><i class="icon-rss2"></i> Alerts</a></li>
											<li><a href="#tab-posts"><i class="icon-pencil2"></i> Timeline</a></li>
											<li><a href="#tab-replies"><i class="icon-reply"></i> Messages</a></li>
<!-- 											<li><a href="#tab-connections"><i class="icon-users"></i> Connections</a></li> -->
										</ul>

										<div class="tab-container">

											<div class="tab-content clearfix" id="tab-feeds">

												<canvas id="canvas" width="400" height="200"></canvas>
												<script>
											        var config = {
											            type: 'line',
											            data: {
											                labels: ["T", "W", "T", "F", "S", "S", "M"],
											                datasets: [{
											                    label: "Some Metric",
											                    fill: false,
											                    backgroundColor: '#ED1C24',
											                    borderColor: '#ED1C24',
											                    data: [
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor()
											                    ],
											                },{
											                    label: "Other Metric",
											                    fill: false,
											                    backgroundColor: 'blue',
											                    borderColor: 'blue',
											                    data: [
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor(),
											                        randomScalingFactor()
											                    ],
											                }]
											            },
											            options: {
											                responsive: true,
											                title:{
											                    display:true,
											                    text:'Your daily goals'
											                },
											                tooltips: {
											                    mode: 'index',
											                    intersect: false,
											                },
											                hover: {
											                    mode: 'nearest',
											                    intersect: true
											                },
											                scales: {
											                    xAxes: [{
											                        display: true,
											                        scaleLabel: {
											                            display: true,
											                            labelString: 'Month'
											                        }
											                    }],
											                    yAxes: [{
											                        display: true,
											                        scaleLabel: {
											                            display: true,
											                            labelString: 'Value'
											                        }
											                    }]
											                }
											            }
											        };
											
											        window.onload = function() {
											            var ctx = document.getElementById("canvas").getContext("2d");
											            window.myLine = new Chart(ctx, config);
											        };
											    </script>

												

											</div>
											<div class="tab-content clearfix" id="tab-posts">

												<div class="table-responsive">
													<table class="table table-bordered table-striped">
														<colgroup>
															<col class="col-xs-2">
															<col class="col-xs-6">
														</colgroup>
														<thead>
															<tr>
																<th>Time</th>
																<th>Activity</th>
															</tr>
														</thead>
														<tbody>
<?php foreach ($activity as $id => $data): ?>
															<tr>
																<td><code><?=$data['created_date']?></code></td>
																<td><?=$data['action']?></td>
															</tr>
<?php endforeach; ?>					
														</tbody>
													</table>
												</div>

											</div>
											<div class="tab-content clearfix" id="tab-replies">

												<div class="clear topmargin-sm"></div>
												<ol class="commentlist noborder nomargin nopadding clearfix">
													<li class="comment even thread-even depth-1" id="li-comment-1">
														<div id="comment-1" class="comment-wrap clearfix">
															<div class="comment-meta">
																<div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>
																</div>
															</div>
															<div class="comment-content clearfix">
																<div class="comment-author">John Doe<span><a href="#" title="Permalink to this comment">April 24, 2012 at 10:46 am</a></span></div>
																<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
																<a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
															</div>
															<div class="clear"></div>
														</div>
														<ul class='children'>
															<li class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">
																<div id="comment-3" class="comment-wrap clearfix">
																	<div class="comment-meta">
																		<div class="comment-author vcard">

																			<span class="comment-avatar clearfix">
																			<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=40&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>

																		</div>
																	</div>
																	<div class="comment-content clearfix">
																		<div class="comment-author"><a href='#' rel='external nofollow' class='url'>SemiColon</a><span><a href="#" title="Permalink to this comment">April 25, 2012 at 1:03 am</a></span></div>

																		<p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

																		<a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
																	</div>
																	<div class="clear"></div>
																</div>
															</li>
														</ul>
													</li>

													<li class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1" id="li-comment-2">
														<div class="comment-wrap clearfix">
															<div class="comment-meta">
																<div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G' class='avatar avatar-60 photo' height='60' width='60' /></span>
																</div>
															</div>
															<div class="comment-content clearfix">
																<div class="comment-author"><a href='http://themeforest.net/user/semicolonweb' rel='external nofollow' class='url'>SemiColon</a><span><a href="#" title="Permalink to this comment">April 25, 2012 at 1:03 am</a></span></div>

																<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

																<a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
															</div>
															<div class="clear"></div>
														</div>
													</li>

												</ol>

											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

						<div class="line visible-xs-block"></div>

						<div class="col-sm-3 clearfix">

							<div class="list-group">
								<a href="#" class="list-group-item clearfix">Profile <i class="icon-user pull-right"></i></a>
								<a href="#" class="list-group-item clearfix">Settings <i class="icon-cog pull-right"></i></a>
								<a href="/home/logoutAction" class="list-group-item clearfix">Logout <i class="icon-line2-logout pull-right"></i></a>
							</div>

							<div class="fancy-title topmargin title-border">
								<h4>Message Of The Day</h4>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laboriosam, dignissimos veniam obcaecati. Quasi eaque, odio assumenda porro explicabo laborum!</p>

						</div>

					</div>

				</div>

			</div>

		</section>
		
		
		<script>

		</script>
		
		
		
		
		
		