
    <div class="single-product-area">
        <div class="container">
            <div class="row" style="margin-top: 25px;">
				<div class="product-breadcroumb" style="z-index: 10001;">
					<a href="/">Something</a>
					<a href="/">Test</a>
				</div>
                <div class="col-md-9">
                		
                    <div class="product-content-right">
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name" style="font-size: 175%;">Name</h2>
                                    <div class="product-inner-price">
                                        <ins>$10</ins> <del>$<?=(10 + 5) . '.00'?></del>
                                    </div>    
                                    <form action="" class="cart">
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </form>   
                                    <div class="product-inner-category">
                                        <p>Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="../../../images/pic03.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                    	<div class="col-sm-12">
                    		<div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>  
                                                Test Data
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                    <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                    <div class="rating-chooser">
                                                        <p>Your rating</p>

                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                    <p><input type="submit" value="Submit"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    	</div>
                    </div>                
                </div>
                <div class="col-md-3">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Programs</h2>
                        <form action="">
                            <input type="text" placeholder="Search products...">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Similar Programs</h2>
                        <div class="thubmnail-recent">
                            <img src="../../../images/pic01.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Thing</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$10</ins> <del>$<?=(10 + 5) . '.00'?></del>
                            </div>                             
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Related Blogs</h2>
                        <ul>
							<li><a href="/">Thing 2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

